extends ../layouts/layout__primary


block title
	title!='Ideas Populares - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item.selected
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li.active
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		//- DFRONT: se añade la clase tlf-show para que en la vista tablet y movil, la modal ocupe el 100%
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						a.tlf-btn.tlf-btn--nofloat(href="#" title="Comparte tu idea" data-toggle="modal" data-target="#tlf-add") Comparte tu idea
						form.tlf-form.tlf-form--simple(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="buscar")
								input.tlf-form__search(type="search" id="buscar")
								label.u-hideAccessible(for="busqueda")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				.row
					.col-lg-4.col-md-12.col-sm-12
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Ideas Populares
							ul.tlf-news__list
								//- DFRONT: se añade la clase 'panel' para hacer efecto acordeón - Hacer en todos los li
								li.tlf-news__item.panel
									//- DFRONT: este enlace es para la versión mobile - Se añade la clase 'collapsed' y el data-parent='.tlf-news__list' para el efecto acordeón, ésta clase es el ul que engloba
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Comunicaciones vía Whatsapp" data-toggle="collapse" data-parent=".tlf-news__list") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									//- DFRONT: se deja el href con una almohadilla y se le quita el data-toggle para que siempre muestre la descripcíón a la derecha
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									//- DFRONT: esto es el contenido que despliega en mobile - '.panel-collapse.collapse', estas clases también son para el efecto acordeón
									#comunicaciones.collapse.tlf-news--tblMbl.panel-collapse.collapse
										article.tlf-news.tlf-news__description
											span.tlf-news__description__number Votos: 50
												a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
												a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
											h2.tlf-news__title Comunicaciones v&iacute;a Whatsapp
											span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-08-24 22:14:06
											span.tlf-news__description__date Publicado por: ERICH OBLITAS
											p.tlf-news__description__text Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas
											span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
											a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
								//- DFRONT: se añade la clase 'panel' para hacer efecto acordeón - Hacer en todos los li
								li.tlf-news__item.panel
									//- DFRONT: este enlace es para la versión mobile - Se añade la clase 'collapsed' y el data-parent='.tlf-news__list' para el efecto acordeón, ésta clase es el ul que engloba
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#noticias" title="noticias telefónica" data-toggle="collapse" data-parent=".tlf-news__list") noticias telef&oacute;nica
										span.tlf-news__text 20
									//- DFRONT: esto es el contenido que despliega en mobile - '.panel-collapse.collapse', estas clases también son para el efecto acordeón
									#noticias.collapse.tlf-news--tblMbl.panel-collapse.collapse
										article.tlf-news.tlf-news__description
											span.tlf-news__description__number Votos: 20
												a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
												a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
											h2.tlf-news__title noticias telef&oacute;nica
											span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-01-15 12:36:50
											span.tlf-news__description__date Publicado por: Jordi Malo Rovira
											p.tlf-news__description__text detalle de la prueba de noticias
											span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
											a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="noticias telefónica") noticias telef&oacute;nica
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="a") a
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="a") a
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Telefónica Business Solution") Telef&oacute;nica Business Solution
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Telefónica Business Solution") Telef&oacute;nica Business Solution
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Activación se servicio") Activaci&oacute;n se servicio
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Activación se servicio") Activaci&oacute;n se servicio
										span.tlf-news__text 50
							a.tlf-btn__more.tlf-btn__more--right(href="#" title="mostrar más") >>
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Mis ideas
						section.tlf-news.tlf-news--mrg.tlf-news__pdd.tlf-news__df
							h2.tlf-news__title Ideas recientes
							ul.tlf-news__list
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Nueva idea Platino") Nueva idea Platino
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Nueva idea Platino") Nueva idea Platino
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Consultas vía chat") Consultas v&iacute;a chat
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Consultas vía chat") Consultas v&iacute;a chat
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Gestión de incidencias") Gesti&oacute;n de incidencias
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Gestión de incidencias") Gesti&oacute;n de incidencias
										span.tlf-news__text 50
								li.tlf-news__item
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--small.collapsed(href="#comunicaciones" title="Nuevas funcionalidades") Nuevas funcionalidades
										span.tlf-news__text 10
									a.tlf-news__link.tlf-news__link--pdd.tlf-news__link--big(href="#" title="Nuevas funcionalidades") Nuevas funcionalidades
										span.tlf-news__text 50
							a.tlf-btn__more.tlf-btn__more--right(href="#" title="mostrar más") >>
					.col-lg-8.col-md-12.col-sm-12
						//- DFRONT: Se añade la clase "tlf-news__dsk" para mostrar el contenido en escritorio pero ocultarlo en versión mobile, también hay que eliminar el dis superior que contiene el id y la clase collapse, se elimina el div completo
						article.tlf-news.tlf-news__description.tlf-news__dsk
							span.tlf-news__description__number Votos: 50
								a.tlf-news__description__number--ok(href="#" title="me gusta") Me gusta
								a.tlf-news__description__number--ko(href="#" title="no me gusta") No me gusta
							h2.tlf-news__title Comunicaciones v&iacute;a Whatsapp
							span.tlf-news__description__date Fecha de creaci&oacute;n: 2016-08-24 22:14:06
							span.tlf-news__description__date Publicado por: ERICH OBLITAS
							p.tlf-news__description__text Ser&iacute;a posible asignar un n&uacute;mero formal de telef&oacute;nica, tal como se realiza en los medios de comunicaci&oacute;n, en los cuales un usuario corporativo pueda ingresar sus solicitudes/requerimientos v&iacute;a whatsapp y luego estos se conviertan en solicitudes formales en el sistema de Telef&oacute;nica&quest; Saludos Cordiales Erich Oblitas
							span.tlf-news__description__date.tlf-news__description--last [0] Comentario/s
							a.tlf-btn.tlf-btn--tab(href="#" title="Añadir comentario" data-toggle="modal" data-target="#tlf-comment") A&ntilde;adir comentario
		//- modal añadir comentario
		.modal.fade.tlf-new__modal#tlf-comment(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend A&ntilde;adir comentario
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label.u-hideAccessible(for="descripción2") Descripci&oacute;n
									textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="descripción2" name="descripción2")
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar")
									input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
		//- end modal añadir comentario
		//- modal añadir idea
		.modal.fade.tlf-new__modal#tlf-add(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend A&ntilde;adir idea
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="titulo") T&iacute;tulo*
									input.tlf-new__modal__input(type="text" id="titulo")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="cuerpo") Cuerpo*
									input.tlf-new__modal__input.tlf-new__modal__input--taller(type="textarea" id="cuerpo")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label *Informaci&oacute;n Obligatoria
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar")
									input.tlf-btn.tlf-hideDesktop(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
		//- end modal añadir idea
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:










