extends ../layouts/layout__primary


block title
	title!='Ideas Corner - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item.selected
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li.active
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					section.tlf-news.tlf-news__scroller
						h2.tlf-title &Uacute;ltimas noticias
						.tlf-scroller(data-function='data-scroller')
							.carousel-inner
								.tlf-scroller__item.active.item
									a.tlf-scroller__link(href="#" title="Telefónica emite bonos por 1.750 mln en dos tramos - Investing.com España") Telef&oacute;nica emite bonos por 1.750 mln en dos tramos - Investing.com Espa&ntilde;a
								.tlf-scroller__item.item
									a.tlf-scroller__link(href="#" title="Osiptel confirmó multa por más de un millón de soles a Telefónica ... - Diario Perú21") Osiptel confirm&oacute; multa por más de un mill&oacute;n de soles a Telef&oacute;nica ... - Diario Per&uacute;21
								.tlf-scroller__item.item
									a.tlf-scroller__link(href="#" title="App de la guía telefónica del ICE tendrá geolocalización - Periódico La República (Costa Rica)") App de la gu&iacute;a telef&oacute;nica del ICE tendr&aacute; geolocalizaci&oacute;n - Peri&oacute;dico La Rep&uacute;blica (Costa Rica)
			.row
				.col-lg-8.col-md-12.col-sm-12
					section.tlf-carousel.carousel_wrapper(data-function='data-carousel')
						.tlf-carousel__container.cloud_carousel
							a.tlf-carousel__link(href="#" title="Aula Móvil Cusco")
								figure.tlf-carousel__cont-img
									img.tlf-carousel__img(alt="Aula Móvil Cusco - Ferrán Adriá" class="cloudcarousel" height="160" src="./assets/img/contents/FundaciónTEF.jpg" title="El reconocido cheff e innovador internacional, Ferran Adri&aacute;, estuvo en el lanzamiento de Aula M&oacute;vil, en Andahuaylillas -Cusco. Él considera que la educación va a cambiar el mundo." width="160")
							a.tlf-carousel__link(href="#" title="Cuando las palabras ya no alcanzan")
								figure.tlf-carousel__cont-img
									img.tlf-carousel__img(alt="Cuando las palabras ya no alcanzan" class="cloudcarousel" height="160" src="./assets/img/contents/LaVidaTeLlama-Perú.png" title="Gracias a la tecnología podemos conocer lugares como si estuviéramos ahí, pero la verdad es que no hay nada como viajar y experimentarlos en persona." width="160")
							a.tlf-carousel__link(href="#" title="M2M world")
								figure.tlf-carousel__cont-img
									img.tlf-carousel__img(alt="M2M world" class="cloudcarousel" height="160" src="./assets/img/contents/M2M-SIM-o2-Telefonica-Deutschland-Blog-210.jpg" title="La visión sobre el mundo M2M de Telefónica" width="160")
							a.tlf-carousel__link(href="#" title="Previene o reporta el Grooming - Seguros en Internet")
								figure.tlf-carousel__cont-img
									img.tlf-carousel__img(alt="Previene o reporta el Grooming - Seguros en Internet" class="cloudcarousel" height="160" src="./assets/img/contents/InternetSeguroPerú-2.jpg" title="Estamos comprometidos con la seguridad e integridad de los más pequeños. Te invitamos a conocer y visitar www.seguroseninternet.org." width="160")
							a.tlf-carousel__link(href="#" title="The Other Billion")
								figure.tlf-carousel__cont-img
									img.tlf-carousel__img(alt="The Other Billion" class="cloudcarousel" height="160" src="./assets/img/contents/The_Other_Billion.png" title="Telefónica trabaja por la inclusión de 1.000 millones de personas que conviven con la discapacidad en el mundo." width="160")
							a.tlf-carousel__link(href="#" title="Transformación Telefónica Empresas")
								figure.tlf-carousel__cont-img
									img(alt="Transformación Telefónica Empresas" class="cloudcarousel" height="160" src="./assets/img/contents/TransformarPeru.jpg" title="Telefónica del Perú se transforma para sus clientes del segmento Empresas" width="160")
							.tlf-carousel__contText
								h2.tlf-carousel__title(data-function='data-carousel__title')
								span.tlf-carousel__subTitle(data-function='data-carousel__subTitle')
							.tlf-carousel__button.tlf-carousel__button--left(data-function='data-carousel__buttonLeft')
							.tlf-carousel__button.tlf-carousel__button--right(data-function='data-carousel__buttonRight')
					section.tlf-carousel--mobile
						div(data-function='data-carousel--mobile')
							a.tlf-carousel__link(href="#" title="Aula Móvil Cusco")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="Aula Móvil Cusco - Ferrán Adriá" class="cloudcarousel" src="./assets/img/contents/FundaciónTEF.jpg" title="El reconocido cheff e innovador internacional, Ferran Adri&aacute;, estuvo en el lanzamiento de Aula M&oacute;vil, en Andahuaylillas -Cusco. Él considera que la educación va a cambiar el mundo.")
							a.tlf-carousel__link(href="#" title="Cuando las palabras ya no alcanzan")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="Cuando las palabras ya no alcanzan" src="./assets/img/contents/LaVidaTeLlama-Perú.png" title="Gracias a la tecnología podemos conocer lugares como si estuviéramos ahí, pero la verdad es que no hay nada como viajar y experimentarlos en persona.")
							a.tlf-carousel__link(href="#" title="M2M world")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="M2M world" class="cloudcarousel" src="./assets/img/contents/M2M-SIM-o2-Telefonica-Deutschland-Blog-210.jpg" title="La visión sobre el mundo M2M de Telefónica")
							a.tlf-carousel__link(href="#" title="Previene o reporta el Grooming - Seguros en Internet")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="Previene o reporta el Grooming - Seguros en Internet" class="cloudcarousel" src="./assets/img/contents/InternetSeguroPerú-2.jpg" title="Estamos comprometidos con la seguridad e integridad de los más pequeños. Te invitamos a conocer y visitar www.seguroseninternet.org.")
							a.tlf-carousel__link(href="#" title="The Other Billion")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="The Other Billion" class="cloudcarousel" src="./assets/img/contents/The_Other_Billion.png" title="Telefónica trabaja por la inclusión de 1.000 millones de personas que conviven con la discapacidad en el mundo.")
							a.tlf-carousel__link(href="#" title="Transformación Telefónica Empresas")
								figure.tlf-carousel__cont-img
									img.reflect.tlf-carousel__img(alt="Transformación Telefónica Empresas" class="cloudcarousel" src="./assets/img/contents/TransformarPeru.jpg" title="Telefónica del Perú se transforma para sus clientes del segmento Empresas")
				.col-lg-4.col-md-12.col-sm-12
					article.tlf-news.tlf-news--mrg.tlf-news__article
						h2.tlf-news__title Mis noticias sectoriales
						ul.tlf-news__list
							li.tlf-news__item
								a.tlf-news__link(href="#" title="CatálogoSlider") Cat&aacute;logoSlider
									span.tlf-news__text 22/06/2015
							li.tlf-news__item
								a.tlf-news__link(href="#" title="Google") Google
									span.tlf-news__text 22/06/2015
			.row
				.col-lg-6.col-md-12.col-sm-12
					article.tlf-news.tlf-news--mrg
						ul.nav.nav-tabs
							li.active
								a.tlf-news__title(data-toggle="tab" href="#tab1" title="Ideas Populares") Ideas Populares
							li
								a.tlf-news__title(data-toggle="tab" href="#tab2" title="Ideas recientes") Ideas recientes
							li
								a.tlf-news__title(data-toggle="tab" href="#tab3" title="Mis ideas") Mis ideas
						span.tlf-icon--like Like
						.tab-content
							#tab1.tab-pane.fade.in.active
								ul.tlf-news__list
									li.tlf-news__item
										a.tlf-news__link.tlf-news__link--pdd(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
											span.tlf-news__text 40
									li.tlf-news__item
										a.tlf-news__link.tlf-news__link--pdd(href="#" title="noticias telefónica") noticias telef&oacute;nica
											span.tlf-news__text 20
									li.tlf-news__item
										a.tlf-news__link.tlf-news__link--pdd(href="#" title="a") a
											span.tlf-news__text 10
									li.tlf-news__item
										a.tlf-news__link.tlf-news__link--pdd(href="#" title="Telefónica Business Solution") Telef&oacute;nica Business Solution
											span.tlf-news__text 10
									li.tlf-news__item
										a.tlf-news__link.tlf-news__link--pdd(href="#" title="Activación se servicio") Activaci&oacute;n se servicio
											span.tlf-news__text 10
								a.tlf-btn__more(href="#" title="mostrar más") >>
								a.tlf-btn.tlf-btn--tab(href="#" title="Comparte tu idea") Comparte tu idea
							#tab2.tab-pane.fade
								ul.tlf-news__list
									li.tlf-news__item
										a.tlf-news__link(href="#" title="Comunicaciones vía Whatsapp") Comunicaciones v&iacute;a Whatsapp
											span.tlf-news__text 40
									li.tlf-news__item
										a.tlf-news__link(href="#" title="Nueva idea Platino") Nueva idea Platino
											span.tlf-news__text 10
									li.tlf-news__item
										a.tlf-news__link(href="#" title="Consultas vía chat") Consultas v&iacute;a chat
											span.tlf-news__text 10
									li.tlf-news__item
										a.tlf-news__link(href="#" title="Gestión de incidencias") Gesti&oacute;n de incidencias
											span.tlf-news__text 10
									li.tlf-news__item
										a.tlf-news__link(href="#" title="Nuevas funcionalidades") Nuevas funcionalidades
											span.tlf-news__text 10
								a.tlf-btn__more.tlf-btn(href="#" title="mostrar más") >>
								a.tlf-btn.tlf-btn--tab(href="#" title="Comparte tu idea") Comparte tu idea
							#tab3.tab-pane.fade
								a.tlf-btn.tlf-btn--tab(href="#" title="Comparte tu idea") Comparte tu idea
				.col-lg-4.col-md-12.col-sm-12
					article.tlf-news.tlf-news--mrg.tlf-news__pdd
						h2.tlf-news__title FAQ´s
						a.tlf-btn.tlf-btn--tab(href="#" title="Mostrar más") Mostrar m&aacute;s
						ul.tlf-news__list
							li.tlf-news__item
								a.tlf-news__link(href="#" title="Radiografía de la Vida Móvil Movistar") Radiograf&iacute;a de la Vida M&oacute;vil Movistar
							li.tlf-news__item
								a.tlf-news__link(href="#" title="onvergencia en la Vida Digital Movistar") Convergencia en la Vida Digital Movistar
							li.tlf-news__item
								a.tlf-news__link(href="#" title="Telefónica Global Millenials 2014") Telef&oacute;nica Global Millenials 2014
							li.tlf-news__item
								a.tlf-news__link(href="#" title="La innovación y el emprendimiento son fundamentales para el desarrollo y la competitividad de los países.") La innovaci&oacute;n y el emprendimiento son fundamentales para el desarrollo y la competitividad de los pa&iacute;ses.
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:










