extends ../layouts/layout__login

block title
    title!='Login - Telefonica CWP'

block body
    main.tlf-form-container.tlf-form-container--bg3
        .wrapper
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.tlf-login-box.tlf-login-box--oval
                        h1.u-hideAccessible!="Login de acceso"
                        form(method="post" action="#")
                            fieldset
                                legend.tlf-login-box__legend!="Acceso a Portal Cliente"
                                div.tlf-login-box__row
                                    div.tlf-login-box__left-clmn
                                        label.tlf-login-box__label(for="username")!="Nombre de Usuario"
                                    div.tlf-login-box__right-clmn
                                        input.tlf-login-box__input(id="username" type="text" value="" name="username")
                                div.tlf-login-box__row
                                    div.tlf-login-box__left-clmn
                                        label.tlf-login-box__label(for="password")!="Contrase&ntilde;a"
                                    div.tlf-login-box__right-clmn
                                        input.tlf-login-box__input(id="password" type="password" value="" name="password")
                                div.tlf-login-box__row.tlf-login-box__row--right
                                    button.tlf-btn.tlf-btn--nofloat.tlf-btn--login(type="submit")!="Inicio de sesi&oacute;n"
                                div.tlf-login-box__row.tlf-login-box__row--right
                                    a.tlf-login-box__link(href="#" title="¿Ha olvidado su contraseña?")!="¿Ha olvidado su contrase&ntilde;a?"








