extends ../layouts/layout__primary


block title
	title!='My Service - Facturación y Estado De Cuenta - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown.active
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		//- Clase que se añade para que la modal en tablet y móvil ocupe el 100%
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
								img.tlf-container__img(src="./assets/img/icons/tlf-factura_a.png" alt="Factura")
							h2.tlf-container__title
								span.tlf-container__text Facturaci&oacute;n y Estado de Cuenta
						form.tlf-form(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="selecciona") Selecciona una de las opciones
								select.tlf-selectpicker(id="selecciona" data-function='data-selectpicker')
									option N&uacute;mero Fiscal de Factura
									option N&uacute;mero Fiscal de Factura
									option N&uacute;mero Fiscal de Factura
								label.u-hideAccessible(for="buscar") B&uacute;squeda
								input.tlf-form__search(type="search" id="buscar")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				section.tlf-tabs
					.tlf-tabs__block
						ul.tlf-tabs__nav.nav.nav-tabs
							li.tlf-tabs__item.active
								a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Facturación") Facturaci&oacute;n
							li.tlf-tabs__item
								a.tlf-tabs__link(href="#tab2" data-toggle="pill" title="Estado de Cuenta") Estado de Cuenta
					a.tlf-btn(href="#" title="Análisis de facturación") An&aacute;lisis de facturaci&oacute;n
					.tab-content.tlf-tabs__content
						#tab1.tab-pane.fade.in.active
							table.tlf-table
								caption.u-hideAccessible Tabla facturaci&oacute;n
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Número fiscal de Factura")
												span.tlf-table__text N&uacute;mero fiscal de Factura
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de emisión")
												span.tlf-table__text Fecha de emisi&oacute;n
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de vencimiento")
												span.tlf-table__text Fecha de vencimiento
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Importe Factura")
												span.tlf-table__text Importe Factura
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Importe s/impuestos")
												span.tlf-table__text Importe s/impuestos
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Impuestos")
												span.tlf-table__text Impuestos
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
									tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
									tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show
											a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 1
										td.tlf-table__body__col 13/10/2016
										td.tlf-table__body__col 13/11/2016
										td.tlf-table__body__col.tlf-table__body__col--show 250&euro;
										td.tlf-table__body__col 25&euro;
										td.tlf-table__body__col 48&euro;
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
											span.tlf-table__showMbl__text Fecha de emisi&oacute;n
												span.tlf-table__showMbl__sbText 13/10/2016
											span.tlf-table__showMbl__text Fecha de vencimiento
												span.tlf-table__showMbl__sbText 13/11/2016
											span.tlf-table__showMbl__text Importe s/impuestos
												span.tlf-table__showMbl__sbText 25&euro;
											span.tlf-table__showMbl__text Impuestos
												span.tlf-table__showMbl__sbText 48&euro;
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="7")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination2")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
						#tab2.tab-pane.fade
							table.tlf-table
								caption.u-hideAccessible Tabla estado de cuenta
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Referencia")
												span.tlf-table__text Referencia
										th.tlf-table__head__col.tlf-table__head__col--show-second
											a.tlf-table__head__link(href="#" title="Tipo")
												span.tlf-table__text Tipo
										th.tlf-table__head__col.tlf-table__head__col--show.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 0-30 días")
												span.tlf-table__text Deuda 0-30 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 30-60 días")
												span.tlf-table__text Deuda 30-60 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 60-90 días")
												span.tlf-table__text Deuda 60-90 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda 90-120 días")
												span.tlf-table__text Deuda 90-120 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Deuda mayor 120 días")
												span.tlf-table__text Deuda mayor 120 d&iacute;as
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos3" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos3.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
									tr.tlf-table__body__row.collapsed(data-target="#datos4" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos4.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
									tr.tlf-table__body__row.collapsed(data-target="#datos5" data-toggle="collapse")
										td.tlf-table__body__col
											a.tlf-table__body__link(href="#" title="255788556" data-toggle="modal" data-target="#tlf-detail") 255788556
										td.tlf-table__body__col.tlf-table__body__col--show-second 6.90%
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__head__col--hideTbl 25.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 25.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.000
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 26.500
										td.tlf-table__body__col.tlf-table__head__col--hideTbl 27.000
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos5.collapse
											span.tlf-table__showMbl__text Referencia
												span.tlf-table__showMbl__sbText 255788556
											span.tlf-table__showMbl__text Deuda 30-60 d&iacute;as
												span.tlf-table__showMbl__sbText 25.500
											span.tlf-table__showMbl__text Deuda 60-90 d&iacute;as
												span.tlf-table__showMbl__sbText 26.000
											span.tlf-table__showMbl__text Deuda 90-120 d&iacute;as
												span.tlf-table__showMbl__sbText 26.500
											span.tlf-table__showMbl__text Deuda mayor 120 d&iacute;as
												span.tlf-table__showMbl__sbText 27.000
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="8")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal detalle
		.modal.fade.tlf-new__modal#tlf-detail(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Detalle de la Factura
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label N&uacute;mero Fiscal de Factura:
									span.tlf-new__modal__input facturaPrueba11
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Tipo de facturaci&oacute;n
									span.tlf-new__modal__input N/A
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de emisi&oacute;n
									span.tlf-new__modal__input 1/02/2017
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Importe s/impuestos
									span.tlf-new__modal__input 10000.00 EUR
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de vencimiento
									span.tlf-new__modal__input 0/02/2017
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Impuestos
									span.tlf-new__modal__input 11.00 EUR
								.tlf-contBtn.tlf-contBtn--large
									input.tlf-btn(type="button" value="Enviar información a Gerente" data-toggle="modal" data-target="#")
									input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal detalle
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:










