extends ../layouts/layout__primary


block title
	title!='My Service - Service - Resumen - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Servicios Instalados") Servicios Instalados
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Facturación y Estado de Cuenta") Facturaci&oacute;n y Estado de Cuenta
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown.active
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Servicios Instalados") Servicios Instalados
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Facturación y Estado de Cuenta") Facturaci&oacute;n y Estado de Cuenta
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		div.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
								img.tlf-container__img(src="./assets/img/icons/tlf-pedidos.png" alt="Service")
							h2.tlf-container__title
								span.tlf-container__text Service
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-container__group
							a.tlf-btn.tlf-btn--big.tlf-btn--form(href="#" title="Back to summary table") Back to summary table
							form.tlf-form(action="#" method="post")
								fieldset.tlf-form__fieldset
									legend.u-hideAccessible Formulario b&uacute;squeda
									.tlf-form__control-group
										label.tlf-form__label(for="selecciona") Service Family
										select.tlf-selectpicker(id="selecciona" data-function='data-selectpicker')
											option Enterprise Managed Mobility
											option Select your service
									.tlf-form__control-group
										label.tlf-form__label(for="Service") Service
										select.tlf-selectpicker(id="Service" data-function='data-selectpicker')
											option Global Management Elite (GME)
											option Select your service
									.tlf-form__control-group
										label.tlf-form__label(for="unit") Service Unit
										select.tlf-selectpicker(id="unit" data-function='data-selectpicker')
											option Mobile Line
											option Select your service
									label.u-hideAccessible(for="open") B&uacute;squeda
									input.tlf-btn.tlf-btn--big.tlf-btn--form(id="open" type="button" value="Open pre query")
									a.tlf-form__link.collapsed(href="#showFilters" title="Show Advanced Filters" data-toggle="collapse")
										span.tlf-form__link__text!= "Show Advanced Filters"
									#showFilters.collapse.tlf-form__filters.collapse
										.tlf-form__control-group
											label.tlf-form__label(for="mobile") Mobile Line
											input.tlf-form__input(type="text" id="mobile")
										.tlf-form__control-group
											label.tlf-form__label(for="Profile") Profile
											input.tlf-form__input(type="text" id="Profile")
										.tlf-form__control-group
											label.tlf-form__label(for="email") Employee Email
											input.tlf-form__input(type="text" id="email")
										.tlf-form__control-group
											label.tlf-form__label(for="id") Employee ID
											input.tlf-form__input(type="text" id="id")
										.tlf-form__control-group
											label.tlf-form__label(for="icc") ICC ID
											input.tlf-form__input(type="text" id="icc")
										.tlf-form__control-group
											label.tlf-form__label(for="description") Request Description
											input.tlf-form__input(type="text" id="description")
										.tlf-containerBtn
											input.tlf-btn.tlf-btn--big(type="submit" value="Clear filters")
											input.tlf-btn.tlf-btn--big(type="button" value="Apply filters" aria-label="close" data-dismiss="modal")
									.tlf-form__file
										a.tlf-form__file__link.tlf-form__file__link--exc(href="#" title="Download Excel") Download Excel
										a.tlf-form__file__link.tlf-form__file__link--pdf(href="#" title="Download PDF") Download PDF
				table.tlf-table(data-function="data-table")
					caption.u-hideAccessible Tabla servicios filtros
					thead.tlf-table__head
						tr.tlf-table__head__row.tlf-table__row--color
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show.sorter-false
								a.tlf-table__head__link(href="#" title="Order ID")
									span.tlf-table__text Order ID
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
								a.tlf-table__head__link(href="#" title="Mobile Line")
									span.tlf-table__text Mobile Line
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
								a.tlf-table__head__link(href="#" title="Profile")
									span.tlf-table__text Profile
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter
								a.tlf-table__head__link(href="#" title="Employee Email")
									span.tlf-table__text Employee Email
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter
								a.tlf-table__head__link(href="#" title="Employee ID")
									span.tlf-table__text Employee ID
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter
								a.tlf-table__head__link(href="#" title="ICC ID")
									span.tlf-table__text ICC ID
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
								a.tlf-table__head__link(href="#" title="Request Description")
									span.tlf-table__text Request Description
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
								a.tlf-table__head__link(href="#" title="RFS date")
									span.tlf-table__text RFS date
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
								a.tlf-table__head__link(href="#" title="Country")
									span.tlf-table__text Country
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
								a.tlf-table__head__link(href="#" title="City")
									span.tlf-table__text City
								a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
							th.tlf-table__head__col.tlf-table__head__col--showMbl
								span Datos m&oacute;vil

					tbody.tlf-table__body
						tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
								a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 0008652317
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter 917453222
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter Relationship Manager
							td.tlf-table__body__col employee4.email@test.com
							td.tlf-table__body__col 444587
							td.tlf-table__body__col 55888923
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Espa&ntilde;a
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Madrid
							td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee Email"
									span.tlf-table__showMbl__sbText employee.email@test.com
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee ID"
									span.tlf-table__showMbl__sbText 133045
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "ICC ID"
									span.tlf-table__showMbl__sbText 48571269
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Request description"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "RFS date"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Country"
									span.tlf-table__showMbl__sbText Espa&ntilde;a
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "City"
									span.tlf-table__showMbl__sbText Barcelona
						tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
								a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 0008652317
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter 618453221
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter Relationship Manager
							td.tlf-table__body__col employee.email@test.com
							td.tlf-table__body__col 133045
							td.tlf-table__body__col 48571269
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Espa&ntilde;a
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Barcelona
							td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee Email"
									span.tlf-table__showMbl__sbText employee.email@test.com
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee ID"
									span.tlf-table__showMbl__sbText 133045
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "ICC ID"
									span.tlf-table__showMbl__sbText 48571269
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Request description"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "RFS date"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Country"
									span.tlf-table__showMbl__sbText Espa&ntilde;a
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "City"
									span.tlf-table__showMbl__sbText Barcelona
						tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
								a.tlf-table__body__link(href="#" title="1" data-toggle="modal" data-target="#tlf-detail") 855244758
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter 698851244
							td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter Relationship Manager
							td.tlf-table__body__col employee.email@test.com
							td.tlf-table__body__col 557454
							td.tlf-table__body__col 52254668
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Espa&ntilde;a
							td.tlf-table__body__col.tlf-table__body__col--hideTbl Sevilla
							td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee Email"
									span.tlf-table__showMbl__sbText employee.email@test.com
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Employee ID"
									span.tlf-table__showMbl__sbText 133045
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "ICC ID"
									span.tlf-table__showMbl__sbText 48571269
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Request description"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "RFS date"
									span.tlf-table__showMbl__sbText -
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "Country"
									span.tlf-table__showMbl__sbText Espa&ntilde;a
								span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
									span.tlf-table__filter filtro
									!= "City"
									span.tlf-table__showMbl__sbText Barcelona
					tfoot.tlf-table__foot
						tr
							td.tlf-table__foot__col(colspan="7")
								form(action="#" method="post")
									fieldset
										legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
										select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
											option 10
											option 25
											option 50
											option 100
											option 200
										label.tlf-pagination(for="pagination2")
											a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
											span.tlf-pagination__text (1 - 8 de 8)
											a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal filtros
		+tlf-modal-checkboxes()
		//- end modal filtros
		//- modal detalle
		.modal.fade.tlf-new__modal.tlf-new__modal--details#tlf-detail(data-function="modal-focus")
			.modal-dialog
				//- modal nueva incidencia
				+tlf-modal-new-incident()
				//- end modal nueva incidencia
				//- modal nueva modificación
				+tlf-modal-new-modification()
				//- end modal nueva modificación
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						h2.tlf-new__modal__title__desc Mobile Line
						ul.tlf-new__modal__breadcrumbs
							li.tlf-new__modal__breadcrumbs__item
								span.tlf-new__modal__breadcrumbs__text Enterprise Managed Mobility
							li.tlf-new__modal__breadcrumbs__item
								span.tlf-new__modal__breadcrumbs__text Global Management Elite (GME)
						.tlf-tabs__block
							ul.tlf-tabs__nav.nav.nav-tabs
								li.tlf-tabs__item.active
									a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Tickets") Service
								li.tlf-tabs__item
									a.tlf-tabs__link(href="#tab2" data-toggle="pill" title="Orders") Commercial Features
						.tab-content.tlf-tabs__content
							#tab1.tab-pane.fade.in.active
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big.tlf-new__modal__controlGroup--without-margin
									div.tlf-new__modal__data-content.tlf-new__modal__data-content--inverse.tlf-new__modal__data-content--margin-vertical
										div.tlf-new__modal__data-row.tlf-new__modal__data-row--title
											span.tlf-new__modal__data.tlf-new__modal__data--title!="Mobile Line main attributes"
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Service Unit ID
											span.tlf-new__modal__data.tlf-new__modal__data--secondary Order ID - 0007845457
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Service Account
											span.tlf-new__modal__data.tlf-new__modal__data--secondary Spen - Production (Scot) Zone Voice Connections
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Billing Account
											span.tlf-new__modal__data.tlf-new__modal__data--secondary 4477209
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Site
											span.tlf-new__modal__data.tlf-new__modal__data--secondary SCOTTISH POWER ENERGY RETAIL 38
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Status
											span.tlf-new__modal__data.tlf-new__modal__data--secondary Received
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Ready for Service Date
											span.tlf-new__modal__data.tlf-new__modal__data--secondary 6/7/2016
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Provisional Ready for service
											span.tlf-new__modal__data.tlf-new__modal__data--secondary 6/7/2016
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Billing end Date
											span.tlf-new__modal__data.tlf-new__modal__data--secondary -
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Company Information
											span.tlf-new__modal__data.tlf-new__modal__data--secondary Iberdrola > Iberdrola - United Kingdom > SPOWER > SPEN - Production (Scot) Zone Voice Connection > 4477209
										div.tlf-new__modal__data-row
											span.tlf-new__modal__data Company Information
											span.tlf-new__modal__data.tlf-new__modal__data--secondary Iberdrola > Iberdrola - United Kingdom > SPOWER > SPEN - Production (Scot) Zone Voice Connection > 4477209
								.tlf-contBtn.tlf-contBtn--large
									input.tlf-btn.tlf-btn--disabled(type="button" value="Previous Item" disabled="disabled")
									input.tlf-btn(type="button" value="Next item")
									input.tlf-btn(type="button" value="New Incident" data-toggle="modal" data-target="#tlf-incident")
									input.tlf-btn(type="button" value="New Modification" data-toggle="modal" data-target="#tlf-modification")
									input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
							#tab2.tab-pane.fade
								.tlf-tabs__list.tlf-new__modal--tablet-hidden
									ul.tlf-tabs__nav.nav.nav-tabs
										li.tlf-tabs__item.active
											a.tlf-tabs__link(href="#subtab1" data-toggle="pill" title="Mobile Line Detail Attributes") Mobile Line Detail Attributes
										li.tlf-tabs__item
											a.tlf-tabs__link(href="#subtab2" data-toggle="pill" title="Second level detail attributes") Second level detail attributes
										li.tlf-tabs__item
											a.tlf-tabs__link(href="#subtab3" data-toggle="pill" title="Third level") Third level
								#subtab1.tab-pane.fade.in.active.tlf-tabs__sub-content
									form.tlf-new__modal__form(action="#" method="post")
										fieldset.tlf-new__modal__fieldset
											legend.u-hideAccessible Tipo de Detalles
											.tlf-new__modal__controlGroup.tlf-new__modal__container.tlf-new__modal__controlGroup--mbl.tlf-hideDesktop
												label.u-hideAccessible(for="tipo") tipo
												select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="tipo" name="tipo" data-function='data-selectpicker')
													option Mobile Line Detail Attributes
													option Lorem ipsum
													option Lorem ipsum
													option Lorem ipsum
													option Lorem ipsum
											span.tlf-new__modal__form__legend.tlf-new__modal__form__legend--description Mobile Line Detail Attributes
											.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big.tlf-new__modal__controlGroup--without-margin.tlf-new__modal__controlGroup--padding-right
												div.tlf-new__modal__data-content
													div.tlf-new__modal__data-row.tlf-new__modal__data-row--title
														span.tlf-new__modal__data.tlf-new__modal__data--title!="Mobile Line main attributes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of outgoing premium Voice/SMS/MMS"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="No"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of all outgoing calls"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of SMS/MMS"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="No"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of outgoing calls when roaming"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of all data when roaming"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="4G Network Capability"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="No"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Profile"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Profile Prueba"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Employee ID	"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="2548961"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of all incoming calls"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of all outgoing international calls"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of incoming calls when roaming"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Barring of all data"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="Yes"
													div.tlf-new__modal__data-row
														span.tlf-new__modal__data!="Voicemail Service"
														span.tlf-new__modal__data.tlf-new__modal__data--secondary!="No"
											.tlf-contBtn
												input.tlf-btn(type="button" value="New Incident" data-toggle="modal" data-target="#tlf-incident")
												input.tlf-btn(type="button" value="New Modification" data-toggle="modal" data-target="#tlf-modification")
												input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
		//- end modal detalle
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:








