extends ../layouts/layout__primary


block title
	title!='My Service - Service - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Servicios Instalados") Servicios Instalados
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Facturación y Estado de Cuenta") Facturaci&oacute;n y Estado de Cuenta
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown.active
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Servicios Instalados") Servicios Instalados
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Facturación y Estado de Cuenta") Facturaci&oacute;n y Estado de Cuenta
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							h2.tlf-container__title
								span.tlf-container__text Service Unit
				table.tlf-table.tlf-table--simple
					caption.u-hideAccessible Tabla servicios instalados
					thead.tlf-table__head
						tr.tlf-table__head__row.tlf-table__row--color
							th.tlf-table__head__col.tlf-table__head__col--show
								a.tlf-table__head__link(href="#" title="Name")
									span.tlf-table__text Name
							th.tlf-table__head__col.tlf-table__head__col--show
								a.tlf-table__head__link(href="#" title="Amount")
									span.tlf-table__text Amount
					tbody.tlf-table__body
						tr.tlf-table__body__row.tlf-table__body__row--simple
							td.tlf-table__body__col.tlf-table__body__col--show
								a.tlf-table__body__link(href="#" title="Services") Services
							td.tlf-table__body__col.tlf-table__body__col--show 6
						tr.tlf-table__body__row.tlf-table__body__row--simple
							td.tlf-table__body__col.tlf-table__body__col--show
								a.tlf-table__body__link(href="#" title="Mobile Line") Mobile Line
							td.tlf-table__body__col.tlf-table__body__col--show 15
						tr.tlf-table__body__row.tlf-table__body__row--simple
							td.tlf-table__body__col.tlf-table__body__col--show
								a.tlf-table__body__link(href="#" title="SIM Card Suscription") SIM Card Suscription
							td.tlf-table__body__col.tlf-table__body__col--show 18
						tr.tlf-table__body__row.tlf-table__body__row--simple
							td.tlf-table__body__col.tlf-table__body__col--show
								a.tlf-table__body__link(href="#" title="Mobile Device") Mobile Device
							td.tlf-table__body__col.tlf-table__body__col--show 15
						tr.tlf-table__body__row.tlf-table__body__row--simple
							td.tlf-table__body__col.tlf-table__body__col--show
								a.tlf-table__body__link(href="#" title="Bundles With Pooling") Bundles With Pooling
							td.tlf-table__body__col.tlf-table__body__col--show 1
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:








