extends ../layouts/layout__primary


block title
	title!='Relationship Management - Agenda - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li.active
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						figure.tlf-container__cont-img
							img.tlf-container__img(src="./assets/img/icons/tlf-agenda.png" alt="Agenda")
						h2.tlf-container__title
							span.tlf-container__text Mi calendario
						section.tlf-calendar
							.tlf-calendar__month
								a.tlf-calendar__month__link.tlf-calendar__month__link--prev(href="#" title="prev") Prev
								h3.tlf-calendar__month__title Enero 2017
								a.tlf-calendar__month__link.tlf-calendar__month__link--next(href="#" title="next") Next
							table.tlf-calendar__table
								caption.u-hideAccessible Calendario
								thead.tlf-calendar__table__head
									tr.tlf-calendar__table__head__row
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Lunes
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl L
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Martes
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl M
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Mi&eacute;rcoles
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl X
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Jueves
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl J
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Viernes
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl V
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text S&aacute;bado
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl S
										th.tlf-calendar__table__head__col
											span.tlf-calendar__table__head__col__text Domingo
											span.tlf-calendar__table__head__col__text.tlf-calendar__table__head__col__text--mbl D
								tbody.tlf-calendar__table__body
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 26
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 27
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 28
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 29
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 30
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 31
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 1
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 2
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 3
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 4
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 5
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 6
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 7
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 8
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 9
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 10
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 11
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 12
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 13
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 14
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 15
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 16
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 17
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 18
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 19
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 20
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 21
												a.tlf-calendar__table__link(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new") A&ntilde;adir evento
											.tlf-calendar__table__body__col__event
												a.tlf-calendar__table__body__col__event--point(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
												span.tlf-calendar__table__body__col__event__text 8:00- 8:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
												span.tlf-calendar__table__body__col__event__text 17:00- 17:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 22
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 23
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 24
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 25
												a.tlf-calendar__table__link(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
											.tlf-calendar__table__body__col__event
												a.tlf-calendar__table__body__col__event--point(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
												span.tlf-calendar__table__body__col__event__text 8:00- 8:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
												span.tlf-calendar__table__body__col__event__text 17:00- 17:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 26
												a.tlf-calendar__table__link(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
											.tlf-calendar__table__body__col__event
												a.tlf-calendar__table__body__col__event--point(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
												span.tlf-calendar__table__body__col__event__text 8:00- 8:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
												span.tlf-calendar__table__body__col__event__text 17:00- 17:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 27
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 28
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 29
									tr.tlf-calendar__table__body__row
										td.tlf-calendar__table__body__col
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 30
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--today
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 31
												a.tlf-calendar__table__link(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
											.tlf-calendar__table__body__col__event
												a.tlf-calendar__table__body__col__event--point(href="#" title="Añadir evento" data-toggle="modal" data-target="#tlf-new" data-function='data-time') A&ntilde;adir evento
												span.tlf-calendar__table__body__col__event__text 8:00- 8:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
												span.tlf-calendar__table__body__col__event__text 17:00- 17:30
													a.tlf-calendar__table__body__col__event__link(href="#" title="meeting") Meeting
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 1
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 2
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 3
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 4
										td.tlf-calendar__table__body__col.tlf-calendar__table__body__col--inactive
											.tlf-calendar__table__body__col__day
												span.tlf-calendar__table__text 5
							.tlf-table__events
								h3.tlf-table__events__title 21 de Diciembre de 2016
								ul.tlf-table__events__list
									li.tlf-table__events__item
										.tlf-table__events__description
											span.tlf-table__events__text.tlf-table__events__text--dark 8:00 - 8:30 | Meeting
											p.tlf-table__events__text Descripci&oacute;n evento ejemplo lorem ipsum dolor its amet ergo sum
										a.tlf-table__events__link(href="#" title="Editar") Editar
									li.tlf-table__events__item
										.tlf-table__events__description
											span.tlf-table__events__text.tlf-table__events__text--dark 8:00 - 8:30 | Meeting
											p.tlf-table__events__text Descripci&oacute;n evento ejemplo lorem ipsum dolor its amet ergo sum
										a.tlf-table__events__link(href="#" title="Editar") Editar
								a.tlf-table__events__add(href="#" title="Añadir nuevo evento")
									span.tlf-table__events__add--first +
									!= "A&ntilde;adir nuevo evento"
		#tlf-new.modal.fade.tlf-new__modal(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" data-function="focus") Close
					div.modal-body.tlf-new__modal__body
						h2.tlf-new__modal__title Inicio de sesi&oacute;n como XX Contacto (xxprueba@aborda.es.uat)
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Nueva cita

								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha:
									span.tlf-new__modal__input 2017-2-15
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--small.tlf-new__modal__controlGroup--time
									label.tlf-new__modal__label(for="horaInicio") Hora inicio *:
									.tlf-new__modal__controlSelect
										select.tlf-new__modal__input(id="horaInicio" name="horaInicio" data-function='data-time')
											option(value="8:00") 08:00
											option(value="8:30") 08:30
											option(value="9:00") 09:00
											option(value="9:30") 09:30
											option(value="10:00") 10:00
										.tlf-new__modal__controlButton
											a.tlf-new__modal__controlButton__link.tlf-new__modal__controlButton__link--top(href="#" title="subir" data-function='data-timeTop') Subir rango
											a.tlf-new__modal__controlButton__link.tlf-new__modal__controlButton__link--bottom(href="#" title="bajar" data-function='data-timeBottom') Bajar rango
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--small.tlf-new__modal__controlGroup--time
									label.tlf-new__modal__label(for="horaFin") Hora fin *:
									.tlf-new__modal__controlSelect
										select.tlf-new__modal__input(id="horaFin" name="horaFin" data-function='data-time')
											option(value="8:00") 08:00
											option(value="8:30") 08:30
											option(value="9:00") 09:00
											option(value="9:30") 09:30
											option(value="10:00") 10:00
										.tlf-new__modal__controlButton
											a.tlf-new__modal__controlButton__link.tlf-new__modal__controlButton__link--top(href="#" title="subir" data-function='data-timeTop') Subir rango
											a.tlf-new__modal__controlButton__link.tlf-new__modal__controlButton__link--bottom(href="#" title="bajar" data-function='data-timeBottom') Bajar rango
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="asunto") Asunto *
									input.tlf-new__modal__input(type="text" value="Meeting" id="asunto" name="asunto")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="descripción") Descripci&oacute;n
									textarea.tlf-new__modal__input.tlf-new__modal__input--tall(id="descripción" name="descripción")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--divider
									label.tlf-new__modal__label(for="posibles") Usuarios posibles
									select.tlf-new__modal__input( id="posibles" name="posibles" multiple="multiple" size="10")
										option Alfonso Jos&eacute; &Aacute;lvarez Elbal
									.tlf-new__modal__buttons
										span.tlf-new__modal__buttons__text Agregar
										a.tlf-new__modal__buttons__button.tlf-new__modal__buttons__button--add(href="#" title="ADD") ADD
										a.tlf-new__modal__buttons__button.tlf-new__modal__buttons__button--remove(href="#" title="REMOVE") REMOVE
										span.tlf-new__modal__buttons__text Quitar
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--divider
									label.tlf-new__modal__label(for="seleccionados") Usuarios seleccionados *
									select.tlf-new__modal__input(id="seleccionados" name="seleccionados" multiple="multiple" size="10")
										option User BIEN 2 Ejecutivo Cliente PER
									.tlf-new__modal__buttons
										span.tlf-new__modal__buttons__text Subir
										a.tlf-new__modal__buttons__button.tlf-new__modal__buttons__button--up(href="#" title="UP") UP
										a.tlf-new__modal__buttons__button.tlf-new__modal__buttons__button--down(href="#" title="DOWN") DOWN
										span.tlf-new__modal__buttons__text Bajar
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar")
									input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--last
									span.tlf-new__modal__label * Informaci&oacute;n Obligatoria
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:








