extends ../layouts/layout__primary


block title
	title!='Relationship Management - Equipo Telefónica - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li.active
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					figure.tlf-container__cont-img
						img.tlf-container__img(src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo")
					h2.tlf-container__title
						span.tlf-container__text Equipo de Telef&oacute;nica
					a.tlf-container__sincro(href="#" title="OneDrive") OneDrive
					section.tlf-carousel__team(data-function='data-carousel__team')
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Nicolás Howard")
								h3.tlf-carousel__team__title Nicol&aacute;s Howard
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/nicolas.jpg" alt="Nicolás Howard")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" nicolas.howard=telefonica.com@example.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" +54911447785608"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" +34626880393"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Contacto principal"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Juan Pablo Valerga")
								h3.tlf-carousel__team__title Juan Pablo Valerga
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/juan.jpg" alt="Juan Pablo Valerga")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" juan.valerga@telefonica.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" +54 911 4421 0553"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Ingenier&iacute;a de Clientes"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="Fernando Andrada")
								h3.tlf-carousel__team__title Fernando Andrada
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/fernando.jpg" alt="Fernando Andrada")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" fernando.andrada@telefonica.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" +541153211969"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Atenci&oacute;n al Cliente"
						.tlf-carousel__team__item
							a.tlf-carousel__team__linkT(href="#" title="José Ruiz Carrillo")
								h3.tlf-carousel__team__title Jos&eacute; Ruiz Carrillo
							figure.tlf-carousel__team__cont-img
								img.tlf-carousel__team__img(src="./assets/img/contents/noDisponible.png" alt="José Ruiz Carrillo")
							.tlf-carousel__team--right
								a.tlf-carousel__team--email(href="#" title="Enviar Email") Enviar Email
								a.tlf-carousel__team--task(href="#" title="Solicitar Cita") Solicitar Cita
							a.tlf-carousel__team__link(href="#" title="Datos de contacto")
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Email:
									!=" jose.ruiz.carrillo@everis.com"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Tel&eacute;fono:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold M&oacute;vil:
									!=" No disponible"
								p.tlf-carousel__team__text
									span.tlf-carousel__team__text.tlf-carousel__team__text--bold Rol:
									!=" Ejecutivo de Cobros"
			.row
				.col-lg-12.col-md-12.col-sm-12
					figure.tlf-container__cont-img
						img.tlf-container__img(src="./assets/img/icons/tlf-equipo_cliente.png" alt="Equipo")
					h2.tlf-container__title
						span.tlf-container__text Equipo de Cliente
					a.tlf-btn.tlf-btn--center.tlf-btn--dark(href="#" title="Solicitud de cambio") Solicitud de cambio

			table.tlf-table
				caption.u-hideAccessible Tabla equipo de cliente
				thead.tlf-table__head
					tr.tlf-table__head__row.tlf-table__row--color
						th.tlf-table__head__col.tlf-table__head__col--show
							a.tlf-table__head__link(href="#" title="Nombre completo")
								span.tlf-table__text Nombre completo
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Cargo")
								span.tlf-table__text Cargo
						th.tlf-table__head__col.tlf-table__head__col--show
							a.tlf-table__head__link(href="#" title="Correo electrónico")
								span.tlf-table__text Correo electr&oacute;nico
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Teléfono de trabajo")
								span.tlf-table__text Tel&eacute;fono de trabajo
						th.tlf-table__head__col
							a.tlf-table__head__link(href="#" title="Teléfono móvil")
								span.tlf-table__text Tel&eacute;fono m&oacute;vil
						th.tlf-table__head__col.tlf-table__head__col--showMbl
							span Datos m&oacute;vil
				tbody.tlf-table__body
					tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(title="Pato Connon") Pato Connon
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show pconnon@gmail.com
						td.tlf-table__body__col
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="Chango Cárdenas") Chango C&aacute;rdenas
						td.tlf-table__body__col Goleador
						td.tlf-table__body__col.tlf-table__body__col--show nicolas.howard@telefonica.com
						td.tlf-table__body__col
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="Muñoz Mateu") Mu&ntilde;oz Mateu
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show josemi.fierro@aborda.es
						td.tlf-table__body__col +51950671360
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
					tr.tlf-table__body__row.collapsed(data-target="#datos3" data-toggle="collapse")
						td.tlf-table__body__col.tlf-table__body__col--show
							a.tlf-table__body__link(href="#" title="XXX XXX") XXX XXX
						td.tlf-table__body__col
						td.tlf-table__body__col.tlf-table__body__col--show micah.burgos@aborda.es.test
						td.tlf-table__body__col 665669663
						td.tlf-table__body__col 669665669
						td.tlf-table__body__col.tlf-table__body__col--showMbl#datos3.collapse
							span.tlf-table__showMbl__text Cargo
								span.tlf-table__showMbl__sbText Cargo ejemplo
							span.tlf-table__showMbl__text Tel&eacute;fono de trabajo
								span.tlf-table__showMbl__sbText 912345678
							span.tlf-table__showMbl__text Tel&eacute;fono m&oacute;vil
								span.tlf-table__showMbl__sbText 678901234
				tfoot.tlf-table__foot
					tr
						td.tlf-table__foot__col(colspan="6")
							form(action="#" method="post")
								fieldset
									legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
									select.tlf-table__select(id="pagination" data-function='data-selectpicker')
										option 10
										option 25
										option 50
										option 100
										option 200
									label.tlf-pagination(for="pagination")
										a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
										span.tlf-pagination__text (1 - 8 de 8)
										a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:








