extends ../layouts/layout__primary


block title
	title!='Service Tracking - Tickets y Pedidos 2 - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown.active
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
									img.tlf-container__img(src="./assets/img/icons/tlf-factura_a.png" alt="Factura")
								h2.tlf-container__title
									span.tlf-container__text Tr&aacute;mites
						form.tlf-form.tlf-form__modal(action="#" method="post")
							fieldset.tlf-form__fieldset(data-change="data-open-ticket")
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="selecciona") Selecciona una de las opciones
								select.tlf-selectpicker(id="selecciona" data-function="data-selectpicker")
									option New Ticket
									option Incident
									option Change
									option Billing Inquiri
									option Inquiri
									option Complaint
				section.tlf-tabs.tlf-tabs__pdd
					.tlf-tabs__block
						ul.tlf-tabs__nav.nav.nav-tabs
							li.tlf-tabs__item.active
								a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Tickets") Tickets
							li.tlf-tabs__item
								a.tlf-tabs__link(href="#tab2" data-toggle="pill" title="Orders") Orders
					.tab-content.tlf-tabs__content
						#tab1.tab-pane.fade.in.active
							.row
								.col-lg-12.col-md-12.col-sm-12
									.tlf-container__group
										form.tlf-form(action="#" method="post")
											fieldset.tlf-form__fieldset
												legend.u-hideAccessible Formulario b&uacute;squeda
												a.tlf-form__link.collapsed(href="#showFilters" title="Show Advanced Filters" data-toggle="collapse")
													span.tlf-form__link__text!= "Show Advanced Filters"
												#showFilters.collapse.tlf-form__filters.collapse
													.tlf-form__control-group
														label.tlf-form__label(for="Case") Case Type
														select.tlf-selectpicker(id="Case" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Servicefamily") Service Family
														select.tlf-selectpicker(id="Servicefamily" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="service") Service
														select.tlf-selectpicker(id="service" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="unit") Service Unit
														select.tlf-selectpicker(id="unit" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="status") Status
														select.tlf-selectpicker(id="status" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Country") Country
														select.tlf-selectpicker(id="Country" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="City") City
														select.tlf-selectpicker(id="City" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Show") Show
														select.tlf-selectpicker(id="Show" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="key") Key Value
															img.tlf-form__label__info(src="./assets/img/icons/tlf-icon-info.png" alt="this field is used to search in the values of the key field of each service. It is unknown, leace this field empty.")
														input.tlf-form__input(type="text" id="key")
													.tlf-form__control-group
														label.tlf-form__label(for="case") Case Number
														input.tlf-form__input(type="text" id="case")
													.tlf-containerBtn
														input.tlf-btn.tlf-btn--big(type="submit" value="Clear filters")
														input.tlf-btn.tlf-btn--big(type="button" value="Apply filters" aria-label="close" data-dismiss="modal")
												.tlf-form__file
													a.tlf-form__file__link.tlf-form__file__link--exc(href="#" title="Download Excel") Download Excel
													a.tlf-form__file__link.tlf-form__file__link--pdf(href="#" title="Download PDF") Download PDF
							table.tlf-table(data-function="data-table")
								caption.u-hideAccessible Tabla tickets filtros
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Case Number")
												span.tlf-table__text Case Number
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Case Type")
												span.tlf-table__text Case Type
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Status")
												span.tlf-table__text Status
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Opening Date")
												span.tlf-table__text Opening Date
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Service")
												span.tlf-table__text Service
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Service Unit")
												span.tlf-table__text Service Unit
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Key Value")
												span.tlf-table__text Key Value
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Country")
												span.tlf-table__text Country
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="City")
												span.tlf-table__text City
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Subject")
												span.tlf-table__text Subject
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02210244" data-toggle="modal" data-target="#tlf-detail") 02210244
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter In progress
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile Line
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Alta de L&iacute;nea
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
									tr.tlf-table__body__row.collapsed(data-target="#datos1" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02208654" data-toggle="modal" data-target="#tlf-detail") 02208654
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter User Service Restoration
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter Assigned
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile LIne
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl New suscription
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos1.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
									tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02189271" data-toggle="modal" data-target="#tlf-detail") 02189271
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter In Progress
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile Line
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Line Desactivation
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="11")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
						#tab2.tab-pane.fade
							.row
								.col-lg-12.col-md-12.col-sm-12
									.tlf-container__group
										form.tlf-form(action="#" method="post")
											fieldset.tlf-form__fieldset
												legend.u-hideAccessible Formulario b&uacute;squeda
												a.tlf-form__link.collapsed(href="#showFilters2" title="Show Advanced Filters" data-toggle="collapse")
													span.tlf-form__link__text!= "Show Advanced Filters"
												#showFilters2.collapse.tlf-form__filters.collapse
													.tlf-form__control-group
														label.tlf-form__label(for="Case2") Case Type
														select.tlf-selectpicker(id="Case2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Servicefamily2") Service Family
														select.tlf-selectpicker(id="Servicefamily2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="service2") Service
														select.tlf-selectpicker(id="service2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="unit2") Service Unit
														select.tlf-selectpicker(id="unit2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="status2") Status
														select.tlf-selectpicker(id="status2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Country2") Country
														select.tlf-selectpicker(id="Country2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="City2") City
														select.tlf-selectpicker(id="City2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="Show2") Show
														select.tlf-selectpicker(id="Show2" data-function="data-selectpicker")
															option Lorem ipsum
															option Lorem ipsum
															option Lorem ipsum
													.tlf-form__control-group
														label.tlf-form__label(for="key2") Key Value
															img.tlf-form__label__info(src="./assets/img/icons/tlf-icon-info.png" alt="this field is used to search in the values of the key field of each service. It is unknown, leace this field empty.")
														input.tlf-form__input(type="text" id="key2")
													.tlf-form__control-group
														label.tlf-form__label(for="case2") Case Number
														input.tlf-form__input(type="text" id="case2")
													.tlf-containerBtn
														input.tlf-btn.tlf-btn--big(type="submit" value="Clear filters")
														input.tlf-btn.tlf-btn--big(type="button" value="Apply filters" aria-label="close" data-dismiss="modal")
												.tlf-form__file
													a.tlf-form__file__link.tlf-form__file__link--exc(href="#" title="Download Excel") Download Excel
													a.tlf-form__file__link.tlf-form__file__link--pdf(href="#" title="Download PDF") Download PDF
							table.tlf-table(data-function="data-table")
								caption.u-hideAccessible Tabla orders filtros
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Case Number")
												span.tlf-table__text Case Number
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Case Type")
												span.tlf-table__text Order Type
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Status")
												span.tlf-table__text Status
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Opening Date")
												span.tlf-table__text Opening Date
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Service")
												span.tlf-table__text Service
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter
											a.tlf-table__head__link(href="#" title="Service Unit")
												span.tlf-table__text Service Unit
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Key Value")
												span.tlf-table__text Key Value
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Country")
												span.tlf-table__text Country
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="City")
												span.tlf-table__text City
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--filter.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Subject")
												span.tlf-table__text Subject
											a.tlf-table__filter(href="#" title="filtrar" data-toggle="modal" data-target="#tlf-filter") Filtrar
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos3" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02210244" data-toggle="modal" data-target="#tlf-detail") 02210244
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter In progress
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile Line
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Alta de L&iacute;nea
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos3.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
									tr.tlf-table__body__row.collapsed(data-target="#datos4" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02208654" data-toggle="modal" data-target="#tlf-detail") 02208654
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter User Service Restoration
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter Assigned
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile LIne
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl New suscription
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos4.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
									tr.tlf-table__body__row.collapsed(data-target="#datos5" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
											a.tlf-table__body__link(href="#" title="02189271" data-toggle="modal" data-target="#tlf-detail") 02189271
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter In Progress
										td.tlf-table__body__col
										td.tlf-table__body__col Global Management Elite (GME)
										td.tlf-table__body__col Mobile Line
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Line Desactivation
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos5.collapse
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Opening Date"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service"
												span.tlf-table__showMbl__sbText Global Management Elite (GME)
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Service Unit"
												span.tlf-table__showMbl__sbText SIM Card Suscription
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Key Value"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Country"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "City"
												span.tlf-table__showMbl__sbText -
											span.tlf-table__showMbl__text.tlf-table__showMbl__text__filter
												span.tlf-table__filter filtro
												!= "Subject"
												span.tlf-table__showMbl__sbText Order Management Case
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="11")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination2")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal detalle
		.modal.fade.tlf-new__modal.tlf-new__modal--details#tlf-detail(data-function="modal-focus")
			.modal-dialog
				.modal.fade.tlf-new__modal#tlf-atachment-file(data-function="modal-focus")
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.u-hideAccessible Attach File
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label(for="file-attach") File
											input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="file-attach")
										.tlf-new__modal__controlGroup
											label.tlf-new__modal__label(for="description-file") Description
											input.tlf-new__modal__input(type="text" id="description-file")
										.tlf-contBtn
											input.tlf-btn(type="button" value="Cancel Upload" aria-label="close" data-dismiss="modal")
											input.tlf-btn(type="submit" value="Ok")
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						.tlf-tabs__block
							ul.tlf-tabs__nav.nav.nav-tabs
								li.tlf-tabs__item.active
									a.tlf-tabs__link(href="#tabsb1" data-toggle="pill" title="Case Details") Case Details
						.tab-content.tlf-tabs__content
							#tabsb1.tab-pane.fade.in.active
								h2.tlf-new__modal__title__desc Case Number: 02210244
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.u-hideAccessible Case
										div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Status
												span.tlf-new__modal__data.tlf-new__modal__data--secondary In Progress
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Subject
												span.tlf-new__modal__data.tlf-new__modal__data--secondary Alta de L&iacute;nea
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Impact
												span.tlf-new__modal__data.tlf-new__modal__data--secondary 3-Moderate/Limited
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Urgency
												span.tlf-new__modal__data.tlf-new__modal__data--secondary 3-Medium
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Service Family
												span.tlf-new__modal__data.tlf-new__modal__data--secondary Enterprise Managed Mobility
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Service
												span.tlf-new__modal__data.tlf-new__modal__data--secondary Global Management Elite(GME)
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Service Unit
												span.tlf-new__modal__data.tlf-new__modal__data--secondary Mobile Line
											div.tlf-new__modal__data-row
												span.tlf-new__modal__data Order Id
												span.tlf-new__modal__data.tlf-new__modal__data--secondary -
									fieldset
										legend.tlf-new__modal__legend-title Description
										div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
											span.tlf-new__modal__input Buenos d&iacute;as: Solicitamos alta de linea portuguesa vos y datos con los siguientes datos: Usuario: De Almeida Inacio, Andreia Cristina Expediente: U330907 Email: andreia.inacio@iberdrola.pt Muchas gracias y un saludo
									fieldset
										legend.tlf-new__modal__legend-title Comments
										div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
											table.tlf-table
												caption.u-hideAccessible Tabla comentarios
												thead.tlf-table__head
													tr.tlf-table__head__row.tlf-table__row--color
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text Comment Content
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text Creation Date
														th.tlf-table__head__col
															span.tlf-table__text User
												tbody.tlf-table__body
													tr.tlf-table__body__row
														td.tlf-table__body__col.tlf-table__body__col--show
															span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
														td.tlf-table__body__col.tlf-table__body__col--show
															span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
														td.tlf-table__body__col
															span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
											.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
												label.u-hideAccessible(for="descripción") Descripci&oacute;n
												textarea.tlf-new__modal__input.tlf-new__modal__input--tall(id="descripción" name="descripción")
											.tlf-contBtn.tlf-contBtn--large
												input.tlf-btn(type="button" value="Add Comment")
									fieldset
										legend.tlf-new__modal__legend-title Attachments
										div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
											table.tlf-table
												caption.u-hideAccessible Tabla attachments
												thead.tlf-table__head
													tr.tlf-table__head__row.tlf-table__row--color
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text File Name
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text Description
												tbody.tlf-table__body
													tr.tlf-table__body__row
														td.tlf-table__body__col.tlf-table__body__col--show
															span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
														td.tlf-table__body__col.tlf-table__body__col--show
															span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
											.tlf-contBtn.tlf-contBtn--large
												input.tlf-btn(type="button" value="Attach Files" data-toggle="modal" data-target="#tlf-atachment-file")
												input.tlf-btn(type="button" value="Save Attachments")
									fieldset
										legend.tlf-new__modal__legend-title Activity History
										div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
											table.tlf-table
												caption.u-hideAccessible Tabla activity
												thead.tlf-table__head
													tr.tlf-table__head__row.tlf-table__row--color
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text User
														th.tlf-table__head__col.tlf-table__head__col--show
															span.tlf-table__text Old Value
														th.tlf-table__head__col
															span.tlf-table__text New Value
												tbody.tlf-table__body
													tr.tlf-table__body__row
														td.tlf-table__body__col.tlf-table__body__col--show Integration User
														td.tlf-table__body__col.tlf-table__body__col--show Assigned
														td.tlf-table__body__col In Progress
									.tlf-contBtn.tlf-contBtn--large
										input.tlf-btn(type="button" value="Previous item" aria-label="close" data-dismiss="modal")
										input.tlf-btn.tlf-btn--disabled(type="submit" value="Accept Resolution" disabled="disabled")
										input.tlf-btn.tlf-btn--disabled(type="button" value="Reopen" disabled="disabled")
										input.tlf-btn(type="button" value="Cancel Ticket" aria-label="close" data-dismiss="modal")
										input.tlf-btn(type="button" value="Next item" aria-label="close" data-dismiss="modal")
		//- end modal detalle
		//- modal filtros
		+tlf-modal-checkboxes()
		//- end modal filtros
		//- modal open ticket
		.modal.fade.tlf-new__modal.tlf-new__modal--details#tlf-openticket(data-function="modal-focus")
			.modal-dialog
				.modal.fade.tlf-new__modal#tlf-atachment-file-incident(data-function="modal-focus")
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.u-hideAccessible Attach File
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label(for="file-attach2") File
											input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="file-attach2")
										.tlf-new__modal__controlGroup
											label.tlf-new__modal__label(for="description-file2") Description
											input.tlf-new__modal__input(type="text" id="description-file2")
										.tlf-contBtn
											input.tlf-btn(type="button" value="Cancel Upload" aria-label="close" data-dismiss="modal")
											input.tlf-btn(type="submit" value="Ok")
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Change
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Subject") Subject
									input.tlf-new__modal__input.tlf-new__modal__input--simple(id="Subject" name="Subject" value="")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Urgency") Urgency
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="Urgency" name="Urgency" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Order") Order Item
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="Order" name="Urgency" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="ServiceFamily") Service Family
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="ServiceFamily" name="ServiceFamily" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Description") Description
									textarea.tlf-new__modal__input.tlf-new__modal__input--tall.tlf-new__modal__input--simple(id="Description" name="Description")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Impact") Impact
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="Impact" name="Impact" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="Service") Impact
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="Service" name="Service" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="ServiceUnit") Impact
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="ServiceUnit" name="ServiceUnit" data-function='data-selectpicker')
										option(value="") --Ninguno--
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
										option Lorem ipsum
							fieldset
								legend.tlf-new__modal__legend-title Attachments
								div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
									table.tlf-table.tlf-table--border-spacing
										caption.u-hideAccessible Tabla adjuntos Incidencias
										thead.tlf-table__head
											tr.tlf-table__head__row.tlf-table__row--color
												th.tlf-table__head__col.tlf-table__head__col--show
													span.tlf-table__text File Name
												th.tlf-table__head__col.tlf-table__head__col--center.tlf-table__head__col--show
													span.tlf-table__text Description
										tbody.tlf-table__body
											tr.tlf-table__body__row
												td.tlf-table__body__col.tlf-table__body__col--show
													span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
												td.tlf-table__body__col.tlf-table__body__col--show
													span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
									.tlf-contBtn.tlf-contBtn--large
										input.tlf-btn(type="button" value="Attach Files" data-toggle="modal" data-target="#tlf-atachment-file-incident")
								.tlf-contBtn
									input.tlf-btn.tlf-btn--disabled(type="button" value="Save")
									input.tlf-btn(type="button" value="Back" aria-label="close" data-dismiss="modal")
		//- end modal open ticket
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:










