extends ../layouts/layout__primary


block title
	title!='Servi Tracking - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown.active
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.wrapper
			section.tlf-slide
				h2.tlf-slide__title Service Tracking
				p.tlf-slide__description La m&aacute;s completa informaci&oacute;n on line. Que le permitir&aacute; conocer el funcionamiento de su red, interactuar comodamente con nuestro help desk, y medir la performance de nuestros servicios.
				ul.tlf-slide__list
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-reports.png" alt="Reportes")
						h3.tlf-slide__text Reportes
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-monitoreo.png" alt="Monitoreo")
						h3.tlf-slide__text Monitoreo
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-pedidos.png" alt="Trámites")
						h3.tlf-slide__text Tr&aacute;mites
					li.tlf-slide__item
						figure.tlf-slide__cont-img
							img.tlf-slide__img(src="./assets/img/icons/tlf-nuevo.png" alt="Portales")
						h3.tlf-slide__text Portales
		.row
			.col-lg-12.col-md-12.col-sm-12
				nav.tlf-navigation
					ul.tlf-navigation__list
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Reportes")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-reports.png" alt="")
								!= "Reportes"
								span.tlf-navigation__text Consulte y gestione sus reportes de servicio
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Monitoreo")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-monitoreo.png" alt="")
								!= "Monitoreo"
								span.tlf-navigation__text Vea el estado de sus redes en tiempo real
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Trámites")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-pedidos.png" alt="")
								!= "Tr&aacute;mites"
								span.tlf-navigation__text Controle el estado de sus pedidos y gestione reclamos
						li.tlf-navigation__item
							a.tlf-navigation__link(href="#" title="Portales")
								figure.tlf-navigation__cont-img
									img.tlf-navigation__img(src="./assets/img/icons/tlf-nuevo.png" alt="")
								!= "Portales"
								span.tlf-navigation__text Conjunto de portales externos para cada pa&iacute;s
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:








