extends ../layouts/layout__primary


block title
	title!='Service Tracking - Tickets y Pedidos - Telefonica CWP'

block body
	header.tlf-header
		.tlf-header__top
			.wrapper
				h1.u-hideAccessible Telef&oacute;nica CPW
				figure.tlf-header__cont-img
					img.tlf-header__img(src="./assets/img/contents/header/tlf-bg_subheader.png" alt="marcas de telefónica")
		nav.tlf-nav
			.wrapper
				.row
					.col-lg-8.col-md-9.col-sm-12
						ul.tlf-nav__list
							li.tlf-nav__item.tlf-nav__item--icon
								a.tlf-nav__link.tlf-nav__link--icon(href="#" title="Home") Home
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown")
									span.tlf-nav__text Relationship Management
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Agenda") Agenda
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Comunidad Expertos") Comunidad Expertos
							li.tlf-nav__item.dropdown.selected
								a.tlf-nav__link.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown")
									span.tlf-nav__text Service Tracking
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Reportes") Reportes
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Monitoreo") Monitoreo
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Tickets y Pedidos") Tickets y Pedidos
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Portales") Portales
							li.tlf-nav__item.dropdown
								a.tlf-nav__link.dropdown-toggle(href="#" title="My Service" data-toggle="dropdown")
									span.tlf-nav__text My Service
								ul.tlf-nav__subList.dropdown-menu
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Documentación") Documentaci&oacute;n
									li.tlf-nav__subItem
										a.tlf-nav__subLink(href="#" title="Market Place") Market Place
							li.tlf-nav__item
								a.tlf-nav__link(href="#" title="Ideas Corner")
									span.tlf-nav__text Ideas Corner
					.col-lg-4.col-md-3.col-sm-12
						form.tlf-profile__contText(action="#" method="post")
							fieldset
								legend.u-hideAccessible Formulario perfil
								label.tlf-profile__text(for="name")
									a.tlf-profile--blue(href="#" title="perfil") XX Contacto
								select.tlf-selectpicker(id="name" data-function='data-selectpicker')
									option XXX - El Farolito de Lima
									option Cliente PostVenta
									option Lorem ipsum
						.tlf-contLinks
							a.tlf-contLinks__text(href="#" title="Ayuda") Ayuda
							a.tlf-contLinks__text(href="#" title="Salir") Salir
		nav.tlf-nav--mobile.navbar.navbar-default
			.navbar-header
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar")
					span.sr-only Cerrar
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#navbar
				.tlf-navbar__container
					button(type="button" class="navbar-toggle tlf-btn__close" data-toggle="collapse" data-target="#navbar")
						span.sr-only Cerrar
					ul.tlf-nav__listMb.nav.navbar-nav
						li
							a.tlf-nav__linkMb(href="#" title="Inicio") Inicio
						li
							a.dropdown-toggle(href="#" title="Relationship Management" data-toggle="dropdown") Relationship Management
							ul.dropdown-menu
								li
									a(href="#" title="Equipo telefónica") Equipo telef&oacute;nica
								li
									a(href="#" title="Agenda") Agenda
								li
									a(href="#" title="Comunidad Expertos") Comunidad Expertos
						li.dropdown.active
							a.dropdown-toggle(href="#" title="Service Tracking" data-toggle="dropdown") Service Tracking
							ul.dropdown-menu
								li
									a(href="#" title="Reportes") Reportes
								li
									a(href="#" title="Monitoreo") Monitoreo
								li
									a(href="#" title="Tickets y Pedidos") Tickets y Pedidos
								li
									a(href="#" title="Portales") Portales
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown") My Service
							ul.dropdown-menu
								li
									a(href="#" title="Documentación") Documentaci&oacute;n
								li
									a(href="#" title="Market Place") Market Place
						li
							a(href="#" title="Ideas Corner") Ideas Corner
					form.tlf-profile__contText(action="#" method="post")
						fieldset.form-group
							legend.u-hideAccessible Formulario perfil
							label.tlf-profile__text(for="nameMbl")
								a.tlf-profile--blue(href="#" title="perfil") XX Contacto
							select.tlf-selectpicker(id="nameMbl" data-function='data-selectpicker')
								option XXX - El Farolito de Lima
								option Cliente PostVenta
								option Lorem ipsum
					ul.nav.navbar-nav.navbar-right
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Ayuda
						li.tlf-navbar__item
							a.tlf-contLinks__text(href="#" title="Enlace 3") Salir
	main.tlf-container
		.tlf-show
			.wrapper
				.row
					.col-lg-12.col-md-12.col-sm-12
						.tlf-cont-title
							figure.tlf-container__cont-img
									img.tlf-container__img(src="./assets/img/icons/tlf-factura_a.png" alt="Factura")
								h2.tlf-container__title
									span.tlf-container__text Tr&aacute;mites
						form.tlf-form(action="#" method="post")
							fieldset.tlf-form__fieldset
								legend.u-hideAccessible Formulario b&uacute;squeda
								label.u-hideAccessible(for="selecciona") Selecciona una de las opciones
								select.tlf-selectpicker(id="selecciona" data-function='data-selectpicker')
									option N&uacute;mero del caso
									option Motivo de contacto
									option Asunto
									option Contacto
									option Estado
									option Origen del caso
									option Prioridad
								label.u-hideAccessible(for="buscar") B&uacute;squeda
								input.tlf-form__search(type="search" id="buscar")
								input.tlf-btn.tlf-btn--big(id="busqueda" type="button" value="Buscar")
				section.tlf-tabs
					.tlf-tabs__block
						ul.tlf-tabs__nav.nav.nav-tabs
							li.tlf-tabs__item.active
								a.tlf-tabs__link(href="#tab1" data-toggle="pill" title="Facturación") Casos
					a.tlf-btn(href="#" title="Nuevo Caso" data-toggle="modal" data-target="#tlf-new" data-function="data-open") Nuevo Caso
					.tab-content.tlf-tabs__content
						#tab1.tab-pane.fade.in.active
							table.tablesorter.tlf-table(data-function="data-table")
								caption.u-hideAccessible Tabla de casos
								thead.tlf-table__head
									tr.tlf-table__head__row.tlf-table__row--color
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Caso principal")
												span.tlf-table__text Caso principal
										th.tlf-table__head__col.tlf-table__head__col--show.tlf-table__head__col--show-second
											a.tlf-table__head__link(href="#" title="Número del caso")
												span.tlf-table__text N&uacute;mero del caso
										th.tlf-table__head__col.tlf-table__head__col--show
											a.tlf-table__head__link(href="#" title="Motivo de contacto")
												span.tlf-table__text Motivo de contacto
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Fecha de Solicitud Cliente")
												span.tlf-table__text Fecha de Solicitud Cliente
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Asunto")
												span.tlf-table__text Asunto
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Contacto")
												span.tlf-table__text Contacto
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Estado")
												span.tlf-table__text Estado
										th.tlf-table__head__col.tlf-table__head__col--hideTbl
											a.tlf-table__head__link(href="#" title="Origen del caso")
												span.tlf-table__text Origen del caso
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Prioridad")
												span.tlf-table__text Prioridad
										th.tlf-table__head__col
											a.tlf-table__head__link(href="#" title="Adjuntos")
												span.tlf-table__text Adjuntos
										th.tlf-table__head__col.tlf-table__head__col--showMbl
											span Datos m&oacute;vil
								tbody.tlf-table__body
									tr.tlf-table__body__row.collapsed(data-target="#datos" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--show-second
											a.tlf-table__body__link(href="#" title="03587452" data-toggle="modal" data-target="#tlf-detail") 03587452
										td.tlf-table__body__col.tlf-table__body__col--show Aprobaci&oacute;n
										td.tlf-table__body__col 22/03/2016 17:50
										td.tlf-table__body__col ZZ PORTAL Prueba
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Pendiente
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Portal cliente
										td.tlf-table__body__col Media
										td.tlf-table__body__col
											a(href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt")
												img.tlf-table__img(src="./assets/img/icons/tlf-reports.png" alt="adjuntos")
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos.collapse
											span.tlf-table__showMbl__text Caso principal
											span.tlf-table__showMbl__text Fecha de Solicitud Cliente
												span.tlf-table__showMbl__sbText 16/03/2016 17:50
											span.tlf-table__showMbl__text Asunto
												span.tlf-table__showMbl__sbText XX PORTAL Prueba
											span.tlf-table__showMbl__text Contacto
											span.tlf-table__showMbl__text Estado
												span.tlf-table__showMbl__sbText En curso
											span.tlf-table__showMbl__text Origen del caso
												span.tlf-table__showMbl__sbText Portal cliente
											span.tlf-table__showMbl__text Prioridad
												span.tlf-table__showMbl__sbText Media
											span.tlf-table__showMbl__text Adjuntos
												a(href="#" title="adjuntos" data-toggle="modal" data-target="#tlf-adjunt")
													img.tlf-table__img(src="./assets/img/icons/tlf-reports.png" alt="adjuntos")
									tr.tlf-table__body__row.collapsed(data-target="#datos2" data-toggle="collapse")
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--show-second
											a.tlf-table__body__link(href="#" title="01586418" data-toggle="modal" data-target="#tlf-detail") 01586418
										td.tlf-table__body__col.tlf-table__body__col--show Consulta
										td.tlf-table__body__col 16/03/2016 17:50
										td.tlf-table__body__col XX PORTAL Prueba
										td.tlf-table__body__col.tlf-table__body__col--hideTbl
										td.tlf-table__body__col.tlf-table__body__col--hideTbl En curso
										td.tlf-table__body__col.tlf-table__body__col--hideTbl Portal cliente
										td.tlf-table__body__col Media
										td.tlf-table__body__col
										td.tlf-table__body__col.tlf-table__body__col--showMbl#datos2.collapse
											span.tlf-table__showMbl__text Caso principal
											span.tlf-table__showMbl__text Fecha de Solicitud Cliente
												span.tlf-table__showMbl__sbText 16/03/2016 17:50
											span.tlf-table__showMbl__text Asunto
												span.tlf-table__showMbl__sbText XX PORTAL Prueba
											span.tlf-table__showMbl__text Contacto
											span.tlf-table__showMbl__text Estado
												span.tlf-table__showMbl__sbText En curso
											span.tlf-table__showMbl__text Origen del caso
												span.tlf-table__showMbl__sbText Portal cliente
											span.tlf-table__showMbl__text Prioridad
												span.tlf-table__showMbl__sbText Media
											span.tlf-table__showMbl__text Adjuntos
								tfoot.tlf-table__foot
									tr
										td.tlf-table__foot__col(colspan="11")
											form(action="#" method="post")
												fieldset
													legend.u-hideAccessible N&uacute;mero de p&aacute;ginas
													select.tlf-table__select(id="pagination2" data-function='data-selectpicker')
														option 10
														option 25
														option 50
														option 100
														option 200
													label.tlf-pagination(for="pagination2")
														a.tlf-pagination__link.tlf-pagination__link--prev.disabled(href="#" title="Página anterior") P&aacute;gina anterior
														span.tlf-pagination__text (1 - 8 de 8)
														a.tlf-pagination__link.tlf-pagination__link--next(href="#" title="Página siguiente") P&aacute;gina siguiente
		//- modal nuevo caso,
		.modal.fade.tlf-new__modal#tlf-new(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post" data-form="newcase")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend NUEVO CASO COMERCIAL
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Estado:
									span.tlf-new__modal__input En Curso
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
									label.tlf-new__modal__label(for="horaInicio") * Motivo de contacto:
									//- El option sin información debera tener un value vacio,para el control de los campos requeridos !Important
									select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="horaInicio" name="horaInicio" data-function='data-selectpicker' data-required="require")
										option(value="") --Ninguno--
										option Inconformidad de Atenci&oacute;n
										option Incorformidad de Facturaci&oacute;n
										option Incorformidad de Provisi&oacute;n
										option Solicitud Administrativa
										option Solicitud comercial
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="asunto") * Asunto
									input.tlf-new__modal__input(type="text" value="" id="asunto" name="asunto" data-required="require")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									label.tlf-new__modal__label(for="descripción") Descripci&oacute;n
									textarea.tlf-new__modal__input.tlf-new__modal__input--tall(id="descripción" name="descripción")
								.tlf-contBtn
									input.tlf-btn(type="submit" value="Guardar" data-require-btn="btn")
									input.tlf-btn(type="submit" value="Guardar y adjuntar" data-require-btn="btn")
									input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--last
									span.tlf-new__modal__label * Informaci&oacute;n Obligatoria
		//- end modal nuevo caso
		//- modal detalle
		.modal.fade.tlf-new__modal#tlf-detail(data-function="modal-focus")
			.modal-dialog
				//- modal añadir comentario
				.modal.fade.tlf-new__modal#tlf-comment
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.tlf-new__modal__form__legend A&ntilde;adir comentario
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label.u-hideAccessible(for="descripción2") Descripci&oacute;n
											textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="descripción2" name="descripción2")
										.tlf-contBtn
											input.tlf-btn(type="submit" value="Guardar")
											input.tlf-btn(type="button" value="Cancelar" aria-label="close" data-dismiss="modal")
				//- end modal añadir comentario
				//- modal adjuntar archivo
				.modal.fade.tlf-new__modal#tlf-atachment(data-function="modal-focus")
					.modal-dialog
						.modal-content.tlf-new__modal__content
							button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
							.modal-body.tlf-new__modal__body
								form.tlf-new__modal__form(action="#" method="post")
									fieldset.tlf-new__modal__fieldset
										legend.tlf-new__modal__form__legend Adjuntar un archivo al caso 01586418
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											label.tlf-new__modal__label(for="archivo") 1. Seleccione el archivo
											span.tlf-new__modal__input.tlf-new__modal__input--simple Haga clic en el bot&oacute;n Examinar para buscar el archivo
											input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="archivo")
										.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
											span.tlf-new__modal__label 2. Haga clic en el bot&oacute;n Adjuntar archivo
											span.tlf-new__modal__input.tlf-new__modal__input--simple Para adjuntar varios archivos, repita los pasos 1 y 2
										.tlf-contBtn
											input.tlf-btn(type="submit" value="Adjuntar archivo")
											input.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal adjuntar archivo
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Detalle del tr&aacute;mite
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label N&uacute;mero del caso:
									span.tlf-new__modal__input 03327467
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Motivo de contacto:
									span.tlf-new__modal__input Inconformidad de Atenci&oacute;n
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Estado:
									span.tlf-new__modal__input En curso
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Prioridad:
									span.tlf-new__modal__input Media
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label Descripci&oacute;n
									span.tlf-new__modal__input.tlf-new__modal__input--simple N/A
								.tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
									span.tlf-new__modal__label Resoluci&oacute;n
									span.tlf-new__modal__input.tlf-new__modal__input--simple N/A
								.tlf-contBtn
									input.tlf-btn(type="button" value="Añadir comentario" data-toggle="modal" data-target="#tlf-comment")
									input.tlf-btn(type="button" value="Adjuntar archivo" data-toggle="modal" data-target="#tlf-atachment")
									input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
				//- end modal detalle
		//- modal adjuntos
		.modal.fade.tlf-new__modal#tlf-adjunt(data-function="modal-focus")
			.modal-dialog
				.modal-content.tlf-new__modal__content
					button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
					.modal-body.tlf-new__modal__body
						form.tlf-new__modal__form(action="#" method="post")
							fieldset.tlf-new__modal__fieldset
								legend.tlf-new__modal__form__legend Adjuntos
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Creado por:
									span.tlf-new__modal__input XX Contacto
								.tlf-new__modal__controlGroup
									span.tlf-new__modal__label Fecha de creaci&oacute;n
									span.tlf-new__modal__input 17/02/2017 13:02:09
								.tlf-new__modal__controlGroup
									a(href="#" title="nombreArchivo") archivo.json
								.tlf-contBtn.tlf-hideDesktop
									input.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")
		//- end modal adjuntos
	footer.tlf-footer
		.wrapper
			.row
				.col-lg-12.col-md-12.col-sm-12
					.tlf-footer__container
						h2.tlf-footer__title &copy;Telef&oacute;nica S.A.
						span.tlf-footer__text Compartir este sitio en:










