///*----------------------------------------------------------------
//    #Clearfix mixin
//------------------------------------------------------------------*/

@mixin clearfix($clear:both) {
	&:after {
		content : "";
		display : block;
		clear   : $clear;
	}
}
