mixin tlf-modal-new-modification()
    .modal.fade.tlf-new__modal#tlf-modification(data-function="modal-focus")
        .modal-dialog
            .modal.fade.tlf-new__modal#tlf-atachment-file-modification(data-function="modal-focus")
                .modal-dialog
                    .modal-content.tlf-new__modal__content
                        button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
                        .modal-body.tlf-new__modal__body
                            form.tlf-new__modal__form(action="#" method="post")
                                fieldset.tlf-new__modal__fieldset
                                    legend.u-hideAccessible Attach File
                                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                        label.tlf-new__modal__label(for="file-attach") File
                                        input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="file-attach")
                                    .tlf-new__modal__controlGroup
                                        label.tlf-new__modal__label(for="description-file") Description
                                        input.tlf-new__modal__input(type="text" id="description-file")
                                    .tlf-contBtn
                                        input.tlf-btn(type="button" value="Cancel Upload" aria-label="close" data-dismiss="modal")
                                        input.tlf-btn(type="submit" value="Ok")
            .modal-content.tlf-new__modal__content
                button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
                .modal-body.tlf-new__modal__body
                    h2.tlf-new__modal__title__desc New Order: Modification
                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big.tlf-new__modal__controlGroup--without-margin
                        form.tlf-new__modal__form(action="#" method="post")
                            fieldset.tlf-new__modal__fieldset
                                legend.tlf-new__modal__legend-title Service Categorization
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Family
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary -
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary -
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Unit
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary Mobile Line
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Unit
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary OI-0007845457
                            fieldset.tlf-new__modal__fieldset
                                legend.tlf-new__modal__legend-title Location
                                .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big.tlf-new__modal__controlGroup--without-margin
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Holding
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary -
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Account
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary SPOWER
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Billing Account
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary 4477209
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Account
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary SPEN - Production (Scot) Zone Voice Connections
                            fieldset
                                legend.tlf-new__modal__legend-title Attachments
                                .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    table.tlf-table.tlf-table--border-spacing
                                        caption.u-hideAccessible Tabla adjuntos Modificaci&oacute;n
                                        thead.tlf-table__head
                                            tr.tlf-table__head__row.tlf-table__row--color
                                                th.tlf-table__head__col.tlf-table__head__col--show
                                                    span.tlf-table__text File Name
                                                th.tlf-table__head__col.tlf-table__head__col--show
                                                    span.tlf-table__text Description
                                        tbody.tlf-table__body
                                            tr.tlf-table__body__row
                                                td.tlf-table__body__col.tlf-table__body__col--show
                                                    span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
                                                td.tlf-table__body__col.tlf-table__body__col--show
                                                    span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
                                    .tlf-contBtn.tlf-contBtn--large
                                        input.tlf-btn(type="button" value="Attach Files" data-toggle="modal" data-target="#tlf-atachment-file-modification")
                            fieldset
                                legend.tlf-new__modal__legend-title Ticket Information
                                .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    label.tlf-new__modal__label(for="description-modification") Description
                                    textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="description-modification" name="description-modification")
                    .tlf-contBtn.tlf-contBtn--large
                        input.tlf-btn(type="submit" value="Send Modification")
                        input.tlf-btn(type="button" value="Back" aria-label="close" data-dismiss="modal")
