mixin tlf-modal-checkboxes()
    .modal.fade.tlf-modal-checkboxes#tlf-filter(data-function="modal-focus")
        .modal-dialog
            .modal-content.tlf-modal-checkboxes__content
                button.tlf-modal-checkboxes__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
                .modal-body.tlf-modal-checkboxes__body
                    form.tlf-modal-checkboxes__form(action="#" method="post")
                        fieldset.tlf-modal-checkboxes__fieldset.tlf-hideDesktop
                            legend.tlf-modal-checkboxes__legend!="Filter by Category"
                            .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
                                label(for="category") Categor&iacute;a
                                select.tlf-selectpicker.tlf-new__modal__input.tlf-new__modal__select(id="horacategoryInicio" name="category" data-function='data-selectpicker')
                                    option Mobile Line
                                    option Lorem ipsum
                                    option Lorem ipsum
                                    option Lorem ipsum
                                    option Lorem ipsum
                        fieldset.tlf-modal-checkboxes__fieldset(data-function='data-checkboxes')
                            legend.tlf-modal-checkboxes__legend!="Filter by profile"
                            div.tlf-modal-checkboxes__container.tlf-modal-checkboxes__container--margin-vertical(data-function='data-scrollbar')
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox" value="" name="checkboxes" id="bloomberg")
                                    label.tlf-modal-checkboxes__label(for="bloomberg" data-function='data-checkboxes-label')!="Bloomberg participant"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox" value="" name="checkboxes" id="director")
                                    label.tlf-modal-checkboxes__label(for="director" data-function='data-checkboxes-label')!="DIRECTOR_SP"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox" value="" name="checkboxes" id="administrator")
                                    label.tlf-modal-checkboxes__label(for="administrator" data-function='data-checkboxes-label')!="Data administrator"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox"  value="" name="checkboxes" id="manager")
                                    label.tlf-modal-checkboxes__label(for="manager" data-function='data-checkboxes-label')!="Relationship manager"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox"  value="" name="checkboxes" id="analyst")
                                    label.tlf-modal-checkboxes__label(for="analyst" data-function='data-checkboxes-label')!="Research analyst"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox"  value="" name="checkboxes" id="research")
                                    label.tlf-modal-checkboxes__label(for="research" data-function='data-checkboxes-label')!="Research event"
                                div.tlf-modal-checkboxes__row(data-function='data-checkboxes-parent')
                                    input.tlf-modal-checkboxes__checkbox(type="checkbox"  value="" name="checkboxes" id="lorem")
                                    label.tlf-modal-checkboxes__label(for="lorem" data-function='data-checkboxes-label')!="Lorem Ipsum"
                            div.tlf-contBtn
                                button.tlf-btn(type="button")!="Filtrar"
                                input.tlf-hideDesktop.tlf-btn(type="button" value="Cerrar" aria-label="close" data-dismiss="modal")