mixin tlf-modal-new-incident()
    .modal.fade.tlf-new__modal#tlf-incident(data-function="modal-focus")
        .modal-dialog
            .modal.fade.tlf-new__modal#tlf-atachment-file-incident(data-function="modal-focus")
                .modal-dialog
                    .modal-content.tlf-new__modal__content
                        button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
                        .modal-body.tlf-new__modal__body
                            form.tlf-new__modal__form(action="#" method="post")
                                fieldset.tlf-new__modal__fieldset
                                    legend.u-hideAccessible Attach File
                                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                        label.tlf-new__modal__label(for="file-attach") File
                                        input.tlf-new__modal__input.tlf-new__modal__input--simple(type="file" id="file-attach")
                                    .tlf-new__modal__controlGroup
                                        label.tlf-new__modal__label(for="description-file") Description
                                        input.tlf-new__modal__input(type="text" id="description-file")
                                    .tlf-contBtn
                                        input.tlf-btn(type="button" value="Cancel Upload" aria-label="close" data-dismiss="modal")
                                        input.tlf-btn(type="submit" value="Ok")
            .modal-content.tlf-new__modal__content
                button.tlf-new__modal__close(type="button" data-dismiss="modal" aria-label="Close" data-function="focus")
                .modal-body.tlf-new__modal__body
                    h2.tlf-new__modal__title__desc Ticket Type
                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big.tlf-new__modal__controlGroup--without-margin
                        form.tlf-new__modal__form(action="#" method="post")
                            fieldset.tlf-new__modal__fieldset
                                legend.tlf-new__modal__legend-title Service Categorization
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Family
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary Enterprise Managed Mobility
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary Global Management Elite (GME)
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Unit
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary Mobile Line
                                    div.tlf-new__modal__data-row
                                        span.tlf-new__modal__data Service Unit
                                        span.tlf-new__modal__data.tlf-new__modal__data--secondary OI-0007845457
                            fieldset
                                legend.tlf-new__modal__legend-title Ticket Information
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                        label.tlf-new__modal__label(for="subject-incident") Subject
                                        input.tlf-new__modal__input(type="text" id="subject-incident" name="subject-incident" value="")
                                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                        label.tlf-new__modal__label(for="description-incident") Description
                                        textarea.tlf-new__modal__input.tlf-new__modal__input--taller(id="description-incident" name="description-incident")
                                    .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big
                                        .tlf-new__modal__form-row
                                            .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
                                                label.tlf-new__modal__label(for="impact-incident") Impact
                                                select.tlf-selectpicker.tlf-new__modal__select(id="impact-incident" name="impact-incident" data-function='data-selectpicker')
                                                    option(value="") --None--
                                                    option(value="1-Extensive/Widespread") 1-Extensive/Widespread
                                                    option(value="2-Significant/Large") 2-Significant/Large
                                                    option(value="3-Moderate/Limited") 3-Moderate/Limited
                                                    option(value="4-Minor/Localized") 4-Minor/Localized
                                        .tlf-new__modal__form-row
                                            .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--mbl
                                                label.tlf-new__modal__label(for="urgency-incident") Urgency
                                                select.tlf-selectpicker.tlf-new__modal__select(id="urgency-incident" name="urgency-incident" data-function='data-selectpicker')
                                                    option(value="") --None--
                                                    option(value="1-Critical") 1-Critical
                                                    option(value=" 2-High") 2-High
                                                    option(value="3-Medium") 3-Medium
                                                    option(value="4-Low") 4-Low
                            fieldset
                                legend.tlf-new__modal__legend-title Attachments
                                div.tlf-new__modal__data-content.tlf-new__modal__data-content--simple.tlf-new__modal__data-content--inverse
                                    table.tlf-table.tlf-table--border-spacing
                                        caption.u-hideAccessible Tabla adjuntos Incidencias
                                        thead.tlf-table__head
                                            tr.tlf-table__head__row.tlf-table__row--color
                                                th.tlf-table__head__col.tlf-table__head__col--show
                                                    span.tlf-table__text File Name
                                                th.tlf-table__head__col.tlf-table__head__col--center.tlf-table__head__col--show
                                                    span.tlf-table__text Description
                                        tbody.tlf-table__body
                                            tr.tlf-table__body__row
                                                td.tlf-table__body__col.tlf-table__body__col--show
                                                    span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
                                                td.tlf-table__body__col.tlf-table__body__col--show
                                                    span.tlf-table__text.u-hideAccessible Campo Vac&iacute;o
                                .tlf-contBtn.tlf-contBtn--large
                                    input.tlf-btn(type="button" value="Attach Files" data-toggle="modal" data-target="#tlf-atachment-file-incident")
                    .tlf-contBtn.tlf-contBtn--large
                        input.tlf-btn(type="submit" value="Open Incident")
                        input.tlf-btn(type="button" value="Back" aria-label="close" data-dismiss="modal")