//- jade mixin includes
//- general
include ../config.jade
include ../utilities/_util__headBuilder
//- modules
include ../components/_comp__modal-checkboxes
include ../components/_comp__modal-new-modification
include ../components/_comp__modal-new-incident

doctype html
<!--[if gte IE 9]><html lang="es" dir="ltr" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="es" dir="ltr"><!--<![endif]-->
+m-headBuilder({
	title: 'Telfonica - CWP',
	metaList: {
		'viewport': 'width=device-width, initial-scale=1.0'
	},
	cssFiles: [
		'bower_components/bootstrap/dist/css/bootstrap.min',
		'bower_components/bootstrap-select/dist/css/bootstrap-select.min',
		'bower_components/slick-carousel/slick/slick',
		'css/salesforce-lightning-design-system',
		'bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min',
		'css/dFront'
	],
	jsFiles: [
		'bower_components/jquery/dist/jquery.min',
		'bower_components/html5shiv/dist/html5shiv.min',
		'bower_components/respond/dest/respond.min',
		'bower_components/bootstrap/dist/js/bootstrap',
		'bower_components/bootstrap-select/dist/js/bootstrap-select',
		'bower_components/tablesorter/jquery.tablesorter',
		'js/dist/reflection',
		'js/dist/cloud-carousel.1.0.5',
		'bower_components/slick-carousel/slick/slick.min',
		'bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min',
		'js/dist/wefront-script'

	]
})
body.tlf-content(data-ng-app="app")
	block body
//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>
