/*-------------------------------------------
	#FONT GENERATOR
---------------------------------------------*/

///* Example for use @font-face
//
//	@include font-face([name-font],
//		"[path]",
//		[font-style],
//		[font-weight],
//		[type-font(eot | woff | svg | ttf)]
//	);
//
//*/


/*-------------------------------------------
	#salesforce-sans -REGULAR
---------------------------------------------*/
@include font-face(salesforcesans,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-regular",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - BOLD
---------------------------------------------*/
@include font-face(salesforcesans--bold,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-bold",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - BOLD ITALIC
---------------------------------------------*/
@include font-face(salesforcesans--bolditalic,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-bolditalic",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - ITALIC
---------------------------------------------*/
@include font-face(salesforcesans--italic,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-italic",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - LIGHT ITALIC
---------------------------------------------*/
@include font-face(salesforcesans--lightitalic,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-lightitalic",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - THIN
---------------------------------------------*/
@include font-face(salesforcesans--thin,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-thin",
	normal,
	normal,
	ttf woff
);

/*-------------------------------------------
	#salesforce-sans - THIN ITALIC
---------------------------------------------*/
@include font-face(salesforcesans--thinitalic,
	$wefront__fontPath	+ "salesforce-sans/salesforcesans-thinitalic",
	normal,
	normal,
	ttf woff
);
