///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

$color-map: (
        selected                        :   #00c6d7 ,
        day                             :   #ebebeb ,
        today                           :   #b8e4fb ,
	primary             		:   #00c6d6 ,
        primary-light                   :   #00d7e9 ,
        secondary           		:   #666666 ,
        hover         			:   #00cfdd ,
	groun-secondary		        :   #00A5B8 ,
	shadow				:   #219bbe ,
        //alert               		:   red     ,
        //warn                		:   orange  ,
        //info                		:   green   ,
	white           		:   #ffffff ,
        white-dark                      :   #fcfcfc ,
	black           		:   #333435 ,
        black-10                        :   #000000 ,
        black-20                        :   #4c4c58 ,
        black-dark                      :   #222222 ,
        black-tit                       :   #454545 ,
        black-foot                      :   #808080 ,
        gray-light                      :   #979797 ,
        gray                            :   #F7F7F7 ,
	gray-10         		:   #dedede ,
	gray-20         		:   #333333 ,
	gray-30         		:   #E6E6E6 ,
	gray-40         	        :   #666666 ,
	gray-50         		:   #f8f8f8 ,
	gray-60         		:   #888888 ,
	gray-70         		:   #b5b5b5 ,
	gray-80         		:   #6b6b6b ,
	gray-90         		:   #777777 ,
        gray-100                        :   #8b8b8b ,
        gray-110                        :   #d8d8d8 ,
        gray-120                        :   #4a4a56 ,
        gray-130                        :   #0d3040 ,
        gray-140                        :   #4a4a4a ,
        gray-150                        :   #abadb3 ,
        gray-160                        :   #707070 ,
        gray-tex                        :   #EFF4F5 ,
        gray-dark                       :   #C2C2C2 ,
        blue                            :   #00b5c7 ,
        blue-10                         :   #00a7b7 ,
        blue-20                         :   #0296be ,
        blue-30                         :   #00c6d8 ,
        blue-40                         :   #179ec4 ,
        blue-50                         :   #007287 ,
        blue-60                         :   #015ba7 ,
        blue-70                         :   #0c4052 ,
        blue-80                         :   #015875 ,
        blue-90                         :   #00AABE ,
        blue-100                        :   #f0faff ,
        blue-110                        :   #009ebf ,
        blue-120                        :   #0095c0 ,
        blue-130                        :   #8ad2ff ,
        blue-140                        :   #007aff ,
        blue-150                        :   #01364b ,
        blue-dark                       :   #0F3F51 ,
        ground                          :   #F6F8F6 ,
        ground-10                       :   #00abdc ,
        ground-20                       :   #F5F5F5 ,
        ground-30                       :   #0093a5 ,
        ground-40                       :   #005c84 ,
        ground-50                       :   #0672A8 ,
        borde                           :   #f4f4f4 ,
        borde-10                        :   #a9a9a9 ,
        borde-20                        :   #bfbfbf ,
        borde-30                        :   #009ec1 ,
        borde-40                        :   #eaeaea ,
        borde-dark                      :   #e0e2e2 ,
        bg-hover                        :   #e9e9e9 ,
        tabla                           :   #ececec ,
        borde-tabla                     :   #cccccc ,
        tshadow                         :   #696969 ,
        bshadow                         :   #BEE2F9 ,
        bshadow-10                      :   #4282a5 ,
        gradient                        :   #02b7e2 ,
        gradient-10                     :   #04A9D7
);
