/*-------------------------------------------------------------
    #DFRONT: carousel
-----------------------------------------------------------------*/
.tlf-carousel{
    margin-bottom: rem(8);
    width: 100%;
    min-height: rem(380);
    overflow:visible!important;
    &__container{
        width: 100%;
        height: 100%;
        display: block;
    }
    &__contText{
        display: block;
        position: absolute;
        left:rem(45);
        width: 90%;
        margin-top: 46%;
    }
    &__title{
        font-family: salesforcesans;
        font-size: rem(15);
        color: color(blue-20);
        line-height: 1.15em;
    }
    &__subTitle{
        font-family: salesforcesans;
        font-size: rem(12);
        color: color(gray-60);
    }
    &__button{
        position:absolute;
        display: inline-block;
        width:rem(50);
        height:rem(40);
        cursor:pointer;
        &--left{
            top:50%;
            left:-3%;
            margin-top:rem(-50);
            background:url($wefront__imgPath+"icons/tlf-arrowLeft.png") no-repeat center center;
        }
        &--right{
            top:50%;
            right:-3%;
            margin-top:rem(-50);
            background:url($wefront__imgPath+"icons/tlf-arrowRight.png") no-repeat center center;
        }
    }
    &__team{
        margin-top:rem(30);
        margin-bottom:rem(32);
        padding:0 rem(55);
        .slick-arrow{
            position:absolute;
            top:50%;
            margin-top:rem(17);
            width:rem(15);
            height:rem(28);
            text-indent:-9999px;
            border:none;
            &.slick-prev{
                left:0;
                background:url($wefront__imgPath+"icons/tlf-arrowSprite.png") no-repeat center center;
                background-position: -24px -46px;
            &:hover,&:focus{
                    background-position: -144px -46px;
                }
            }
            &.slick-next{
                right:0;
                background:url($wefront__imgPath+"icons/tlf-arrowSprite.png") no-repeat center center;
                background-position: -83px -46px;
                &:hover,&:focus{
                    background-position: -203px -46px;
                }
            }
        }
        &__item{
            margin:0 rem(4);
            padding:rem(19) rem(14);
            min-height: rem(297);
            background: color(white-dark);
            border: 1px solid color(borde);
            &:hover,&:focus{
                background: color(white);
                border: 1px solid color(borde-dark);
            }
        }
        &__linkT{
            display:block;
            margin-bottom:rem(10);
            &:hover,&:focus{
                text-decoration: none;
            }
        }
        &__title{
            padding-left:rem(10);
            font-family: salesforcesans;
            font-size: rem(18);
            color: color(black-tit);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover,&:focus{
                text-decoration: none;
            }
        }
        &__cont-img{
            display:inline-block;
            margin-left:rem(14);
            width:rem(88);
            height:rem(88);
            vertical-align: top;
        }
        &__img{
            width:100%;
            height:auto;
        }
        &__text{
            font-family: salesforcesans;
            font-size: rem(12);
            color: color(gray-60);
            line-height: 1.2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &--bold{
                font-weight: bold;
            }
            &:hover,&:focus{
                color:color(secondary);
            }
        }
        &--right{
            display: inline-block;
            margin-top: rem(12);
            padding-left:rem(20);
            vertical-align: top;
        }
        &--email{
            display:block;
            width: rem(32);
            height:rem(32);
            text-indent:-9999px;
            background:url($wefront__imgPath+"icons/tlf-email.png") no-repeat center center;
        }
        &--task{
            display:inline-block;
            width: rem(32);
            height:rem(32);
            text-indent:-9999px;
            background:url($wefront__imgPath+"icons/tlf-task.png") no-repeat center center;
        }
        &__link{
            display:block;
            margin-top:rem(17);
            &:hover,&:focus{
                text-decoration:none;
            }
        }
    }
}
.tlf-carousel--mobile{
    display:none;
}

.tlf-slider{
    &__cont-img{
        width:100%;
        height:rem(350);
    }
    &__img{
        width:100%;
        height:auto;
    }
    &__arrow{
        top:50%;
        bottom:inherit;
        margin-top:rem(-51);
        width:rem(55);
        height:rem(55);
        opacity:1;
        background:url($wefront__imgPath+"icons/tlf-arrowSprite.png") no-repeat center center;
        &--prev{
            left:rem(8);
            background-position: -3px -33px;
            &:hover,&:focus{
                background-position: -123px -33px;
            }
        }
        &--next{
            left:inherit;
            right:rem(8);
            background-position: -63px -33px;
            &:hover,&:focus{
                background-position: -183px -33px;
            }
        }
        &:hover,&:focus{
            opacity:1;
        }
    }
    &__market{
        .tlf-slider__cont-img{
            width: 100%;
            height:rem(330);
        }
    }
    &__banner{
        position:relative;
        .tlf-btn{
            position: absolute;
            bottom: rem(15);
            left: 8%;
            float: none;
            width: 100%;
            max-width: rem(160);
        }
    }
}

.tlf-slide{
    padding:rem(40) rem(65);
    min-height: rem(350);
    background:url($wefront__imgPath+"contents/tlf-relationship.png") no-repeat center center;
    background-size: contain;
    &__title{
        font-family: salesforcesans;
        font-size: rem(19);
        color: color(gray-tex);
    }
    &__description{
        margin-top: rem(11);
        margin-bottom: rem(33);
        width: 60%;
        font-family: salesforcesans;
        font-size: rem(13);
        color: color(gray-tex);
    }
    &__list{
        padding-left:rem(5);
        width: 60%;
    }
    &__cont-img{
        display: inline-block;
        width: rem(40);
        height: rem(32);
        vertical-align: middle;
    }
    &_img{
        width:100%;
        height:100%;
    }
    &__text{
        display: inline-block;
        padding-left: rem(1);
        width: 50%;
        vertical-align: middle;
        font-family: salesforcesans;
        font-size: rem(13);
        color: color(gray-tex);
    }
}

//view tablet
@include media-query(md){
    .tlf-carousel{
        margin:rem(22) auto 0;
        width:rem(640);
        min-height: rem(403);
        &__contText{
            left: 2.7%;
            width: 97.3%;
        }
        &__button{
            &--left{
                left:-5%;
                margin-top:rem(-64);
            }
            &--right{
                right:-8%;
                margin-top:rem(-64);
            }
        }
        &__title{
            font-size: rem(18);
            color: color(blue-40);
        }
        &__team{
            padding: 0 rem(50);
            &__item{
                margin:0 rem(8);
                padding:rem(19) rem(5) rem(19) rem(15);
                min-height: rem(340);
            }
            &__linkT{
                margin-bottom:rem(7);
            }
            &__title{
                padding-left:0;
            }
            &__link{
                margin-top:rem(22);
            }
            &__cont-img{
                margin-left:rem(3);
            }
            &--right{
                margin-top:rem(8);
                padding-left:rem(27);
            }
            &--email{
                margin-bottom:rem(7);
            }
            &__text{
                margin-bottom:rem(20);
                font-size:rem(16);
                &:last-child{
                    margin-bottom:0;
                }
            }
            .slick-arrow{
                margin-top:rem(-16);
                width: rem(25);
                height: rem(35);
                &.slick-prev{
                    left:rem(-5);
                    background: url(../assets/img/icons/tlf-arrowLeft.png) no-repeat center center;
                    &:hover,&:focus{
                        background-position: center center;
                    }
                }
                &.slick-next{
                    right:rem(-5);
                    background: url(../assets/img/icons/tlf-arrowRight.png) no-repeat center center;
                    &:hover,&:focus{
                        background-position: center center;
                    }
                }
            }
        }
    }
    .tlf-slider{
        &__cont-img{
            overflow: hidden;
        }
        &__img{
            width: 100%;
            max-width: inherit;
        }
        &__market{
            .tlf-slider__arrow{
                display:none;
            }
        }
    }
    .tlf-carousel--mobile{
        display:none;
    }
    .tlf-slide{
        padding:rem(30) rem(75);
        min-height: rem(348);
        background-size:cover;
        &__title{
            font-size: rem(18);
            color: color(white);
        }
        &__list{
            margin-top: rem(8);
            padding-left:0;
        }
        &__item{
            margin-bottom:rem(10);
        }
        &__cont-img{
            display: inline-block;
            width: rem(42);
            height: rem(35);
            vertical-align: middle;
        }
        &__text{
            padding-left:rem(15);
            font-size: rem(16);
            color: color(white);
        }
    }
}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-carousel{
        display:none;
        &--mobile{
            display:block;
            margin-bottom:rem(32);
            .slick-slider{
                margin-top: rem(17);
                margin-bottom: rem(33);
            }
            .slick-arrow{
                position: absolute;
                top:20%;
                padding:0;
                width:rem(22);
                height: rem(40);
                text-indent:-9999px;
                border:none;
                z-index: 888;
                &.slick-prev{
                    left:rem(-2);
                    background:url($wefront__imgPath+"icons/tlf-arrowLeft.png") no-repeat center center;
                }
                &.slick-next{
                    right:rem(-2);
                    background:url($wefront__imgPath+"icons/tlf-arrowRight.png") no-repeat center center;
                }
            }
            .slick-dots{
                padding-top: rem(30);
                text-align: center;
                li{
                    display: inline-block;
                    margin: 0 rem(12);
                    vertical-align: top;
                    button{
                        display: inline-block;
                        width: rem(15);
                        height: rem(15);
                        text-indent: -9999px;
                        background: none;
                        border: solid 1px color(gray-light);
                        border-radius: 8px;
                    }
                    &.slick-active{
                        button{
                            background-color: color(blue-30);
                            border: solid 1px color(blue-30);
                        }
                    }
                }
            }
            .tlf-carousel__title{
                font-family: salesforcesans;
                font-size: rem(18);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2em;
                color: color(blue-40);
            }
            .tlf-carousel__subTitle{
                display: block;
                margin-top: rem(5);
                font-family: salesforcesans;
                font-size: rem(16);
                line-height: 1.2em;
                color: color(gray-90);
            }
        }
        &__cont-img{
            margin: 0 auto;
            width: rem(296);
            height: rem(402);
            canvas{
                width:100%;
            }
        }
        &__img{
            width:100%!important;
            height:100%!important;
            .reflected{
                margin-bottom:rem(3);
                width:100%;
            }
        }
        &__team{
            padding:0 rem(73);
            &__item{
                margin:0;
            }
        }
    }
    .tlf-slide{
        padding:rem(15) rem(52);
        min-height: inherit;
        background-size:inherit;
        background:color(blue-150);
        background-image: linear-gradient(114deg, color(blue-150), color(blue-30));
        &__title{
            font-size: rem(18);
            color: color(white);
        }
        &__list{
            margin-top: rem(11);
            padding-left:rem(28);
            width:100%;
        }
        &__description{
            margin-bottom:rem(10);
            width: 100%;
        }
        &__item{
            margin-bottom:rem(10);
        }
        &__cont-img{
            display: inline-block;
            width: rem(42);
            height: rem(35);
            vertical-align: middle;
        }
        &__text{
            padding-left:rem(3);
            font-size: rem(16);
            color: color(white);
        }
    }
}
//end view mobile

//view min
@include media-query(xs){
    .tlf-carousel{
        display:none;
        &--mobile{
            display:block;
            margin-bottom:rem(32);
            .slick-slider{
                margin-top: rem(17);
                margin-bottom: rem(33);
            }
            .slick-arrow{
                position: absolute;
                top:20%;
                padding:0;
                width:rem(22);
                height: rem(40);
                text-indent:-9999px;
                border:none;
                z-index: 888;
                &.slick-prev{
                    left:rem(-2);
                    background:url($wefront__imgPath+"icons/tlf-arrowLeft.png") no-repeat center center;
                }
                &.slick-next{
                    right:rem(-2);
                    background:url($wefront__imgPath+"icons/tlf-arrowRight.png") no-repeat center center;
                }
            }
            .slick-dots{
                padding-top: rem(30);
                text-align: center;
                li{
                    display: inline-block;
                    margin: 0 rem(12);
                    vertical-align: top;
                    button{
                        display: inline-block;
                        width: rem(15);
                        height: rem(15);
                        text-indent: -9999px;
                        background: none;
                        border: solid 1px color(gray-light);
                        border-radius: 8px;
                    }
                    &.slick-active{
                        button{
                            background-color: color(blue-30);
                            border: solid 1px color(blue-30);
                        }
                    }
                }
            }
            .tlf-carousel__title{
                font-family: salesforcesans;
                font-size: rem(18);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2em;
                color: color(blue-40);
            }
            .tlf-carousel__subTitle{
                display: block;
                margin-top: rem(5);
                font-family: salesforcesans;
                font-size: rem(16);
                line-height: 1.2em;
                color: color(gray-90);
            }
        }
        &__cont-img{
            margin: 0 auto;
            width: rem(296);
            height: rem(402);
            canvas{
                width:100%;
            }
        }
        &__img{
            width:100%!important;
            height:100%!important;
            .reflected{
                margin-bottom:rem(3);
                width:100%;
            }
        }
        &__team{
            padding:0 rem(73);
            &__item{
                margin:0;
            }
        }
    }
    .tlf-slider{
        &__market{
            .tlf-slider__cont-img{
        	    overflow:hidden;
		    background-color: black;
		    height: 100%;
            }
        }
    }
    .tlf-slide{
        padding:rem(15) rem(52);
        min-height: inherit;
        background-size:inherit;
        background:color(blue-150);
        background-image: linear-gradient(114deg, color(blue-150), color(blue-30));
        &__title{
            font-size: rem(18);
            color: color(white);
        }
        &__list{
            margin-top: rem(11);
            padding-left:rem(28);
            width:100%;
        }
        &__item{
            margin-bottom:rem(10);
        }
        &__cont-img{
            display: inline-block;
            width: rem(42);
            height: rem(35);
            vertical-align: middle;
        }
        &__text{
            padding-left:rem(3);
            font-size: rem(16);
            color: color(white);
        }
        &__description{
            margin-bottom:rem(10);
            width: 100%;
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end carousel
-----------------------------------------------------------------*/
