/*-------------------------------------------------------------
    #DFRONT: modal
-----------------------------------------------------------------*/

.tlf-modal-checkboxes{
    &.modal{
        padding: rem(17);
        margin: rem(206) auto 0;
        width: rem(741);
        .modal-dialog{
            margin: 0;
            width: 100%;
            .tlf-new__modal{
                left: rem(-17);
                top: rem(-17);
                margin: 0 auto;
                overflow: visible;
            }
        }
    }
    &__close{
        position: absolute;
        top: rem(-18);
        right: rem(-18);
        width: rem(36);
        height: rem(36);
        text-indent: -9999px;
        border: none;
        background: url($wefront__imgPath+"icons/tlf-fancybox_sprite.png") no-repeat 0 0;
        z-index:999;
    }
    &__content{
        position: relative;
        padding: rem(15);
    }
    &__container {
        display: block;
        position: relative;
        border: 1px solid color(gray-150);
        height: rem(237);
        overflow: hidden;
        background: color(white);
        &--margin-vertical {
            margin: rem(12) 0;
        }
        &--simple {
            border: none;
            height: auto;
        }
    }
    &__body{
        padding: rem(11) rem(44) rem(27);
        position: inherit;
        overflow: hidden;
        background: color(gray-30);
    }
    &__row {
        display: block;
        position: relative;
        padding: rem(1) rem(17) 0;
        background: color(white);
        &--active {
            background: color(blue-30);
        }
    }
    &__legend{
        display: block;
        font-family: salesforcesans--bold;
        font-size: rem(16);
        color: color(gray-80);
        padding: rem(10) rem(15) 0;
    }
    &__fieldset{
        &:after{
            content:"";
            display:block;
            clear: both;
        }
    }
    &__label{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: 'salesforcesans';
        font-size: rem(14);
        line-height: 2.86;
        color: color(black);
        cursor: pointer;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: relative;
            border: 1px solid color(gray-150);
            background: color(white);
            width: rem(18);
            height: rem(18);
            margin-right: rem(20);
        }
    }
    &__checkbox {
        display: none;
        &:checked + .tlf-modal-checkboxes__label:before {
            content: "";
            background: color(blue-30);
            box-shadow: inset 0px 0px 0px 3px color(white);
        }
    }
    &__buttons {
        display: block;
        position: relative;
        text-align: center;
    }
    .tlf-btn {
        width: 100%;
        max-width: rem(142);
    }
    .mCSB_container {
        margin-right: 0;
    }
    .mCSB_scrollTools {
        background: color(tabla);
        border-left: 1px solid color(gray-150);
        padding: 0 rem(20);
    }
    .mCSB_draggerRail, .mCSB_dragger_bar {
        display: none;
    }
    .mCSB_buttonUp {
        display: block;
        background: none;
        width: 50%;
        left: 7px;
        top: 3px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 17px solid color(black-10);
    }
    .mCSB_buttonDown {
        display: block;
        background: none;
        width: 50%;
        left: 7px;
        bottom: 3px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 17px solid color(black-10);
    }
    .tlf-hideDesktop{
        display:none;
    }
}

//view tablet
@include media-query(md){
    .tlf-modal-checkboxes {
        &.modal{
            position: relative;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            margin: 0;
            padding: 0 !important;
            width: 100%;
            transition: none;
        }
        &__content{
            padding: rem(5) rem(56);
            box-shadow: none;
            border: 0;
            background: inherit;
            border-radius: 0;
        }
        &__close{
            display:none;
        }
        &__body{
            padding: rem(10) rem(15) rem(35);
            background: color(white);
        }
        .tlf-hideDesktop{
            display:inline-block;
            width:100%;
        }
        .tlf-new__modal__controlGroup{
            width:100%;
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                max-width:100%;
            }
        }
    }
}
//end view tablet


//view mobile
@include media-query(sm){
    .tlf-modal-checkboxes {
        &.modal{
            position: relative;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            margin: 0;
            padding: 0 !important;
            width: 100%;
            transition: none;
        }
        &__legend {
            padding: rem(10) 0 0;
        }
        &__content{
            padding: rem(5) rem(15);
            box-shadow: none;
            border: 0;
            background: inherit;
            border-radius: 0;
        }
        &__close{
            display:none;
        }
        &__body{
            padding: rem(10) rem(15) rem(35);
            background: color(white);
        }
        .tlf-hideDesktop{
            display:inline-block;
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-modal-checkboxes {
        &.modal{
            position: relative;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            margin: 0;
            padding: 0 !important;
            width: 100%;
            transition: none;
        }
        &__legend {
            padding: rem(10) 0 0;
        }
        &__content{
            padding: rem(5) rem(15);
            box-shadow: none;
            border: 0;
            background: inherit;
            border-radius: 0;
        }
        &__close{
            display:none;
        }
        &__body{
            padding: rem(10) rem(15) rem(35);
            background: color(white);
        }
        .tlf-hideDesktop{
            display:inline-block;
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end modal
-----------------------------------------------------------------*/