/*-------------------------------------------------------------
    #DFRONT: news
-----------------------------------------------------------------*/
.tlf-news{
    position:relative;
    padding:0 0 0 rem(45);
    .tlf-title{
        position:absolute;
        display: inline-block;
        padding: 0 rem(20) 0 rem(30);
        width: rem(170);
        font-family: salesforcesans;
        font-size: rem(14);
        color: color(gray-60);
        vertical-align: top;
        background:url($wefront__imgPath+"contents/background/tlf-bg-gray.png") no-repeat left center;
        background-size: 100% 100%;
        border-top-left-radius: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__df{
        margin-bottom: rem(10);
        &:first-child{
            margin-top:rem(20);
        }
    }
    &__article{
        padding:rem(23) 0;
    }
    &__pdd{
        padding:0;
        .tlf-btn{
            margin-top:0;
            margin-right:rem(16);
        }
    }
    &__list{
        margin-top: rem(8);
    }
    &__item{
        margin: 0;
        background-color: inherit;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    &__link{
        display: inline-block;
        padding: rem(5) rem(17) rem(3) 0;
        width:100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: rem(12);
        color: color(gray-60);
        border-bottom: 1px solid color(gray-30);
        &:hover,&:focus{
            color:color(gray-40);
            text-decoration: none;
        }
        &:after{
            content:"";
            display:block;
            clear:both;
        }
        &--small{
            display:none;
        }
        &--pdd{
            .tlf-news__text{
                margin-top:rem(4);
            }
        }
    }
    &__text{
        float:right;
    }
    &__title{
        display:inline-block;
        position: relative;
        width:67%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: rem(15);
        line-height: 1.9em;
        color: color(primary);
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(50);
            border-bottom: 1px solid color(primary);
        }
    }
    .nav-tabs{
        display: inline-block;
        width:84.5%;
        vertical-align: top;
        border:none;
        >li{
            display:inline-block;
            float:none;
            margin:0;
            max-width: 33%;
            vertical-align: top;
            vertical-align: top;
            >a{
                margin: 0 rem(12);
                padding: 0;
                width: 100%;
                color: color(gray-70);
                line-height: 1.9em;
                border-radius:0;
                border:none;
                &:after{
                    display:none;
                }
                &:hover,&:focus{
                    background:none;
                    border:none;
                }
            }
            &.active{
                >a{
                    color: color(primary);
                    background: none;
                    border: none;
                    &:after{
                        display:block;
                    }
                }
            }
            &:before{
                position:absolute;
                left:rem(-8);
                top:rem(3);
                content:"/";
                font-family: salesforcesans;
                font-size:rem(15);
                color:color(gray-70);
            }
            &:first-child{
                a{
                    margin-left:0;
                }
                &:before{
                    display:none;
                }
            }
        }
    }
    .tab-content{
        width: 92%;
    }
    .tab-pane{
        &:after{
            content:"";
            display: block;
            clear:both;
        }
    }
    &:after{
        content:"";
        display: block;
        clear: both;
    }
    &__description{
        margin-top: rem(12);
        padding-left: rem(82);
        width:93%;
        &__date,&__text{
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: rem(12);
            color: color(gray-60);
            cursor:pointer;
            &:hover,&:focus{
                color:color(secondary);
            }
        }
        &--last{
            display:inline-block;
            margin-top: rem(24);
            width:75%;
        }
        &__text{
            margin-top: rem(9);
            margin-bottom: rem(12);
            line-height: 1.2em;
        }
        &__number{
            position: absolute;
            top: rem(3);
            left: rem(11);
            width: rem(65);
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: rem(12);
            color: color(gray-60);
            cursor:pointer;
            &:hover,&:focus{
                color:color(secondary);
            }
            &--ok{
                position: absolute;
                left: 19%;
                top: rem(20);
                width:rem(24);
                height:rem(22);
                text-indent:-9999px;
                background:url($wefront__imgPath+"icons/tlf-like.png") no-repeat center center;
            }
            &--ko{
                position: absolute;
                left: 19%;
                top: 48px;
                width:rem(24);
                height:rem(22);
                text-indent:-9999px;
                background:url($wefront__imgPath+"icons/tlf-disLike.png") no-repeat center center;
            }
        }
        .tlf-news__title{
            margin-bottom:rem(20);
            line-height: normal;
            &:after{
                display:none;
            }
        }
    }
    &--tblMbl{
        &.collapse{
            display:none;
        }
    }
}
.tlf-icon{
    &--like{
        display:inline-block;
        width:rem(24);
        height:rem(22);
        vertical-align: top;
        text-indent:-9999px;
        background:url($wefront__imgPath+"icons/tlf-like.png") no-repeat center center;
    }
}
.tlf-scroller{
    padding-left: rem(170);
    background-color: color(white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &__item{
        display: block;
        padding: 0;
    }
    &__link{
        display: block;
        padding: rem(2) rem(10) rem(6) 0;
        text-decoration: none;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: rem(14);
        color: color(secondary);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover,&:focus{
            text-decoration: none;
            color: color(blue-20);
        }
    }
}

//view tablet
@include media-query(md){
    .tlf-news{
        padding:0;
        &--mrg{
            margin: 0 6.5% rem(33) 9%;
            width: 84.5%;
        }
        .tlf-title{
            padding: rem(3) rem(25) rem(3) rem(24);
            font-size: rem(16);
            letter-spacing: -0.04em;
            color: color(gray-80);
        }
        &__title{
            font-size: rem(18);
            color: color(blue-30);
            line-height: 1.8em;
            &:after{
                width:rem(79);
            }
        }
        &__list{
            margin:0;
        }
        &__link{
            padding: rem(13) 0 rem(11) 0;
            font-size: rem(16);
            color: color(gray-80);
            &--pdd{
                padding-right:rem(20);
                .tlf-news__text{
                    margin-top: rem(4);
                    font-size:rem(12);
                }
            }
            &--small{
                display:block;
            }
            &--big{
                display:none;
            }
        }
        &__pdd{
            .tlf-btn{
                margin-right:0;
            }
        }
        .nav-tabs{
            width:94%;
            >li{
                &:before{
                    top:rem(9);
                }
                >a{
                    margin:0 rem(19);
                }
            }
        }
        .tab-content{
            width: 100%;
        }
        &__df{
            &:first-child{
                margin-top:rem(12);
            }
            .tlf-news__link{
                padding-right:rem(80);
                background:url($wefront__imgPath+"icons/tlf-arrowTop--blue.png") no-repeat 97% rem(22);
                &.collapsed{
                    background:url($wefront__imgPath+"icons/tlf-arrowBottom--blue.png") no-repeat 97% rem(22);
                }

            }
        }
        &__description{
            margin-top:rem(7);
            margin-bottom:rem(5);
            padding-left: rem(125);
            width: 100%;
            &__number{
                font-size: rem(16);
                color: color(gray-80);
                top: 0;
                left: 0;
                width: rem(80);
                &:before{
                    top: rem(90);
                }
                &:after{
                    top: rem(53);
                }
            }
            .tlf-news__title{
                display:none;
            }
            &__date,&__text{
                font-size: rem(16);
                color: color(gray-80);
            }
            &--last{
                margin-top:0;
                margin-bottom:rem(15);
                width:100%;
            }
            .tlf-btn{
                padding: rem(8) rem(16);
            }
        }
        &--tblMbl{
            &.collapse{
                &.in{
                    display:block;
                }
            }
        }
        &__dsk{
            display:none;
        }
    }
    .tlf-scroller{
        &__link{
            padding: rem(9) rem(20) rem(7) rem(3);
            font-size: rem(16);
            letter-spacing: -0.04em;
            color: color(gray-80);
        }
    }
    .tlf-icon{
        &--like{
            margin-top:rem(7);
        }
    }
}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-news{
        &--mrg{
            margin:0 0 rem(25);
            width:100%;
        }
        .nav-tabs{
            >li{
                max-width: 37%;
                &:first-child{
                    a{
                        margin:0 rem(3) 0 0;
                    }
                }
                &:before{
                    top:rem(7);
                }
                >a{
                    margin: 0 rem(7) 0 rem(18);
                }
            }
        }
        &__pdd{
            .tlf-btn{
                margin-right:0;
            }
        }
        &__df{
            .tlf-news__link{
                padding-right: rem(85);
                background-position: 99% rem(21);
                &.collapsed{
                    background-position: 99% rem(21);
                }
            }
        }
        &__description{
            margin-bottom:rem(10);
            padding-left:rem(75);
        }
        &--tblMbl{
            &.collapse{
                &.in{
                    display:block;
                }
            }
        }
        &__dsk{
            display:none;
        }
    }
}

//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-news{
        &--mrg{
            margin:0 0 rem(25);
            width:100%;
        }
        .nav-tabs{
            >li{
                max-width: 37%;
                &:first-child{
                    a{
                        margin:0 rem(3) 0 0;
                    }
                }
                &:before{
                    top:rem(7);
                }
                >a{
                    margin: 0 rem(7) 0 rem(18);
                }
            }
        }
        &__pdd{
            .tlf-btn{
                margin-right:0;
            }
        }
        &__df{
            .tlf-news__link{
                padding-right: rem(85);
                background-position: 99% rem(21);
                &.collapsed{
                    background-position: 99% rem(21);
                }
            }
        }
        &__description{
            margin-bottom:rem(10);
            padding-left:rem(75);
        }
        &--tblMbl{
            &.collapse{
                &.in{
                    display:block;
                }
            }
        }
        &__dsk{
            display:none;
        }
    }
}

//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end news
-----------------------------------------------------------------*/