/*-------------------------------------------------------------
    #DFRONT: container
-----------------------------------------------------------------*/

.tlf-container{
    padding: rem(33) 0 rem(148);
    background-color:color(ground);
    &__title{
        display:inline-block;
        width:82%;
    }
    &__cont-img{
        display:inline-block;
        width:rem(50);
        height:rem(40);
        vertical-align: top;
    }
    &__img{
        width:100%;
        height:100%;
    }
    &__text{
        display:inline-block;
        width:82%;
        font-family: salesforcesans;
        font-size:rem(22);
        color:color(primary);
        vertical-align: top;
    }
    &__sincro{
        display:none;
    }
    &__head{
        width:100%;
        height:rem(300);
        &__img{
            width:100%;
            height:100%;
        }
    }
    &__block{
        position:relative;
        .tlf-btn{
            position: absolute;
            left: 2.5%;
            top: rem(44);
            padding: rem(4) rem(7) rem(6);
            text-shadow: 0 1px 0 color(tshadow);
            box-shadow: 1px 1px 1px color(bshadow-10);
            background-color: color(ground-40);
            &:hover,&:focus{
                background-color: color(ground-50);
            }
        }
    }
    &__group{
        margin-top: rem(20);
        .tlf-btn{
            float:none;
        }
        .tlf-form{
            float: none;
            display: block;
            padding-top: rem(21);
            width: 100%;
        }
    }
}
.tlf-cont-title{
    display:inline-block;
    width:50%;
    vertical-align: top;
}

//view tablet
@include media-query(md){
    .tlf-container{
        padding: rem(26) 0 rem(45);
        &__title{
            width:67%;
        }
        &__cont-img{
            margin-left:rem(22);
        }
        &__sincro{
            display:inline-block;
            padding-left:rem(30);
            width:19%;
            font-family: salesforcesans;
            font-size: rem(16);
            color:color(secondary);
            vertical-align: middle;
            background:url($wefront__imgPath+"icons/tlf-one.png") no-repeat 7px center;
        }
        &__group{
            .tlf-btn{
                padding-left:rem(4);
                padding-right:rem(4);
            }
            .tlf-form{
                float: none;
                display: block;
                padding-top: rem(21);
                width: 100%;
            }
        }
    }
    .tlf-cont-title{
        margin-bottom: rem(18);
        width: 100%;
    }
}
//end view tablet

//view mobile
@include media-query(sm){
    .tlf-container{
        &__cont-img{
            margin-left:0;
        }
        &__title{
            width:64%;
        }
        &__text{
            padding-left:0;
        }
        &__sincro{
            width:23%;
        }
        &__group{
            margin-top:rem(42);
            .tlf-btn{
                display: block;
                margin: rem(4) auto 0;
            }
            .tlf-form{
                margin-top: rem(20);
                padding-top:0;
            }
        }
    }
    .tlf-cont-title{
        margin-bottom:0;
        .tlf-container__title{
            width:87%;
        }
        .tlf-container__text{
            width: 100%;
        }
    }
    .tlf-containerBtn{
        .tlf-btn{
            display:inline-block;
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-container{
        &__cont-img{
            margin-left:0;
        }
        &__title{
            width:80%;
        }
        &__text{
            padding-left:0;
            width:100%;
        }
        &__sincro{
            width:23%;
        }
        &__group{
            margin-top:rem(42);
            .tlf-btn{
                display: block;
                margin: rem(4) auto 0;
            }
            .tlf-form{
                margin-top: rem(20);
                padding-top:0;
            }
        }
    }
    .tlf-cont-title{
        margin-bottom:0;
        .tlf-container__title{
           width:80%;
        }
    }
    .tlf-containerBtn{
        .tlf-btn{
            display:inline-block;
        }
    }
}
//end view mobile min


/*-------------------------------------------------------------
    #DFRONT: end container
-----------------------------------------------------------------*/