/*-------------------------------------------------------------
    #DFRONT: buttons
-----------------------------------------------------------------*/
$include__buttons 			: true ;

$buttons__border	    	:	6							;
$buttons__border-style		:	solid						;
$buttons__border-color		:	secondary		 			;
$buttons__border-radius		:	5							;
$buttons__line-height		:	$wefront__base-line-height 	;
$buttons__font-size			:	$wefront__base-font-size	;
$buttons__base-padding		:	1							;
$buttons__base-margin		:	2							;
$buttons__hover-transition	:	.3s							;
$buttons__color 			: 	white						;
$buttons__color--hover		: 	black		  				;


@import "../objects/_objects__buttons.scss";


.tlf-btn{
	display:inline-block;
    padding:rem(4) rem(2) rem(5);
    float: right;
    max-width: rem(110);
    font-family: salesforcesans;
    font-size:rem(12);
    text-align:center;
    color:color(white);
    background-color:color(primary);
    border-radius:4px;
    border:none;
    white-space: normal;
    &:hover,&:focus{
        color:color(white);
        text-decoration: none;
        background-color:color(hover);
    }
    &--tab{
        margin-top:rem(24);
    }
    &--form{
        max-width:rem(195);
        vertical-align: bottom;
    }
    &__more{
        display: inline-block;
        padding-left: rem(14);
        font-family: salesforcesans;
        font-size: rem(15);
        color: color(primary);
        &:hover,&:focus{
            color:color(blue-60);
        }
        &--right{
            float:right;
            padding:0 rem(14) 0 0;
        }
    }
    &--login {
        font-size: rem(16);
        padding: rem(10) rem(10) rem(12);
        width: rem(139);
        max-width: 100%;
        max-width: none;
        box-sizing: border-box;
    }
    &--nofloat{
        display:inline-block;
        margin-top: rem(5);
        vertical-align: top;
        float:none;
    }
    &--big{
        padding: rem(6) rem(25) rem(5);
        font-size: rem(16);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: rem(9) rem(11) rem(10);
    }
    &--center{
        margin: 0 auto;
    }
    &--dark{
        display: block;
        margin-top: rem(8);
        margin-bottom: rem(10);
        float: none;
        max-width: rem(125);
        background-color: color(groun-secondary);
        &:hover,&:focus{
            background-color: color(groun-secondary);
        }
    }

    &--disabled{
        opacity: 0.5;
    }
}
.tlf-containerBtn{
    margin: rem(10) 0;
    text-align:center;
}
.tlf-contBtn{
    float:left;
    margin-top:rem(12);
    margin-bottom:rem(4);
    width:100%;
    text-align:center;
    .tlf-btn{
        float: none;
        padding: rem(5);
        min-width: rem(100);
        max-width: rem(120);
        cursor: pointer;
        text-shadow: 0 1px 0 color(shadow);
        box-shadow: 1px 1px 1px color(bshadow);
        background: -webkit-gradient(linear, left top, left bottom, from(color(gradient)), to(color(gradient-10)));
        border: 1px solid color(blue-110);
        &:hover,&:focus{
            background-position: right -30px;
        }
    }
    &--large{
        .tlf-btn{
            max-width: rem(180);
        }
    }
    &.tlf-hide-dsk{
        display:none;
    }
}
.tlf-go-top{
    position:absolute;
    right: 8.5%;
    bottom: rem(20);
    width: rem(30);
    height: rem(16);
    text-indent:-9999px;
    background:url($wefront__imgPath+"icons/tlf-arrowSpriteTopBottom.png") no-repeat 0 0;
    background-position: -16px -24px;

}

//view tablet
@include media-query(md){
    .tlf-btn{
        padding: rem(8) rem(24) rem(8);
        max-width: rem(180);
        font-size: rem(16);
        background-color: color(blue-30);
        border-radius: 5px;
        &__more{
            padding: 0 0 0 rem(3);
            margin-top: rem(12);
            font-size: rem(18);
            font-weight: bold;
            color: color(blue-30);
            &--right{
                margin-right:3%;
            }
        }
        &--tab{
            margin-top:rem(20);
        }
        &--nofloat{
            margin-left: 9%;
            margin-top: rem(5);
        }
        &--login {
            max-width: rem(139);
            padding: rem(10) rem(10) rem(12);
            margin-left: 0;
        }
        &--big{
            padding: rem(9) rem(32);
        }
        &--dark{
            padding: rem(8) rem(5);
            background-color: color(groun-secondary);
        }
    }
    .tlf-contBtn{
        margin-top: rem(10);
        .tlf-btn{
            margin:0 rem(6);
            padding: rem(8) rem(5);
            min-width: rem(110);
            max-width: rem(155);
            background: color(ground-10);
            border: solid 1px color(borde-30);
            text-shadow: none;
            box-shadow: none;
        }
        &.tlf-hide-dsk{
            display:block;
        }
    }
    .tlf-go-top{
        display:none;
    }
}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-btn{
        padding-left:rem(11);
        padding-right:rem(11);
        &--nofloat{
            margin-left:0;
            padding:rem(8) rem(6);
        }
        &--big{
            padding:rem(9);
            min-width: rem(105);
        }
        &--tab{
            padding:rem(8) rem(2);
        }
        &__more{
            &--right{
                margin-right:1%;
            }
        }
    }
    .tlf-contBtn{
        margin-bottom:rem(11);
        .tlf-btn{
            margin-bottom: rem(5);
        }
        &.tlf-hide-dsk{
            display:block;
        }
    }
}


//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-btn{
        padding-left:rem(11);
        padding-right:rem(11);
        &--nofloat{
            margin-left:0;
            padding:rem(8) rem(6);
        }
        &--big{
            padding:rem(9);
        }
        &--tab{
            padding:rem(8) rem(2);
        }
        &__more{
            &--right{
                margin-right:1%;
            }
        }
    }
    .tlf-contBtn{
        margin-bottom:rem(11);
        .tlf-btn{
            margin-bottom: rem(5);
        }
        &.tlf-hide-dsk{
            display:block;
        }
    }
}


//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end buttons
-----------------------------------------------------------------*/



