/*-------------------------------------------------------------
    #DFRONT: navigation
-----------------------------------------------------------------*/

.tlf-nav{
    &--mobile{
        display:none;
    }
    &__list{
        display:table;
        padding:0;
        background-color:color(white);
        &:after{
            content:"";
            clear: both;
            display:block;
        }
        &:hover,&:focus{
            .tlf-nav__item{
                &.selected{
                    background: color(gray-20);
                    &:hover,&:focus{
                        background-color:color(selected);
                        .tlf-nav__link{
                            color:color(white);
                        }
                    }
                    .tlf-nav__link{
                        color: color(gray-90);
                    }
                    &.tlf-nav__item--icon{
                        background-color:color(white);
                    }
                }
            }
        }
    }
    &__link{
        display:block;
        padding:rem(18) rem(6);
        font-family:salesforcesans;
        font-size:rem(18);
        text-align:center;
        line-height: 1.3em;
        color:color(gray-90);
        &:hover,&:focus{
            text-decoration: none;
            color:color(gray-90);
            outline: 5px auto -webkit-focus-ring-color;
            outline: none;
        }
        &--icon{
            display:block;
            padding:0;
            width:rem(40);
            height:rem(40);
            text-indent:-9999px;
            background:url($wefront__imgPath+"icons/tlf-icon_home.png") no-repeat left 7px;
            transition: background 0.2s linear, color 0.2s linear;
            &:hover,&:focus{
                background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
            }
        }
    }
    &__item{
        display:table-cell;
        position:relative;
        width:22.75%;
        vertical-align: middle;
        transition: background 0.2s linear, color 0.2s linear;
        &:first-child{
            width:9%;
        }
        &:hover,&.open{
            transition: background 0.2s linear, color 0.2s linear;
            background-color: color(selected);
            &.tlf-nav__item--icon{
                background-color:color(white);
                .tlf-nav__link--icon{
                    background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                }
            }
            .tlf-nav__link{
                color:color(white);
            }
            .tlf-nav__subList{
                display:block;
                margin:0;
                padding:0;
                transition: background 0.2s linear, color 0.2s linear;
                background-color: color(selected);
                border:none;
                border-radius:0;
                box-shadow:none;
                .tlf-nav__subLink{
                    display: block;
                    padding: rem(8) rem(10) rem(12) rem(20);
                    width: 100%;
                    font-family:salesforcesans;
                    font-size:rem(15);
                    color:color(white);
                    &:hover{
                        text-decoration: none;
                        color: color(white);
                        background: color(primary-light);
                        box-shadow: 0 0 0 color(shadow);
                        transition: background 0.2s linear, color 0.2s linear;
                    }
                }
            }
        }
        &.selected{
            background-color: color(selected);
            .tlf-nav__link{
                color: color(white);
            }
            &.tlf-nav__item--icon{
                background-color:color(white);
                .tlf-nav__link--icon{
                    background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                }
                &:hover{
                    background-color:color(white);
                }
            }
        }
    }
    &__text{
        font-weight:bold;
        letter-spacing: -0.012em;
    }
    &__subList{
        display:none;
        position:absolute;
        min-width:rem(204);
        transition: background 0.2s linear, color 0.2s linear;
        z-index:999;
        transition: background 0.2s linear, color 0.2s linear;
        background-color: color(selected);
    }
    &__subLink{
        display: block;
        padding: rem(8) rem(10) rem(12) rem(20);
        width: 100%;
        font-family:salesforcesans;
        font-size:rem(15);
        color:color(white);
        &:hover,&:focus{
            text-decoration: none;
            color: color(white);
            background: color(primary-light);
            box-shadow: 0 0 0 color(shadow);
            transition: background 0.2s linear, color 0.2s linear;
        }
    }
}

.tlf-navigation{
    margin-top:rem(20);
    margin-bottom:rem(130);
    &__list{
        font-size: 0;
        text-align:center;
    }
    &__item{
        display:inline-block;
        padding:0 rem(20);
        width:20%;
        font-size:1rem;
        vertical-align: top;
    }
    &__link{
        display:block;
        font-family: salesforcesans;
        font-size: rem(14);
        color: color(primary);
        &:hover,&:focus{
            text-decoration: none;
            color: color(primary);
        }
    }
    &__cont-img{
        margin:0 auto rem(12);
        width:rem(50);
        height:rem(40);
    }
    &__img{
        width:100%;
        height:100%;
    }
    &__text{
        display:block;
        margin-top:rem(11);
        font-size:rem(12);
        color:color(secondary);
    }
    &__market{
        margin-bottom:0;
        padding-bottom:rem(52);
        border-bottom:1px solid color(borde-40);
        .tlf-navigation__market__list{
            text-align:left;
        }
        .tlf-navigation__item{
            padding:0 rem(7);
            text-align: center;
        }
    }
}


//view tablet
@include media-query(md){
    .tlf-nav{
        &__link{
            padding:rem(21) rem(6);
            &--icon{
                background-position: rem(5) rem(12);
            }
        }
        &--mobile{
            display:none;
        }
    }
    .tlf-navigation{
        margin-top:rem(22);
        margin-bottom:rem(36);
        &__item{
            margin-bottom:rem(15);
            width:50%;
        }
        &__link{
            font-size: rem(16);
            color:color(blue-30);
        }
        &__text{
            margin-top:rem(18);
            font-size:rem(16);
            line-height: 1.2em;
            color:color(gray-80);

        }
        &__market{
            margin-top:rem(40);
            margin-bottom:0;
            padding-bottom:0;
            border:none;
            .tlf-navigation__market__list{
                font-size: 0;
            }
            .tlf-navigation__item{
                margin-bottom:rem(33);
            }
        }
    }

}
//end view tablet

//view mobile
@include media-query(sm){
    .tlf-nav{
        display:none;
        &--mobile{
            display:block;
            margin: 0;
            min-height: inherit;
            background-color: color(white);
            border: none;
            .tlf-navbar__container{
                &:after{
                    content:"";
                    display:block;
                    clear:both;
                }
            }
            .navbar-toggle{
                float:none;
                margin: 0;
                padding: rem(11) rem(14) rem(14);
                border: none;
                &.tlf-btn__close{
                    float: right;
                    width:auto;
                }
                .icon-bar{
                    width: rem(25);
                    height: rem(2);
                    background-color: color(blue-80);
                    border-radius:0;
                    +.icon-bar{
                        margin-top: rem(10);
                    }
                }
                &:hover,&:focus{
                    background:none;
                }
            }
            .navbar-collapse{
                position:fixed;
                top: 0;
                padding: 0;
                border: none;
                box-shadow: none;
                left: -85%;
                width:85%;
                z-index: 9999;
                display: block;
                transition: transform .4s ease;
                background-color: color(white);
                -webkit-transform: translate(100%,0);
                -webkit-transition: transform .4s ease;
                -ms-transform: translate(-85%,0);
                -ms-transition: transform .4s ease;
                transform: translate(-85%,0);
                &.collapse{
                    &.in{
                        display: inline-block;
                        max-width: inherit;
                        -webkit-transform: translate(100%,0);
                        -webkit-transition: transform .4s ease;
                        -ms-transform: translate(100%,0);
                        -ms-transition: transform .4s ease;
                        transform: translate(100%,0);
                        transition: transform .4s ease;
                        box-shadow: 78px -6px 73px -13px rgba(0,0,0,0.8);
                        height: 100vh;
                    }
                }
            }
            .tlf-nav__listMb{
                float:left;
                width:100%;
            }
            .navbar-nav,.navbar-form{
                margin:0;
            }
            .navbar-nav{
                >li{
                    &.active{
                        .tlf-nav__linkMb{
                            color: color(gray-90);
                            background-color:color(white);
                            background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                            border-color:color(gray);
                            &:hover,&:focus{
                                color: color(gray-90);
                                background-color:color(white);
                                background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                border-color:color(gray);
                            }
                        }
                    }
                    &.tlf-navbar__item{
                        &:first-child{
                            >a{
                                margin:0;
                                border:none;

                            }
                        }
                        >a{
                            font-family: salesforcesans;
                            font-size: rem(14);
                            color: color(black);
                            border:none;
                            &:hover,&:focus{
                                text-decoration: underline;
                                color: color(blue-60);
                                background-color:color(white);
                                border:none;
                            }

                        }
                    }
                    &:first-child{
                        >a{
                            border-top: 1px solid color(gray);
                        }
                    }
                    >a{
                        padding: rem(20) rem(43) rem(21);
                        font-family: salesforcesans;
                        font-weight:bold;
                        font-size: rem(16);
                        line-height: 1.3em;
                        color: color(gray-90);
                        border-bottom: 1px solid color(gray);
                        &.tlf-nav__linkMb{
                            padding-left: rem(100);
                            background:url($wefront__imgPath+"icons/tlf-icon_home.png") no-repeat 45px center;
                            &:hover,&:focus{
                                background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                color: color(gray-90);
                                background-color:color(white);
                                border-bottom: 1px solid color(gray);
                            }
                        }
                        &:hover,&:focus{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);;
                        }
                    }
                    &.active{
                        >a{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);
                            &:hover,&:focus{
                                color:color(white);
                                background-color: color(selected);
                            }
                        }
                    }
                    &.open{
                        >a{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);
                            &:hover,&:focus{
                                color:color(white);
                                background-color: color(selected);
                            }
                        }
                        .dropdown-menu{
                            padding: 0;
                            background-color: color(selected);
                            >li{
                                >a{
                                    padding: rem(22) rem(70);
                                    font-family: salesforcesans;
                                    font-size: rem(14);
                                    color: color(white);
                                    &:hover,&:focus{
                                        color: color(white);
                                        background-color:color(primary-light);
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover,&:focus{
                    li{
                        &.active{
                            a{
                                color: color(gray-90);
                                background: color(gray-20);
                                border-bottom:1px solid color(gray-20);
                                &:hover,&:focus{
                                    color:color(white);
                                    background-color: color(selected);
                                    border-bottom:1px solid color(selected);
                                }
                                &.tlf-nav__linkMb{
                                    background:url($wefront__imgPath+"icons/tlf-icon_home.png") no-repeat 45px center;
                                    border-bottom: 1px solid color(gray);
                                    &:hover,&:focus{
                                        background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                        color: color(gray-90);
                                        background-color:color(white);
                                        border-bottom: 1px solid color(gray);

                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tlf-profile__contText{
                background-color: color(gray-50);
                width: 100%;
                padding: 0;
                .bootstrap-select{
                    margin:0;
                    &.btn-group{
                        .dropdown-toggle{
                            padding: rem(22) rem(60) rem(20) rem(43);
                            border: none;
                            background: none;
                            .filter-option{
                                color: color(gray-dark);
                            }
                            .caret{
                                top: rem(21);
                                right: rem(33);
                                width: rem(18);
                                height: rem(10);
                                background-image:url($wefront__imgPath+"icons/tlf-arrowBottom--blue.png");

                            }
                        }
                        .dropdown-menu{
                            position: relative;
                            .inner{
                                background-color: color(gray-50);
                                border:none;
                            }
                            li{
                                a{
                                    padding: rem(15) rem(60) rem(20) rem(70);
                                    color: color(gray-dark);
                                }
                            }
                        }
                    }
                    &.open{
                        &.btn-group{
                            .dropdown-toggle{
                                .caret{
                                    background-image:url($wefront__imgPath+"icons/tlf-arrowTop--blue.png");
                                }
                            }
                        }
                    }
                }
            }
            .tlf-profile__text{
                padding: rem(20) rem(43) rem(14);
            }
        }
    }
    .tlf-navbar{
        &__container{
            .navbar-toggle{
                display: block;
                padding: rem(20) rem(28) rem(20);
                width: 100%;
                text-align: right;
                .sr-only{
                    position: inherit;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    clip: inherit;
                    display: block;
                    font-family: salesforcesans;
                    font-size: rem(16);
                    color: color(black);
                }
            }
        }
    }
    .tlf-navigation{
        margin-top:rem(25);
        margin-bottom:rem(50);
        &__item{
            margin-bottom:rem(27);
            padding:0 rem(60);
            width:100%;
        }
        &__link{
            font-size: rem(16);
            color:color(blue-30);
        }
        &__text{
            margin-top:rem(8);
            font-size:rem(16);
            line-height: 1.2em;
            color:color(gray-80);

        }
        &.tlf-navigation__market{
            margin-top: rem(40);
            margin-bottom: rem(30);
            .tlf-navigation__item{
                margin-bottom: rem(27);
            }
            .tlf-navigation__cont-img{
                margin-bottom: rem(9);
            }
        }
    }
}

//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-nav{
        display:none;
        &--mobile{
            display:block;
            margin: 0;
            min-height: inherit;
            background-color: color(white);
            border: none;
            .tlf-navbar__container{
                &:after{
                    content:"";
                    display:block;
                    clear:both;
                }
            }
            .navbar-toggle{
                float:none;
                margin: 0;
                padding: rem(11) rem(14) rem(14);
                border: none;
                &.tlf-btn__close{
                    float: right;
                    width:auto;
                }
                .icon-bar{
                    width: rem(25);
                    height: rem(2);
                    background-color: color(blue-80);
                    border-radius:0;
                    +.icon-bar{
                        margin-top: rem(10);
                    }
                }
                &:hover,&:focus{
                    background:none;
                }
            }
            .navbar-collapse{
                position:fixed;
                top: 0;
                padding: 0;
                border: none;
                box-shadow: none;
                left: -85%;
                width:85%;
                z-index: 9999;
                display: block;
                transition: transform .4s ease;
                background-color: color(white);
                -webkit-transform: translate(100%,0);
                -webkit-transition: transform .4s ease;
                -ms-transform: translate(-85%,0);
                -ms-transition: transform .4s ease;
                transform: translate(-85%,0);
                &.collapse{
                    &.in{
                        display: inline-block;
                        max-width: inherit;
                        -webkit-transform: translate(100%,0);
                        -webkit-transition: transform .4s ease;
                        -ms-transform: translate(100%,0);
                        -ms-transition: transform .4s ease;
                        transform: translate(100%,0);
                        transition: transform .4s ease;
                        box-shadow: 78px -6px 73px -13px rgba(0,0,0,0.8);
                        height: 100vh;
                    }
                }
            }
            .tlf-nav__listMb{
                float:left;
                width:100%;
            }
            .navbar-nav,.navbar-form{
                margin:0;
            }
            .navbar-nav{
                >li{
                    &.active{
                        .tlf-nav__linkMb{
                            color: color(gray-90);
                            background-color:color(white);
                            background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                            border-color:color(gray);
                            &:hover,&:focus{
                                color: color(gray-90);
                                background-color:color(white);
                                background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                border-color:color(gray);
                            }
                        }
                    }
                    &.tlf-navbar__item{
                        &:first-child{
                            >a{
                                margin:0;
                                border:none;

                            }
                        }
                        >a{
                            font-family: salesforcesans;
                            font-size: rem(14);
                            color: color(black);
                            border:none;
                            &:hover,&:focus{
                                text-decoration: underline;
                                color: color(blue-60);
                                background-color:color(white);
                                border:none;
                            }

                        }
                    }
                    &:first-child{
                        >a{
                            border-top: 1px solid color(gray);
                        }
                    }
                    >a{
                        padding: rem(20) rem(43) rem(21);
                        font-family: salesforcesans;
                        font-weight:bold;
                        font-size: rem(16);
                        line-height: 1.3em;
                        color: color(gray-90);
                        border-bottom: 1px solid color(gray);
                        &.tlf-nav__linkMb{
                            padding-left: rem(100);
                            background:url($wefront__imgPath+"icons/tlf-icon_home.png") no-repeat 45px center;
                            &:hover,&:focus{
                                background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                color: color(gray-90);
                                background-color:color(white);
                                border-bottom: 1px solid color(gray);
                            }
                        }
                        &:hover,&:focus{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);;
                        }
                    }
                    &.active{
                        >a{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);
                            &:hover,&:focus{
                                color:color(white);
                                background-color: color(selected);
                            }
                        }
                    }
                    &.open{
                        >a{
                            color:color(white);
                            background-color: color(selected);
                            border-bottom:1px solid color(selected);
                            &:hover,&:focus{
                                color:color(white);
                                background-color: color(selected);
                            }
                        }
                        .dropdown-menu{
                            padding: 0;
                            background-color: color(selected);
                            >li{
                                >a{
                                    padding: rem(22) rem(70);
                                    font-family: salesforcesans;
                                    font-size: rem(14);
                                    color: color(white);
                                    &:hover,&:focus{
                                        color: color(white);
                                        background-color:color(primary-light);
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover,&:focus{
                    li{
                        &.active{
                            a{
                                color: color(gray-90);
                                background: color(gray-20);
                                border-bottom:1px solid color(gray-20);
                                &:hover,&:focus{
                                    color:color(white);
                                    background-color: color(selected);
                                    border-bottom:1px solid color(selected);
                                }
                                &.tlf-nav__linkMb{
                                    background:url($wefront__imgPath+"icons/tlf-icon_home.png") no-repeat 45px center;
                                    border-bottom: 1px solid color(gray);
                                    &:hover,&:focus{
                                        background-image:url($wefront__imgPath+"icons/tlf-icon_home--hover.png");
                                        color: color(gray-90);
                                        background-color:color(white);
                                        border-bottom: 1px solid color(gray);

                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tlf-profile__contText{
                background-color: color(gray-50);
                width: 100%;
                padding: 0;
                .bootstrap-select{
                    margin:0;
                    &.btn-group{
                        .dropdown-toggle{
                            padding: rem(22) rem(60) rem(20) rem(43);
                            border: none;
                            background: none;
                            .filter-option{
                                color: color(gray-dark);
                            }
                            .caret{
                                top: rem(21);
                                right: rem(33);
                                width: rem(18);
                                height: rem(10);
                                background-image:url($wefront__imgPath+"icons/tlf-arrowBottom--blue.png");

                            }
                        }
                        .dropdown-menu{
                            position: relative;
                            .inner{
                                background-color: color(gray-50);
                                border:none;
                            }
                            li{
                                a{
                                    padding: rem(15) rem(60) rem(20) rem(70);
                                    color: color(gray-dark);
                                }
                            }
                        }
                    }
                    &.open{
                        &.btn-group{
                            .dropdown-toggle{
                                .caret{
                                    background-image:url($wefront__imgPath+"icons/tlf-arrowTop--blue.png");
                                }
                            }
                        }
                    }
                }
            }
            .tlf-profile__text{
                padding: rem(20) rem(43) rem(14);
            }
        }
    }
    .tlf-navbar{
        &__container{
            .navbar-toggle{
                display: block;
                padding: rem(20) rem(28) rem(20);
                width: 100%;
                text-align: right;
                .sr-only{
                    position: inherit;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    clip: inherit;
                    display: block;
                    font-family: salesforcesans;
                    font-size: rem(16);
                    color: color(black);
                }
            }
        }
    }
    .tlf-navigation{
        margin-top:rem(25);
        margin-bottom:rem(50);
        &__item{
            margin-bottom:rem(27);
            padding:0 rem(60);
            width:100%;
        }
        &__link{
            font-size: rem(16);
            color:color(blue-30);
        }
        &__text{
            margin-top:rem(8);
            font-size:rem(16);
            line-height: 1.2em;
            color:color(gray-80);

        }
    }
}

//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end navigation
-----------------------------------------------------------------*/