/*-------------------------------------------------------------
    #DFRONT: selectors
-----------------------------------------------------------------*/
.tlf-selector {
    display: inline-block;
    vertical-align: top;
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    max-width: none !important;
    &.btn-group {
        .dropdown-toggle {
            padding: 0;
            border: 1px solid color(gray-150);
            border-radius: 0;
            .filter-option {
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 41px);
                font-family: 'salesforcesans';
                font-size: rem(14);
                color: color(gray-80);
                padding: rem(9);
            }
            .bs-caret {
                display: inline-block;
                vertical-align: top;
                position: relative;
                border: 1px solid #707070;
                width: rem(38);
                height: rem(38);
                background-image: linear-gradient(to bottom, #f2f2f2, #f0f0f0 46%, #dfdfdf 50%, #cfcfcf);
            }
            .caret {
                margin: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 12px solid color(black-10);
                top: rem(15);
                left: rem(8);
            }
            .dropdown-menu {
                top: rem(-10);
            }
        }
    }
}