/*-------------------------------------------------------------
    #DFRONT: header
-----------------------------------------------------------------*/

.tlf-header{
    background-color:color(white);
    &__top{
        position:relative;
        height:rem(105);
        background:url($wefront__imgPath+"contents/header/tlf-bg_header.jpg") no-repeat center center;
        background-size:100% 100%;
    }
    &__cont-img{
        position: absolute;
        bottom:0;
    }
    &__img{
        width:100%;
    }
}
.tlf-profile{
    display: inline-block;
    padding: rem(5) 0 0 8%;
    width: auto;
    vertical-align: middle;
    &:hover,&:focus{
        text-decoration:none;
    }
    &__text{
        display:block;
    }
    &--blue{
        display:block;
        font-family: salesforcesans;
        font-size: rem(14);
        color: color(blue);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover,&:focus{
            color: color(blue-50);
        }
    }
    &__contText{
        display: inline-block;
        margin-right:rem(10);
        padding: rem(9) 0 rem(1) 11%;
        width: 59%;
        vertical-align: top;
        .bootstrap-select{
            margin-top: rem(13);
            .btn-default{
                &:hover,&:focus{
                    background-color:inherit;
                    border-color: color(gray-10);
                }
            }
            &.btn-group{
                .dropdown-toggle{
                    position:absolute;
                    top:0;
                    padding: rem(4) rem(26) rem(4) rem(5);
                    box-shadow: none;
                    background-color:color(gray-50);
                    border: solid 1px color(gray-10);
                    border-radius:5px;
                    &.active{
                        background-color:inherit;
                        border-color: color(gray-10);;
                    }
                    .filter-option{
                        font-family: salesforcesans;
                        font-size: rem(14);
                        color: color(gray-80);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .caret{
                        margin: 0;
                        top: rem(7);
                        right: rem(1);
                        width: rem(14);
                        height: rem(15);
                        background:url($wefront__imgPath+"icons/tlf-arrowBottom.png") no-repeat right center;
                        border: none;
                    }
                }
                .dropdown-menu{
                    margin:0;
                    padding:0;
                    width:100%;
                    background-color: color(white);
                    border:none;
                    box-shadow:none;
                    .inner{
                        border: solid 1px color(gray-10);
                    }
                    li{
                        a{
                            padding: rem(4) rem(5);
                            font-family: salesforcesans;
                            font-size: rem(14);
                            color: color(gray-80);
                            .text{
                                display: block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
            &.open{
                .dropdown-toggle{
                    &.btn-default{
                      background-color: color(white);
                    }
                    .caret{
                        background:url($wefront__imgPath+"icons/tlf-arrowTop.png") no-repeat right center;
                    }
                }
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            float:left;
            width:100%;
            min-height: rem(30);
            &:after{
                content:"";
                display:block;
                clear:both;
            }
        }
    }
}
.tlf-contLinks{
    display:inline-block;
    padding: rem(9) 0;
    width:24%;
    text-align:center;
    vertical-align: top;
    &__text{
        display: block;
        font-family: salesforcesans;
        font-size: rem(14);
        color: color(black);
        &:first-child{
            margin-bottom:rem(20);
        }
        &:hover,&:focus{
            text-decoration: underline;
            color: color(blue-60);
        }
    }
}

//view tablet
@include media-query(md){
    .tlf-header{
        &__top{
            height:rem(100);
            background-image: radial-gradient(circle at 22% 50%, color(blue-70), color(blue-10) 74%, color(blue-70));
        }
    }
    .tlf-profile{
        &__contText{
            margin:0;
            padding: rem(9) 0 0;
            width: 71%;
            .bootstrap-select{
                margin-top: rem(6);
                &.btn-group{
                    .dropdown-toggle{
                        position:inherit;
                        padding: rem(9) rem(20) rem(9) rem(6);
                        .caret{
                            top: rem(12);
                            right: rem(4);
                        }
                    }
                    .dropdown-menu{
                        z-index: 10001;
                    }
                }
            }
        }
    }
    .tlf-contLinks{
        width:26%;
    }
}
//end view tablet


/*-------------------------------------------------------------
    #DFRONT: end header
-----------------------------------------------------------------*/
