/*-------------------------------------------------------------
    #DFRONT: modal
-----------------------------------------------------------------*/

.tlf-new__modal{
    margin:rem(206) auto 0;
    width:rem(741);
    &.modal{
        padding: rem(17);
        .modal-dialog{
            margin: 0;
            width: 100%;
            .tlf-new__modal{
                left: rem(-17);
                top: rem(-17);
                margin: 0 auto;
                overflow: visible;
            }
        }
    }
    &__close{
        position:absolute;
        top:rem(-18);
        right:rem(-18);
        width:rem(36);
        height:rem(36);
        text-indent: -9999px;
        border:none;
        background: url($wefront__imgPath+"icons/tlf-fancybox_sprite.png") no-repeat 0 0;
        z-index:999;
    }
    &__content{
        position:relative;
        padding:rem(15);
    }
    &__container {
        display: block;
        position: relative;
        width: 100%;
    }
    &__body{
        padding:rem(11) rem(44) rem(27);
        max-height: rem(581);
        overflow-y: scroll;
        position:inherit;
        overflow:hidden;
        background:color(gray-30);
    }
    &__data-content {
        display: block;
        position: relative;
        background: color(white);
        border: 1px solid color(gray-150);
        height: rem(276);
        overflow: scroll;
        overflow-x: hidden;
        &--inverse {
            .tlf-new__modal__data {
                width: 40%;
                &--secondary {
                    width: 60%;
                }
            }
        }
        .tlf-new__modal__controlGroup--big{
            width:100%;
        }
        .tlf-table__body__row{
            .tlf-table__body__col{
                color:color(black);
                background-color:color(white);
            }
            &:hover,&:focus{
                .tlf-table__body__col{
                    color:color(black);
                    background-color:color(white);
                }
            }
        }
        &--margin-vertical {
            margin: rem(56) rem(20) rem(20);
        }
        &--simple {
            background: transparent;
            border: none;
            height: auto;
            padding: rem(5) rem(20);
            overflow: visible;
            .tlf-new__modal__data-row {
                padding: rem(10) 0;
            }

        }
    }
    &__data-row {
        display: block;
        position: relative;
        padding: rem(10) rem(15);
        &--title {
            padding: rem(20) rem(15);
        }
    }
    &__data {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 75%;
        font-family: 'salesforcesans';
        font-size: rem(14);
        line-height: 1.14;
        color: color(black);
        &--title {
            display: block;
            width: 100%;
            font-family: 'salesforcesans--bold';
            color: color(black);
        }
        &--secondary {
            width: 25%;
            color: color(gray-90);
        }
    }
    &__title{
        position:absolute;
        top:0;
        right:-16.5%;
        padding: rem(3) rem(7);
        font-family: salesforcesans;
        font-size:rem(12);
        line-height: normal;
        color: white;
        z-index:1;
        background-color: color(black-dark);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    &__title__desc{
        margin-bottom:rem(11);
        font-family: salesforcesans;
        font-size: rem(18);
        font-weight:bold;
        color: color(blue-20);
    }
    &__breadcrumbs{
        margin: rem(15) 0 rem(25);
        &__item{
            display:inline-block;
            &:after{
                content: ">";
                margin-left: rem(5);
                font-family: salesforcesans;
                font-size: rem(13);
                font-weight:bold;
                color: color(gray-80);
            }
            &:last-child{
                &:after{
                    display:none;
                }
            }
        }
        &__text{
            font-family: salesforcesans;
            font-size: rem(13);
            font-weight:bold;
            color: color(gray-80);
        }
    }
    &__form{
        &__legend{
            margin-bottom:rem(11);
            font-family: salesforcesans;
            font-size: rem(18);
            font-weight:bold;
            color: color(blue-20);
            &--description {
                display: block;
                margin-bottom: rem(6);
                padding: 0 rem(10);
            }
        }
        &-row {
            display: inline-block;
            vertical-align: top;
            width: 35%;
            .tlf-new__modal__controlGroup{
                width:100%;
            }
        }
    }
    &__fieldset{
        &:after{
            content:"";
            display:block;
            clear: both;
        }
    }
    &__legend-title {
        display: block;
        position: relative;
        font-family: 'salesforcesans';
        font-size: rem(16);
        line-height: 1.14;
        color: color(black);
        width: 100%;
        border-bottom: 1px solid color(black);
        padding: rem(5) 0 rem(5) rem(10);
    }
    &__controlGroup{
        display:inline-block;
        margin-top: rem(11);
        width:38%;
        vertical-align: top;
        &--small{
            margin: 0 0 0 9%;
            width: 20%;
            .tlf-new__modal__input{
                border: 1px solid color(borde-10);
            }
        }
        &--big{
            display: block;
            margin-top:rem(16);
            width:95.5%;
            .tlf-new__modal__input{
                width:100%;
                border: 1px solid color(borde-10);
                &--simple{
                    border:none;
                }
            }
        }
        &--divider{
            float:left;
            margin-top: rem(30);
            width:50%;
            .tlf-new__modal__label{
                margin-bottom: rem(7);
                color:color(black-dark);
            }
            .tlf-new__modal__input{
                float:left;
                width:62%;
                height:rem(170);
                option{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
        &--without-margin {
            margin: 0;
            width: 100%;
        }
        &--padding-right {
            padding-right: rem(12);
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            float:left;
            width: 100%;
            max-width: rem(180);
        }
        .tlf-new__modal__select{
            float:left;
            margin:rem(6) 0 0;
            font-family: salesforcesans;
            font-size: rem(12);
            color: color(secondary);
            .dropdown-toggle{
                display:none;
            }
            .dropdown-menu{
                display:none;
            }
            .tlf-new__modal__select{
                position:inherit!important;
                left:inherit;
                bottom: inherit;
                margin:0!important;
                width:100%!important;
                opacity:inherit!important;
                border:1px solid color(borde-10);
            }
        }
    }
    &__buttons{
        float:right;
        margin-top:rem(29);
        width:28%;
        text-align:center;
        &__text{
            display:block;
            margin-top: rem(2);
            font-family: salesforcesans;
            font-size:rem(12);
            color:color(black-dark);
        }
        &__button{
            display:block;
            margin:rem(2) auto 0;
            width:rem(24);
            height:rem(20);
            text-indent:-9999px;
            &--add{
                background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 0;
                &:hover,&:focus{
                    background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -20px;
                }
            }
            &--remove{
                background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -60px;
                &:hover,&:focus{
                    background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -80px;
                }
            }
            &--up{
                background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -120px;
                &:hover,&:focus{
                    background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -140px;
                }
            }
            &--down{
                background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -180px;
                &:hover,&:focus{
                    background: url($wefront__imgPath+"icons/tlf-combobox_arrows_sprite.gif") no-repeat 0 -200px;
                }
            }

        }
    }
    &__label{
        display: block;
        font-family: salesforcesans;
        font-size: rem(12);
        line-height: 1.1em;
        font-weight: bold;
        color: color(gray-120);
    }
    &__input{
        display: block;
        padding: 0 rem(1) rem(1);
        font-family: salesforcesans;
        font-size: rem(13);
        color: color(gray-120);
        &--tall{
            min-height: rem(71);
        }
        &--taller{
            min-height:rem(200);
            resize: none;
        }
        &--simple{
            margin-top:rem(6);
            width: rem(179);
            height:rem(19);
        }
    }
    &__controlButton{
        display:none;
    }
    .tlf-hideDesktop{
        display:none;
    }
    .tlf-tabs{
        &__block{
            width:100%;
            border-bottom:1px solid color(groun-secondary);
        }
        &__nav{
            > li{
                > a{
                    &.tlf-tabs{
                        &__link{
                            max-width: rem(190);
                        }
                    }
                }
            }
        }
    }
    &--details {
        &.modal {
            overflow-x: visible;
            overflow-y: visible;
        }
        .tlf-new__modal__body {
            max-height: rem(581);
            overflow-y: scroll;
            padding:rem(11) rem(10) rem(27);
        }
        .tlf-new__modal__title__desc {
            padding: 0 rem(30);
        }
        .tlf-new__modal__breadcrumbs {
            padding: 0 rem(30);
        }
    }
}

//view tablet
@include media-query(md){
    .modal-open{
        padding-right:0!important;
        .modal-backdrop{
            opacity: 0;
            position: inherit;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            transition:none;
        }
        .tlf-show{
            display:none;
        }
        .tlf-new__modal{
            position: relative;
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            margin:0;
            padding:0!important;
            width:100%;
            transition:none;
            .modal-dialog{
                .tlf-new__modal{
                    left: 0;
                    top: 0;
                }
            }
            &__close{
                display:none;
            }
            &__title{
                position:absolute;
                text-indent:-9999px;
                background:none;
            }
            &__content{
                padding: rem(5) rem(56);
                box-shadow: none;
                border: 0;
                background: inherit;
                border-radius:0;
            }
            &__container {
                display: block;
                position: relative;
                width: 67%;
                margin: rem(20) 0 rem(20) rem(10);
            }
            .tlf-new__modal{
                &.in{
                    ~ .tlf-new__modal__content{
                        display:none!important;
                    }
                }
                &__form-row{
                    width: 100%;
                    .tlf-new__modal__controlGroup{
                        width:100%;
                    }
                }
            }
            &__body{
                padding: rem(10) rem(15) rem(35);
                max-height: 100%;
                overflow-y: hidden;
                background:color(white);
            }
            &__data-content {
                height: rem(535);
                width: auto;
                &--simple {
                    height: auto;
                }
            }
            &__form{
                &__legend{
                    margin-bottom: rem(6);
                    color: color(blue-120);
                }
            }
            &__label{
                font-size: rem(16);
                color: color(black-20);
                line-height:1.5em;
            }
            &__input{
                font-size: rem(16);
                color: color(black-20);
                line-height: 1.5em;
                border-color: color(borde-20);
                &--simple{
                    margin-top: rem(3);
                    padding: rem(10) rem(26) rem(10) rem(13);
                    width: 99%;
                    height: rem(42);
                    border: 1px solid color(borde-20);
                }
            }
            &__controlGroup{
                width:41%;
                &--small{
                    margin-left:0;
                    width:18%;
                }
                &--big{
                    margin-top: rem(15);
                    width:100%;
                    .tlf-new__modal__input{
                        padding: rem(8) rem(9);
                        width: 100%;
                    }
                }
                &--divider{
                    margin-top: rem(13);
                    width:50%;
                    .tlf-new__modal__input{
                        padding: rem(6) rem(3);
                        width: 56%;
                        overflow: hidden;
                    }
                }
                &--time{
                    margin-right:rem(13);
                    width:rem(112);
                }
                .tlf-new__modal__select{
                    left:0;
                    margin-top:rem(3);
                    .tlf-new__modal__select{
                        position: absolute!important;
                        bottom: 0;
                        left: 50%;
                        display: block!important;
                        width: rem(0.5)!important;
                        height: 100%!important;
                        padding: 0!important;
                        opacity: 0!important;
                        border: none;
                    }
                    &.btn-group{
                        .dropdown-toggle{
                            display:block;
                            padding: rem(10) rem(26) rem(10) rem(13);
                            background-color:color(white);
                            border:1px solid color(borde-20);
                            border-radius:0;
                            .caret{
                                top: 50%;
                                right: rem(4);
                                margin: rem(-7) 0 0 0;
                                width: rem(14);
                                height: rem(15);
                                border: none;
                                background: url(../assets/img/icons/tlf-arrowBottom.png) no-repeat right center;
                            }
                            .filter-option{
                                font-family: salesforcesans;
                                font-size: rem(14);
                                color: color(gray-80);
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                        .dropdown-menu{
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            background-color: white;
                            border: none;
                            box-shadow: none;
                            .inner{
                                border: solid 1px color(gray-10);
                            }
                            li{
                                a{
                                    padding: rem(4) rem(5);
                                    padding: 0.25rem 0.3125rem;
                                    font-family: salesforcesans;
                                    font-size: rem(14);
                                    color: color(gray-80);
                                    .text{
                                        display: block;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                        &.open{
                            .dropdown-toggle{
                                &.btn-default{
                                    background-color: color(white);
                                    box-shadow: none;
                                    &:hover,&:focus{
                                        border: 1px solid color(gray-10);

                                    }
                                }
                                .caret{
                                    background: url(../assets/img/icons/tlf-arrowTop.png) no-repeat right center;
                                }
                            }
                            .dropdown-menu{
                                display:block;
                            }
                        }
                    }
                }
                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                    max-width: 100%;
                }
            }
            &__buttons{
                float: none;
                display: inline-block;
                margin: rem(11) 0 0;
                width: 26%;
                &__button{
                    margin:rem(2) auto;
                    width: rem(40);
                    height: rem(40);
                    border-radius: 4px;
                    border: solid 1px color(gray-100);
                    &--add{
                        background: url(../assets/img/icons/tlf-arrowRight--gray.png) no-repeat center center color(white);
                    }
                    &--remove{
                        background: url(../assets/img/icons/tlf-arrowLeft--gray.png) no-repeat center center color(white);
                    }
                    &--up{
                        background: url(../assets/img/icons/tlf-arrowTop--gray.png) no-repeat center center color(white);
                    }
                    &--down{
                        background: url(../assets/img/icons/tlf-arrowBottom--gray.png) no-repeat center center color(white);
                    }
                }
                &__text{
                    margin-top: 0;
                    margin-bottom: rem(5);
                    font-size: rem(16);
                }
            }
            &__controlSelect{
                position:relative;
                margin-top:rem(5);
                .tlf-new__modal__input{
                    padding-left:rem(10);
                    width: 100%;
                    height: rem(80);
                    border-radius: 4px;
                    background-color: color(white);
                    border: solid 1px color(gray-100);
                    border-right: 0;
                    -webkit-pointer-events: none;
                    -ms-user-pointer-events: none;
                    -moz-pointer-events: none;
                    option{
                        display:none;
                    }
                }
                .tlf-new__modal__controlButton{
                    display:block;
                    position: absolute;
                    top:0;
                    width: rem(40);
                    height: rem(80);
                    right: 0;
                    border-radius: 4px;
                    background: color(blue-140);
                    background-image: linear-gradient(to bottom, color(blue-130), color(blue-140));
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    &__link{
                        display:block;
                        height:rem(40);
                        text-indent:-9999px;
                        &--top{
                            background: url(../assets/img/icons/tlf-arrowTime.png) no-repeat center center;
                        }
                        &--bottom{
                            background: url(../assets/img/icons/tlf-arrowTimeBottom.png) no-repeat center center;
                        }
                    }
                }
            }
            &--details {
                .tlf-new__modal__body{
                    max-height: 100%;
                    overflow-y: hidden;
                }
                .tlf-new__modal__controlGroup--big {
                    padding-right:0;
                    width: 100%;
                }

            }
        }
        .tlf-hideDesktop{
            display:inline-block;
        }
        .tlf-new__modal--tablet-hidden {
            display: none;
        }
        .tlf-selector {
            width: 100%;
        }
    }
}
//end view tablet


//view mobile
@include media-query(sm){
    .modal-open{
        .tlf-new__modal{
            .modal-dialog{
                .tlf-new__modal{
                    left: 0;
                    top: 0;
                }
            }
            &__form__legend {
                &--description {
                    display: block;
                    padding: 0;
                }
            }
            &__content{
                padding:0;
            }
            &__container {
                display: block;
                position: relative;
                width: 100%;
                margin: rem(20) 0;
            }
            &__data-content {
                height: rem(346);
                width: auto;
                &--simple {
                    height: auto;
                }
            }
            &__data {
                display: block;
                width: 100%;
                padding: rem(5) 0;
            }
            &__data-row {
                padding: rem(5) rem(15);
                &--title {
                    padding: rem(20) rem(15) rem(5);
                }
            }
            .tlf-new__modal{
                &.in{
                    ~ .tlf-new__modal__content{
                        display:none!important;
                    }
                }
            }
            &__body{
                padding: rem(10) rem(13) rem(36);
            }
            &__controlGroup{
                width: 33%;
                &--small{
                    width: 23%;
                    margin-right: 9%;
                }
                &--big{
                    width:100%;
                }
                &--divider{
                    width:50%;
                    .tlf-new__modal__input{
                        width:62%;
                    }
                }
                &--last{
                    width:100%;
                }
                &--time{
                    margin-right:rem(26);
                    width:rem(105);
                }
                &--mbl{
                    display: block;
                    margin-top: 15px;
                    width: 100%;
                    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                        float: none;
                        margin: 0;
                        max-width: 100%;
                        &.btn-group{
                            .dropdown-toggle{
                                border-color: color(borde-20);
                            }
                        }
                    }
                }
            }
            &__buttons{
                width:36%;
            }
            &--details {
                width: 94%;
                margin: 0 rem(15);
            }
        }
        .tlf-hideDesktop{
            display:inline-block;
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .modal-open{
        .tlf-new__modal{
            .modal-dialog{
                .tlf-new__modal{
                    left: 0;
                    top: 0;
                }
            }
            &__form__legend {
                &--description {
                    padding: 0;
                }
            }
            &__content{
                padding:0;
            }
            &__container {
                display: block;
                position: relative;
                width: 100%;
                margin: rem(20) 0;
            }
            &__data-content {
                height: rem(346);
                width: auto;
                &--simple {
                    height: auto;
                }
            }
            &__data {
                display: block;
                width: 100%;
                padding: rem(5) 0;
            }
            &__data-row {
                padding: rem(5) rem(15);
                &--title {
                    padding: rem(20) rem(15) rem(5);
                }
            }
            .tlf-new__modal{
                &.in{
                    ~ .tlf-new__modal__content{
                        display:none!important;
                    }
                }
            }
            &__body{
                padding: rem(10) rem(13) rem(36);
            }
            &__controlGroup{
                display:block;
                width: 100%;
                &--small{
                    width: 23%;
                    margin-right: 9%;
                }
                &--big{
                    width:100%;
                }
                &--divider{
                    width:50%;
                    .tlf-new__modal__input{
                        width:62%;
                    }
                }
                &--last{
                    width:100%;
                }
                &--time{
                    display:inline-block;
                    margin-right:rem(26);
                    width:40%;
                }
                &--mbl{
                    display: block;
                    margin-top: 15px;
                    width: 100%;
                    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                        float: none;
                        margin: 0;
                        max-width: 100%;
                        &.btn-group{
                            .dropdown-toggle{
                                border-color: color(borde-20);
                            }
                        }
                    }
                }
            }
            &__buttons{
                width:36%;
            }
        }
        .tlf-hideDesktop{
            display:inline-block;
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end modal
-----------------------------------------------------------------*/