/*-------------------------------------------------------------
    #DFRONT: form-container
-----------------------------------------------------------------*/

.tlf-login-box {
    display: block;
    position: relative;
    background: color(bg-hover);
    width: rem(450);
    padding: rem(40) rem(30) rem(30);
    margin: rem(263) rem(288);
    font-size: 0;
    box-sizing: border-box;
    &--oval {
        border-radius: rem(20);
    }
    &__row {
        display: block;
        position: relative;
        width: 100%;
        margin: rem(10) 0;
        &--right {
            clear: right;
            float: right;
            text-align: left;
            width: rem(227);
        }
    }
    &__legend {
        display: block;
        position: relative;
        font-family: 'salesforcesans';
        font-size: rem(18);
        color: color(gray-130);
    }
    &__label {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        position: relative;
        padding: rem(10) 0;
        font-family: 'salesforcesans';
        font-size: rem(16);
        color: color(gray-140);
    }
    &__input {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        position: relative;
        padding: rem(10) rem(10);
        background: color(white);
        border: 1px solid color(gray-10);
        font-family: 'salesforcesans';
        font-size: rem(16);
        color: color(gray-140);
    }
    &__link {
        font-family: 'salesforcesans';
        font-size: rem(14);
        color: color(gray-140);
    }
    &__left-clmn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: calc(100% - 227px);
    }

    &__right-clmn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: rem(227);
    }
}
//view tablet
@include media-query(md){
    .tlf-login-box {
        margin: rem(261) rem(160);
        width: calc(100% - 262px);
        &__label {
            max-width: 90%;
        }
    }
}
//end view tablet
//view mobile
@include media-query(sm){
    .tlf-login-box {
        margin: rem(263) 0;
        width: 100%;
        &__label {
            max-width: 90%;
        }
    }
}
//end view mobile
//view mobile min
@include media-query(xs){
    .tlf-login-box {
        margin: rem(263) 0;
        width: 100%;
        &__label {
            max-width: 90%;
        }
        &__left-clmn{
            width: 100%;
        }
        &__right-clmn{
            width: 100%;
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end container
-----------------------------------------------------------------*/