/*-------------------------------------------------------------
    #DFRONT: footer
-----------------------------------------------------------------*/

.tlf-footer{
    padding: rem(7) 0 rem(2);
    background-color:color(blue-dark);
    &__title{
        display: inline-block;
        margin-right:rem(30);
        vertical-align: top;
        font-family: salesforcesans;
        font-size: rem(11);
        line-height: normal;
        color: color(white);
    }
    &__text{
        display: inline-block;
        font-family: salesforcesans;
        font-size: rem(11);
        line-height: normal;
        color: color(white);
        vertical-align: top;
    }
    &__container{
        text-align:center;
    }
}

//view tablet
@include media-query(md){
    .tlf-footer{
        padding: rem(4) 0;
        &__title{
            font-size: rem(14);
            line-height: normal;
        }
        &__text{
            font-size: rem(14);
            line-height: normal;
            vertical-align: top;
        }
    }
}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-footer{
        margin-bottom:0;
        &__title{
            margin-right: 0;
            width: 50%;
            font-size: rem(14);
            line-height: normal;
        }
        &__text{
            width:50%;
            font-size: rem(14);
            line-height: normal;
            vertical-align: top;
        }
    }
}

//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-footer{
        margin-bottom:0;
        &__title{
            margin-right: 0;
            width: 50%;
            font-size: rem(14);
            line-height: normal;
        }
        &__text{
            width:50%;
            font-size: rem(14);
            line-height: normal;
            vertical-align: top;
        }
    }
}

//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end footer
-----------------------------------------------------------------*/