/*-------------------------------------------------------------
    #DFRONT: form-container
-----------------------------------------------------------------*/

.tlf-form-container {
    display: block;
    position: relative;
    height: 100%;
    &--bg1 {
        background:url($wefront__imgPath+"contents/login/login__background1--desktop.png") no-repeat 100% 100%;
        background-size: 100% 100%;
    }
    &--bg2 {
        background:url($wefront__imgPath+"contents/login/login__background2--desktop.png") no-repeat center center;
        background-size: 100% 100%;
    }
    &--bg3 {
        background:url($wefront__imgPath+"contents/login/login__background3--desktop.png") no-repeat center center;
        background-size: 100% 100%;
    }
}
//view tablet
@include media-query(md){
    .tlf-form-container {
        &--bg1 {
            background:url($wefront__imgPath+"contents/login/login__background1--tablet.png") no-repeat center center;
            background-size: 100% 100%;
        }
        &--bg2 {
            background:url($wefront__imgPath+"contents/login/login__background2--tablet.png") no-repeat center center;
            background-size: 100% 100%;
        }
        &--bg3 {
            background:url($wefront__imgPath+"contents/login/login__background3--tablet.png") no-repeat center center;
            background-size: 100% 100%;
        }
    }
}
//end view tablet
//view mobile
@include media-query(sm){
    .tlf-form-container {
        &--bg1 {
            background:url($wefront__imgPath+"contents/login/login__background1--phone.png") no-repeat center center;
            background-size: 100% 100%;
        }
        &--bg2 {
            background:url($wefront__imgPath+"contents/login/login__background2--phone.png") no-repeat center center;
            background-size: 100% 100%;
        }
        &--bg3 {
            background:url($wefront__imgPath+"contents/login/login__background3--phone.png") no-repeat center center;
            background-size: 100% 100%;
        }
    }
}
//end view mobile
/*-------------------------------------------------------------
    #DFRONT: end container
-----------------------------------------------------------------*/