/*-------------------------------------------------------------
    #DFRONT: description
-----------------------------------------------------------------*/
.tlf-description{
    &__item{
        position: relative;
        padding:rem(58) rem(90) rem(118);
        border-bottom: 1px dashed color(borde-tabla);
        .tlf-btn{
            float: none;
            width: 100%;
            max-width: rem(160);
        }
        &--solutions{
            background:url($wefront__imgPath+"contents/00Pg0000001vNB0.png") no-repeat center bottom;
            background-size: cover;
        }
        &--dates{
            background:url($wefront__imgPath+"contents/00Pg0000001vN8p.png") no-repeat center bottom;
            background-size: cover;
        }
        &--security{
            background:url($wefront__imgPath+"contents/sociedade_digital.png") no-repeat center bottom;
            background-size: cover;
        }
    }
    &__titleLink{
        display:block;
        &:hover,&:focus{
            text-decoration: underline;
            color: color(blue-60);
            .tlf-description__title{
                color: color(blue-60);
                text-decoration: underline;
            }
        }
    }
    &__cont-img{
        position: absolute;
        top: 0;
        left:0;
    }
    &__title{
        margin-bottom: rem(3);
        font-family: salesforcesans;
        font-size: rem(22);
        color: color(primary);
    }
    &__text{
        font-family: salesforcesans;
        font-size: rem(12);
        color: color(secondary);
        &--big{
            margin-top: rem(22);
            padding: 0 rem(74);
            font-size: rem(13);
            line-height: 1.2em;
        }
    }
    &__subList{
        margin-top: rem(38);
        padding: 0 rem(5);
        font-size: 0;
    }
    &__subItem{
        display: inline-block;
        margin-bottom:rem(14);
        width: 50%;
        font-size:1rem;
        vertical-align: top;
    }
    &__subTitle{
        margin-bottom: rem(14);
        font-family: salesforcesans;
        font-size: rem(17);
        color: color(secondary);
    }
    &__list{
        &--small{
            margin-top: rem(45);
            .tlf-description__item{
                padding: 0 rem(74) rem(95);
            }
        }
    }
    &__specifications-item{
        line-height: 1em;
        .tlf-description__text{
            padding-left:rem(3);
        }
        &:before{
            content:"-";
        }
    }
    &__list-icons{
        margin-top: rem(10);
        padding: 0 6.5%;
        &__item{
            display: inline-block;
            margin-right: 14.5%;
            width: rem(100);
            vertical-align: top;
            &:last-child{
                margin-right:0;
            }
        }
        &__cont-img{
            width: 100%;
            height: 100%;
        }
        &__img{
            width: 100%;
            height: 100%;
        }
    }
}

//view tablet
@include media-query(md){
    .tlf-description{
        &__item{
            padding: rem(90) rem(70) rem(130);
            border: none;
        }
        &__title{
            margin-bottom:rem(5);
        }
        &__text{
            font-size: rem(16);
            line-height: 1.13em;
            color: color(gray-90);
            &--big{
                padding:0;
            }
        }
        &__subtitle{
            font-size: rem(18);
            color: color(gray-90);
        }
        &__subList{
            margin-top: rem(29);
        }
        &__subItem{
            margin-bottom: rem(7);
            text-align: center;
        }
        &__list{
            &--small{
                .tlf-description__item{
                    padding:0;
                }
            }
        }
        &__list-icons{
            padding: 0;
            text-align: center;
            &__item{
                margin-right:14%;
            }
        }
    }
}
//end view tablet

//view mobile
@include media-query(sm){
    .tlf-description{
        &__item{
            padding: rem(31) rem(13) rem(20);
            &--solutions{
                background: color(white);
            }
            &--dates{
                background: color(white);
            }
            &--security{
                background: color(white);
            }
        }
        &__title{
            color:color(blue-30);
        }
        &__subList{
            margin-top: rem(40);
        }
        &__subItem{
            display: block;
            margin-bottom: rem(10);
            width: 100%;
        }
        &_subTitle{
            margin-bottom: rem(9);
            font-size: rem(18);
        }
        &__list-icons{
            &__item{
                margin-right: 1%;
            }
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-description{
        &__item{
            padding: rem(31) rem(13) rem(20);
            &--solutions{
                background: color(white);
            }
            &--dates{
                background: color(white);
            }
            &--security{
                background: color(white);
            }
        }
        &__title{
            color:color(blue-30);
        }
        &__subList{
            margin-top: rem(40);
        }
        &__subItem{
            display: block;
            margin-bottom: rem(10);
            width: 100%;
        }
        &_subTitle{
            margin-bottom: rem(9);
            font-size: rem(18);
        }
        &__list-icons{
            &__item{
                margin-right: 1%;
            }
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end description
-----------------------------------------------------------------*/