/*-------------------------------------------------------------
    #DFRONT: form
-----------------------------------------------------------------*/

.tlf-form{
    display:inline-block;
    vertical-align: top;
    float:right;
    margin-right:rem(73);
    width: 42%;
    &--simple{
        width:33%;
        .tlf-form__search{
            width: 68%;
        }
    }
    &__label{
        display: block;
        font-family: salesforcesans--bold;
        font-size: rem(16);
        color: color(gray-80);
        &__info{
            display: inline-block;
            margin-left: rem(6);
            width: rem(12);
            height: rem(12);
            cursor: pointer;
            vertical-align: middle;
        }
    }
    &__link{
        display: block;
        margin-top: rem(18);
        margin-bottom:rem(18);
        width: 100%;
        font-family: salesforcesans;
        font-size: rem(14);
        color: color(blue-30);
        &:hover,&:focus{
            color: color(blue-30);
        }
        &__text{
            display:none;
        }
        &.collapsed{
            margin-bottom:0;
            &:after{
                display:none;
            }
            .tlf-form__link__text{
                display:block;
            }
        }
        &:after{
            content:"Hide Advanced Filters";
        }
    }
    &__file{
        margin: rem(9) 0 0;
        text-align: right;
        padding-right: rem(5);
        &__link{
            margin-left: rem(20);
            padding: rem(2) 0 rem(2) rem(22);
            width:30%;
            font-family: salesforcesans;
            font-size: rem(14);
            color: color(blue-30);
            &--exc{
                background:url($wefront__imgPath+"icons/tlf-icon-excel.png") no-repeat left center;
            }
            &--pdf{
                background:url($wefront__imgPath+"icons/tlf-icon-pdf.png") no-repeat left center;
            }
            &:hover,&:focus{
                color: color(blue-30);
            }
        }
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        display: inline-block;
        width: 38%;
        min-height: rem(30);
    }
    &__control-group{
        display: inline-block;
        margin-right: 0.7%;
        vertical-align: top;
        width: 23.7%;
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            margin-top: rem(6);
            width: 100%;
        }
        .tlf-form__input{
            margin: rem(6) 0 0;
            width: 100%;
        }
    }
    &__filters{
        .tlf-form__control-group{
            margin-bottom:rem(10);
        }
    }
    .bootstrap-select{
        &.btn-group{
            &.open{
                .dropdown-toggle{
                    .caret{
                        background: url($wefront__imgPath+"icons/tlf-arrowTop.png") no-repeat right center;
                    }
                }
            }
            .dropdown-toggle{
                padding: rem(10) rem(26) rem(8) rem(13);
                background-color:color(white);
                box-shadow: none;
                border: solid 1px color(gray-10);
                border-radius: 5px;
                .filter-option{
                    font-family: salesforcesans;
                    font-size: rem(14);
                    color: color(gray-80);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .caret{
                    margin: 0;
                    top: 50%;
                    margin-top: rem(-7);
                    right: rem(4);
                    width: rem(14);
                    height: rem(15);
                    background: url($wefront__imgPath+"icons/tlf-arrowBottom.png") no-repeat right center;
                    border: none;
                }
                &:hover,&:focus{
                    background-color:color(white);
                }
            }
            .dropdown-menu{
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: color(white);
                border: none;
                box-shadow: none;
                .inner{
                    border: solid 1px color(gray-10);
                }
                li{
                    position: relative;
                    a{
                        padding: rem(4) rem(5);
                        font-family: salesforcesans;
                        font-size: rem(14);
                        color: color(gray-80);
                        .text{
                            display: block;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
    &__search,&__input{
        margin-left: 2.5%;
        margin-right: rem(11);
        padding: rem(11) rem(5);
        width: 37.5%;
        vertical-align: middle;
        border-radius: 5px;
        background-color: color(white);
        border: solid 1px color(gray-10);
    }
    input[type="search"]{
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    &__modal{
        margin-right:0;
        text-align:right;
    }
}

//view tablet
@include media-query(md){
    .tlf-form{
        margin-right: 0;
        width: 67%;
        &--simple{
            margin-top: rem(4);
            width: 66%;
            .tlf-form__search{
                margin-right: rem(6);
                width: 67%;
                text-align: left;
                background-color:color(white);
            }
            .tlf-form__fieldset{
                text-align: right;
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            width: 35.5%;
        }
        &__search,&__input{
            margin-left: rem(11);
            margin-right: rem(11);
            width: 35.5%;
        }
        &__control-group{
            margin-bottom: rem(18);
            width: 32%;
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                width: 100%;
            }
        }
        &__link{
            margin-top: rem(14);
            margin-bottom: rem(6);
        }
        &__file{
            margin-top: rem(30);
        }
    }
}
//end view tablet

//view mobile
@include media-query(sm){
    .tlf-form{
        margin-top: rem(25);
        width: 100%;
        &--simple{
            margin-top: rem(3);
            margin-right: 0;
            width: 67%;
            .tlf-form__search{
                margin-right: rem(6);
                width: 59.5%;
                text-align: left;
                background-color:color(white);
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            width: 29.3%;
        }
        &__search,&__input{
            margin-left: rem(5);
            margin-right: rem(10);
            width: 42%;
        }
        &__fieldset{
            text-align: left;
        }
        &__control-group{
            margin: 0 0 rem(12);
            width: 100%;
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                width: 100%;
            }
        }
        &__link{
            margin-top:rem(28);
        }
        &__file{
            margin-bottom: rem(20);
        }
        &__modal{
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                width:100%;
            }
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-form{
        margin-top: rem(25);
        width: 100%;
        &--simple{
            display: block;
            margin-top: rem(15);
            width: 100%;
            margin-right: 0;
            .tlf-form__search{
                margin-right: rem(6);
                width: 62.5%;
                text-align: left;
                background-color:color(white);
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            width: 31.4%;
        }
        &__search,&__input{
            margin-left: rem(5);
            margin-right: rem(12);
            width: 35.5%;
        }
        &__fieldset{
            text-align: left;
        }
        &__control-group{
            margin: 0 0 rem(12);
            width: 100%;
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                width: 100%;
            }
        }
        &__link{
            margin-top:rem(28);
        }
        &__file{
            margin-bottom: rem(20);
        }
        &__modal{
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
                width:100%;
            }
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end form
-----------------------------------------------------------------*/