/*-------------------------------------------------------------
    #DFRONT: tabs
-----------------------------------------------------------------*/

.tlf-tabs{
    margin-top: rem(44);
    &__block{
        display:inline-block;
        vertical-align: middle;
    }
    &__nav{
        display:table;
        margin: 0 rem(12);
        border:none;
        >li{
            float:none;
            display:table-cell;
            background-color: color(day);
            border-radius: 10px 10px 0 0;
            &.tlf-tabs__item{
                margin:0;
                &.active{
                    background-color: color(groun-secondary);
                    >a{
                        &.tlf-tabs__link{
                            cursor: not-allowed;
                            font-weight: bold;
                            color: color(white);
                            background-color: inherit;
                            border: none;
                        }
                    }
                    &:hover,&:focus{
                        >a{
                            &.tlf-tabs__link{
                                border:none;
                            }
                        }
                        background-color: color(ground-30);
                    }
                }
                &:hover,&:focus{
                    background-color: color(gray-10);
                }
            }
            >a{
                &.tlf-tabs__link{
                    margin: 0;
                    padding: rem(14);
                    min-width: rem(154);
                    max-width: rem(176);
                    font-family: salesforcesans;
                    font-size: rem(16);
                    text-align: center;
                    line-height: normal;
                    color:color(secondary);
                    cursor: pointer;
                    background-color:inherit;
                    border-radius: 10px 10px 0 0;
                    border: none;

                }
            }
        }
    }
    &__content{
        .tlf-table{
            margin:0;
            padding:0;
        }
    }
    .tlf-btn{
        float: none;
        display: inline-block;
        margin: 0;
        padding: rem(9) rem(4);
        vertical-align: middle;
        font-size:rem(16);
        max-width: rem(183);
        min-width: rem(183);
    }
    .tlf-container__group{
        margin:0;
        .tlf-form{
            margin-bottom:rem(21);
        }
    }
    &__list{
        display: inline-block;
        margin-top: rem(52);
        width: 19%;
        vertical-align: top;
        .tlf-tabs__nav{
            display: block;
            margin: 0;
            >li{
                &.tlf-tabs__item{
                    display: block;
                    margin-bottom: rem(15);
                    background-color: inherit;
                    border-radius: 0;
                    &.active{
                        background-color: inherit;
                        a{
                            &.tlf-tabs__link{
                                font-weight:normal;
                                cursor:default;
                                color: color(black);
                            }
                        }
                    }
                }
                .tlf-tabs__link{
                    padding: 0;
                    cursor: pointer;
                    min-width: 100%;
                    font-size: rem(14);
                    letter-spacing: -0.03em;
                    line-height: 1.2em;
                    color: color(blue-20);
                    text-align: left;
                    border-radius: 0;
                }
            }
        }
    }
    &__sub-content{
        display:inline-block;
        padding-left:rem(6);
        margin-top: rem(22);
        width:80%;
        vertical-align: top;
    }
}

//view tablet
@include media-query(md){
    .tlf-tabs{
        .tlf-btn{
            max-width: rem(180);
        }
        &__sub-content{
            padding: 0 rem(20);
            width: 100%;
            box-sizing: border-box;
        }
    }
}
//end view tablet

//view mobile
@include media-query(sm){
    .tlf-tabs{
        position:relative;
        padding-top:rem(50);
        &__block{
            width:100%;
        }
        &__sub-content{
            padding: 0 rem(18);
            width: 100%;
            box-sizing: border-box;
        }
        .tlf-btn{
            position:absolute;
            top:0;
            left:0;
            float: none;
            margin-right:rem(15);
            margin-top: 0;
            margin-left: rem(12);
            margin-right: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
        }
        .tlf-container__group{
            .tlf-form{
                margin: 0;
            }
        }
        .tlf-containerBtn{
            .tlf-btn{
                position: inherit;
                top: inherit;
                left: inherit;
                margin: 0;
            }
        }
        &__pdd{
            padding-top: 0;
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-tabs{
        position:relative;
        padding-top:rem(50);
        &__block{
            width:100%;
        }
        &__sub-content{
            padding: 0 rem(20);
            width: 100%;
            box-sizing: border-box;
        }
        &__nav{
            margin: 0;
            >li{
                >a{
                    &.tlf-tabs__link{
                        padding: rem(14) rem(3);
                        max-width:rem(139);
                        min-width:rem(139);
                    }
                }
            }
        }
        .tlf-btn{
            float: none;
            position:absolute;
            top:0;
            left:0;
            margin-right:rem(15);
            margin-top: 0;
            margin-left: rem(12);
            margin-right: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
        }
        .tlf-container__group{
            .tlf-form{
                margin: 0;
            }
        }
        .tlf-containerBtn{
            .tlf-btn{
                position: inherit;
                top: inherit;
                left: inherit;
                margin: 0;
            }
        }
        &__pdd{
            padding-top: 0;
        }
    }
}


//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end tabs
-----------------------------------------------------------------*/