/*-------------------------------------------------------------
    #DFRONT: calendar
-----------------------------------------------------------------*/
.tlf-calendar{
    &__month{
        margin-top:rem(10);
        text-align:center;
        &__link{
            display:inline-block;
            vertical-align: top;
            text-indent:-9999px;
            &--prev{
                width:rem(19);
                height:rem(13);
                background:url($wefront__imgPath+"icons/tlf-leftArrow.gif") no-repeat center center;
            }
            &--next{
                width:rem(19);
                height:rem(13);
                background:url($wefront__imgPath+"icons/tlf-rightArrow.gif") no-repeat center center;
            }
        }
        &__title{
            display: inline-block;
            padding: 0 rem(10) 0 rem(6);
            font-family: salesforcesans;
            font-size: rem(12);
            font-weight: bold;
            line-height: normal;
            color: color(gray-20);
            vertical-align: top;
        }
    }
    &__table{
        margin-top:rem(2);
        width:100%;
        border-collapse: separate;
        border-spacing: 2px;
        &__head{
            &__col{
                padding: rem(3);
                text-align: left;
                width: 14%;
                background: color(groun-secondary);
                border-width: 0 0 1px;
                border-style:solid;
                border-color: color(white) color(white) color(borde-tabla);
                &__text{
                    font-family: salesforcesans;
                    font-weight: bold;
                    font-size: rem(12);
                    color: color(white);
                    &--mbl{
                        display:none;
                    }
                }
            }
        }
        &__body{
            &__col{
                padding: 0;
                width: 14%;
                height: rem(90);
                background-color:color(white);
                border: solid color(borde-tabla);
                border-width: 0 1px 1px 0;
                &--inactive{
                    background-color: color(borde);
                }
                &__day{
                    margin-bottom: rem(1);
                    padding: rem(1) rem(3);
                    line-height: 0.8em;
                    background-color: color(day);
                    border-bottom: 1px solid color(borde-tabla);
                }
                &--today{
                    background-color:color(blue-100);
                    .tlf-calendar__table__body__col__day{
                        background-color: color(today);
                    }
                }
                &__event{
                    padding:0 rem(5);
                    line-height: 0.5em;
                    &__text{
                        display: block;
                        margin-bottom: rem(15);
                        font-family: salesforcesans;
                        line-height: 1.2em;
                        font-size: rem(9.6);
                        color: color(secondary);
                    }
                    &__link{
                        display: block;
                        font-size: rem(12);
                        color: color(blue-60);
                    }
                    &--point{
                        display:none;
                    }
                }
            }
        }
        &__text{
            font-family: salesforcesans;
            font-size: rem(10.8);
            font-weight: bold;
            color: color(gray-20);
        }
        &__link{
            float: right;
            margin-right: rem(6);
            margin-top: rem(2);
            display:inline-block;
            text-indent:-9999px;
            width:rem(13);
            height:rem(9);
            background:url($wefront__imgPath+"icons/tlf-addNew_off.gif") no-repeat center center;
            &:hover,&:focus{
                background:url($wefront__imgPath+"icons/tlf-addNew_on.gif") no-repeat center center;
            }
        }
    }
}
.tlf-table__events{
    display:none;
}


//view tablet
@include media-query(md){
    .tlf-calendar{
        &__month{
            &__link{
                width:rem(40);
                height:rem(40);
                vertical-align: middle;
                border-radius: 4px;
                border: solid 1px color(gray-100);
                &--prev{
                    position:relative;
                    background: url($wefront__imgPath+"icons/tlf-arrowLeft--gray.png") no-repeat center center color(white);
                }
                &--next{
                    position:relative;
                    background: url($wefront__imgPath+"icons/tlf-arrowRight--gray.png") no-repeat center center color(white);
                }
            }
            &__title{
                padding:0 rem(13);
                max-width: rem(150);
                font-size:rem(16);
                color:color(black-10);
                vertical-align: middle;
            }
        }
        &__table{
            margin-top: rem(10);
            &__head{
                &__col{
                    background: color(groun-secondary);
                    &__text{
                        font-size: rem(16);
                    }
                }
            }
            &__text{
                font-size:rem(16);
                color:color(black-10);
            }
            &__head{
                &__col{
                    padding: rem(9) rem(3) rem(7);
                }
            }
            &__body{
                &__col{
                    height:rem(142);
                    &__day{
                        padding:rem(15) rem(5) rem(12);
                    }
                    &__event{
                        padding:rem(5) rem(8);
                        &__text{
                            display: block;
                            margin-bottom:rem(10);
                            font-family: salesforcesans;
                            font-size: rem(14);
                            font-weight: bold;
                            line-height: 1.3em;
                            color: color(gray-90);
                            &:last-child{
                                margin-bottom:0;
                            }
                        }
                        &__link{
                            display: block;
                            font-family: salesforcesans;
                            font-size: 0.875rem;
                            font-weight: bold;
                            color: color(gray-90);
                        }
                    }
                }
            }
        }
    }
}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-calendar{
        &__table{
            &__head{
                &__col{
                    padding: rem(2) rem(3) rem(3);
                    &__text{
                        display:none;
                        &--mbl{
                            display:block;
                            font-size:rem(24);
                            text-align:center;
                        }
                    }
                }
            }
            &__body{
                &__col{
                    position:relative!important;
                    height:100%;
                    background-color:color(borde);
                    &--today{
                        .tlf-calendar__table__body__col__day{
                            background:none;
                        }
                    }
                    &__day{
                        margin:0;
                        padding:rem(30) rem(5);
                        text-align:center;
                        background:none;
                        border:none;
                    }
                    &__event{
                        position: absolute;
                        bottom: rem(12);
                        left: 50%;
                        margin-left: rem(-4);
                        padding: 0;
                        &--point{
                            display:inline-block;
                            width: rem(8);
                            height: rem(8);
                            text-indent:-9999px;
                            background-color: color(black-10);
                            border-radius: 4px;
                        }
                        &__text{
                            display:none;
                        }
                    }
                }
            }
            &__link{
                display:none;
            }
            &__text{
                font-size:rem(24);
                color:color(black-10);
            }
        }
        &__month{
            margin-top: rem(6);
            &__title{
                padding:0 rem(21);
                max-width: rem(163);
            }
        }
    }
    .tlf-table__events{
        display:block;
        margin-top:rem(8);
        background-color:color(white);
        &__title{
            padding: rem(12) rem(10) rem(7);
            font-family: salesforcesans;
            font-weight: bold;
            font-size: rem(16);
            line-height: normal;
            text-align: center;
            color: color(white);
            background-color: color(groun-secondary);
        }
        &__item{
            display:table;
            border-bottom: 1px solid color(gray-110);
        }
        &__description{
            display: table-cell;
            padding: rem(24) rem(10) rem(12) rem(35);
            width: 85%;
            vertical-align: top;
        }
        &__text{
            display: block;
            margin-bottom: rem(8);
            font-family: salesforcesans;
            font-size: rem(16);
            color: color(gray-90);
            &--dark{
                font-weight: bold;
            }
        }
        &__link{
            display:table-cell;
            text-indent:-9999px;
            width:15%;
            background: url($wefront__imgPath+"icons/tlf-edit.png") no-repeat center center color(borde);
        }
        &__add{
            display:inline-block;
            margin:0 22.5%;
            padding:rem(19) rem(5) rem(13);
            width:55%;
            position:relative;
            font-family:salesforcesans;
            font-size:rem(16);
            font-weight:bold;
            color:color(gray-90);
            text-align:center;
            &--first{
                padding-right:rem(30);
                font-family:salesforcesans;
                font-size:rem(16);
                font-weight:bold;
                color:color(gray-90);
            }
            &:hover,&:focus{
                color:color(gray-90);
            }
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-calendar{
        &__table{
            &__head{
                &__col{
                    padding: rem(2) rem(3) rem(3);
                    &__text{
                        display:none;
                        &--mbl{
                            display:block;
                            font-size:rem(24);
                            text-align:center;
                        }
                    }
                }
            }
            &__body{
                &__col{
                    position:relative!important;
                    height:100%;
                    background-color:color(borde);
                    &--today{
                        .tlf-calendar__table__body__col__day{
                            background:none;
                        }
                    }
                    &__day{
                        margin:0;
                        padding:rem(30) rem(5);
                        text-align:center;
                        background:none;
                        border:none;
                    }
                    &__event{
                        position: absolute;
                        bottom: rem(12);
                        left: 50%;
                        margin-left: rem(-4);
                        padding: 0;
                        &--point{
                            display:inline-block;
                            width: rem(8);
                            height: rem(8);
                            text-indent:-9999px;
                            background-color: color(black-10);
                            border-radius: 4px;
                        }
                        &__text{
                            display:none;
                        }
                    }
                }
            }
            &__link{
                display:none;
            }
            &__text{
                font-size:rem(24);
                color:color(black-10);
            }
        }
        &__month{
            margin-top: rem(6);
            &__title{
                padding:0 rem(21);
                max-width: rem(163);
            }
        }
    }
    .tlf-table__events{
        display:block;
        margin-top:rem(8);
        background-color:color(white);
        &__title{
            padding: rem(12) rem(10) rem(7);
            font-family: salesforcesans;
            font-weight: bold;
            font-size: rem(16);
            line-height: normal;
            text-align: center;
            color: color(white);
            background-color: color(groun-secondary);
        }
        &__item{
            display:table;
            border-bottom: 1px solid color(gray-110);
        }
        &__description{
            display: table-cell;
            padding: rem(24) rem(10) rem(12) rem(35);
            width: 85%;
            vertical-align: top;
        }
        &__text{
            display: block;
            margin-bottom: rem(8);
            font-family: salesforcesans;
            font-size: rem(16);
            color: color(gray-90);
            &--dark{
                font-weight: bold;
            }
        }
        &__link{
            display:table-cell;
            text-indent:-9999px;
            width:15%;
            background: url($wefront__imgPath+"icons/tlf-edit.png") no-repeat center center color(borde);
        }
        &__add{
            display:inline-block;
            margin:0 22.5%;
            padding:rem(19) rem(5) rem(13);
            width:55%;
            position:relative;
            font-family:salesforcesans;
            font-size:rem(16);
            font-weight:bold;
            color:color(gray-90);
            text-align:center;
            &--first{
                padding-right:rem(30);
                font-family:salesforcesans;
                font-size:rem(16);
                font-weight:bold;
                color:color(gray-90);
            }
            &:hover,&:focus{
                color:color(gray-90);
            }
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end calendar
-----------------------------------------------------------------*/