/*-------------------------------------------------------------
    #DFRONT: table
-----------------------------------------------------------------*/

.tlf-table{
    margin-top: rem(20);
    border-collapse: inherit;
    &__row{
        &--color{
            background-color: color(groun-secondary);
        }
    }
    &__body{
        &__col{
            padding: rem(7) rem(10) rem(12);
            font-family: salesforcesans;
            font-size: rem(12);
            color: color(gray-40);
            &--showMbl{
                display:none!important;
            }
            &--bold{
                font-weight: bold;
            }
            &--center {
                text-align: center;
            }
        }
        &__row{
            &:nth-child(even){
                background-color: color(ground-20);
            }
            &:hover,&:focus{
                .tlf-table__body__col{
                    background-color: color(bg-hover);
                }
            }
        }
        &__link{
            font-family:salesforcesans;
            font-weight: bold;
            font-size:rem(12);
            color: color(secondary);
            &:hover,&:focus{
                color: color(blue-60);
                text-decoration: none;
            }
        }
    }
    &__head{
        &__link{
            display: block;
            padding-right: rem(7);
            font-family:salesforcesans;
            font-size:rem(12);
            color: color(white);
            &:hover,&:focus{
                text-decoration: underline;
                color: color(blue-60);
                outline:none;
                transition:none;
            }
        }
        &__col{
            font-family: salesforcesans;
            font-size:rem(12);
            color: color(white);
            padding: rem(8) rem(10) rem(14);
            &--filter{
                position:relative!important;
                padding-bottom:rem(41);
            }
            &--showMbl{
                display:none!important;
            }
            &--center {
                text-align: center;
            }
            &.headerSortDown{
                background-image:url($wefront__imgPath+"icons/tlf-downarrowbig.png");
                background-repeat:no-repeat;
                background-position:97% rem(14);

            }
            &.headerSortUp{
                background-image:url($wefront__imgPath+"icons/tlf-uparrowbig.png");
                background-repeat:no-repeat;
                background-position:97% rem(14);
            }
        }
    }
    &__text{
        color:color(white);
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        float:left;
        width: rem(42);
        max-width: rem(180);
    }
    &__select{
        float:left;
        margin:rem(6) 0 0;
        font-family: salesforcesans;
        font-size: rem(12);
        color: color(secondary);
        .dropdown-toggle{
            display:none;
        }
        .dropdown-menu{
            display:none;
        }
        .tlf-table__select{
            position:inherit!important;
            left:inherit;
            bottom: inherit;
            margin:0!important;
            width:rem(42)!important;
            opacity:inherit!important;
            border:1px solid color(gray-10);
        }
    }
    &__foot{
        &__col{
            padding:rem(7) 0;
            text-align:center;
        }
        .tlf-pagination{
            &__link{
                display: inline-block;
                font-family:salesforcesans;
                font-size:rem(11.4);
                color: color(black-foot);
                &--prev{
                    padding: 0 rem(5) 0 rem(10);
                    background:url($wefront__imgPath+"icons/tlf-search_prevarrow.gif")no-repeat left center;
                    &.disabled{
                        -webkit-pointer-events:none;
                        -ms-user-pointer-events:none;
                        -moz-pointer-events:none;
                        background:url($wefront__imgPath+"icons/tlf-search_prevarrow_disabled.gif")no-repeat left center;
                    }
                }
                &--next{
                    padding: 0 rem(10) 0 rem(5);
                    background:url($wefront__imgPath+"icons/tlf-search_nextarrow.gif")no-repeat right center;
                    &.disabled{
                        -webkit-pointer-events:none;
                        -ms-user-pointer-events:none;
                        -moz-pointer-events:none;
                        background:url($wefront__imgPath+"icons/tlf-search_nextarrow_disabled.gif")no-repeat right center;
                    }
                }
            }
            &__text{
                display:inline-block;
                font-family:salesforcesans;
                font-size:rem(11.4);
                color:color(black-dark);
            }
        }
    }
    &__filter{
        position:absolute;
        bottom:0;
        left:0;
        display:block;
        width:rem(31);
        height:rem(31);
        text-indent:-9999px;
        background:url($wefront__imgPath+"icons/tlf-icon-filter.png")no-repeat center center color(blue-30);
        border-radius:3px;
    }
    &--border-spacing {
        border-spacing: rem(1);
    }
}


//view tablet
@include media-query(md){
    .tlf-table{
        margin-top:rem(12);
        padding:0;
        &__head{
            &__col{
                padding: rem(11) rem(10) rem(10);
                vertical-align: top;
                width:17%;
                &:first-child{
                    padding-left:rem(66);
                    width:24.5%;
                }
                &:last-child{
                    padding-right:rem(80);
                    width:24.5%;
                }
                &--hideTbl{
                    display:none!important;
                }
                &--filter{
                    padding-bottom: rem(40);
                }
            }
            &__link{
                display: block;
                padding-right: rem(7);
                font-size: rem(16);
                line-height: 1.2em;
            }
        }
        &__body{
            &__col{
                padding: rem(11) rem(10) rem(8);
                font-size:rem(16);
                vertical-align: middle;
                max-width:rem(128);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &:first-child{
                    padding-left:rem(66);
                    max-width:rem(184);
                }
                &:last-child{
                    padding-right:rem(80);
                    max-width:rem(184);
                }
                &--hideTbl{
                    display:none!important;
                }
            }
            &__link{
                font-size: rem(16);
                color:color(black);
            }
            &__row{
                &:nth-child(even){
                    background-color: inherit;
                }
                &:first-child{
                    .tlf-table__body__col{
                        border-top:12px solid color(ground);
                    }
                }
                &:hover,&:focus{
                    &:first-child{
                        .tlf-table__body__col{
                            border-color: color(bg-hover);
                        }
                    }
                }
            }
        }
        &__foot{
            &__col{
                padding:rem(15) 0;
            }
            .tlf-pagination{
                &__link{
                    padding:0;
                    font-size: rem(14);
                    color:color(gray-40);
                    &--prev,&--next{
                         background:none;
                         &.disabled{
                             background:none;
                         }
                    }
                }
                &__text{
                    padding:0 rem(15);
                    font-size: rem(14);
                    color:color(gray-40);
                }
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            margin-left:rem(66);
            width:rem(60);
        }
        &__select{
            position:absolute;
            left:0;
            margin-top:rem(3);
            .tlf-table__select{
                position: absolute!important;
                bottom: 0;
                left: 50%;
                display: block!important;
                width: rem(0.5)!important;
                height: 100%!important;
                padding: 0!important;
                opacity: 0!important;
                border: none;
            }
            &.btn-group{
                .dropdown-toggle{
                    display:block;
                    padding:rem(4) rem(20) rem(4) rem(10);
                    background-color:color(gray-50);
                    border:1px solid color(gray-10);
                    border-radius:5px;
                    .caret{
                        top: rem(7);
                        right: rem(6);
                        margin: 0;
                        width: rem(14);
                        height: rem(15);
                        border: none;
                        background: url(../assets/img/icons/tlf-arrowBottom.png) no-repeat right center;
                    }
                }
                .dropdown-menu{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    background-color: white;
                    border: none;
                    box-shadow: none;
                    .inner{
                        border: solid 1px color(gray-10);
                    }
                    li{
                        a{
                            padding: rem(4) rem(5);
                            padding: 0.25rem 0.3125rem;
                            font-family: salesforcesans;
                            font-size: rem(14);
                            color: color(gray-80);
                            .text{
                                display: block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
                &.open{
                    .dropdown-toggle{
                        &.btn-default{
                            background-color: color(white);
                            box-shadow: none;
                            &:hover,&:focus{
                                border: 1px solid color(gray-10);

                            }
                        }
                        .caret{
                            background: url(../assets/img/icons/tlf-arrowTop.png) no-repeat right center;
                        }
                    }
                    .dropdown-menu{
                        display:block;
                    }
                }
            }
        }
    }

}

//end view tablet

//view mobile
@include media-query(sm){
    .tlf-table{
        &__head{
            &__row{
                float:left;
                width:100%;
            }
            &__col{
                display:none!important;
                &--show{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(25);
                    width:60%;
                    max-width:60%;
                    &:first-child{
                        padding-left:rem(25);
                        padding-right:rem(10);
                        width:40%;
                        max-width:40%;
                    }
                }
                &--filter{
                    position:relative!important;
                    width: 33%;
                    max-width: 33%;
                    &.tlf-table__head__col--show{
                        &:first-child{
                            width: 33%;
                            max-width: 33%;
                        }
                    }
                }
                &--show-second{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(10);
                    width:40%;
                    max-width:40%;
                }
                &.headerSortDown{
                    background-position:97% rem(18);
                }
                &.headerSortUp{
                    background-position:97% rem(18);
                }
            }
        }
        &__body{
            &__row{
                position:relative;
                float:left;
                width:100%;
                cursor:pointer;
                &:first-child{
                    .tlf-table__body__col{
                        border:none;
                    }
                }
                &:hover,&:focus{
                    .tlf-table__body__col{
                        background:none;
                        &--showMbl{
                            background-color: color(tabla);
                        }
                    }
                }
                &.collapsed{
                    border-bottom: 1px solid color(gray-30);
                    &:after{
                        background: url("../assets/img/icons/tlf-arrowBottom--blue.png") no-repeat right center;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: rem(16);
                    right: 2%;
                    width: rem(18);
                    height: rem(10);
                    background: url("../assets/img/icons/tlf-arrowTop--blue.png") no-repeat right center;
                }
                &--simple{
                    border-bottom: 1px solid color(gray-30);
                    &:after{
                        display:none;
                    }
                }
            }
            &__col{
                display:none;
                &--show{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(25);
                    width:60%;
                    max-width:57%;
                    font-weight:bold;
                    color:color(gray-90);
                    background:none;
                    &:first-child{
                        padding-left:rem(25);
                        padding-right:rem(10);
                        width:40%;
                        max-width:40%;
                    }
                }
                &--filter{
                    position:relative!important;
                    width: 33%;
                    max-width: 33%;
                    &.tlf-table__body__col--show{
                        white-space: normal;
                        &:first-child{
                            width: 33%;
                            max-width: 33%;
                        }
                    }
                }
                &--normal{
                    white-space: normal;
                }
                &--show-second{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(10);
                    width:40%;
                    max-width:40%;
                }
                &--showMbl{
                    &.collapse.in{
                        display:block!important;
                        float: left;
                        position: inherit;
                        padding-left:rem(25);
                        padding-right:rem(25);
                        width:100%;
                        max-width: 100%;
                        background-color: color(tabla);
                    }
                }
            }
        }
        &__foot{
            &__col{
                padding:rem(64) 0 0;
                text-align: right;
            }
        }
        &:after{
            content:"";
            clear:both;
            display:block;
        }
        &__showMbl{
            &__text{
                display:block;
                margin-bottom:rem(13);
                font-family:salesforcesans;
                font-size: rem(16);
                font-weight: bold;
                color:color(gray-90);
                &:last-child{
                    margin-bottom:0;
                }
                &__filter{
                    position:relative;
                    padding-left:rem(58);
                    .tlf-table__filter{
                        top:0;
                        width:rem(42);
                        height:rem(42);
                    }
                }
            }
            &__sbText{
                display:block;
                margin-top:rem(4);
                font-family:salesforcesans;
                font-size: rem(16);
                color:color(gray-90);
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            margin-left:rem(25);
            margin-top: rem(-3);
        }
        &--simple{
            .tlf-table__body__col,.tlf-table__head__col{
                &:last-child{
                    padding-right:rem(25);
                    max-width:57%;
                }
            }
        }
    }
    .tlf-pagination{
        margin-right: rem(5);
        padding-left: rem(100);
        &__link,&__text{
            font-size: rem(15);
        }
    }
}
//end view mobile

//view mobile min
@include media-query(xs){
    .tlf-table{
        &__head{
            &__row{
                float:left;
                width:100%;
            }
            &__col{
                display:none!important;
                &--show{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(25);
                    width:60%;
                    max-width:60%;
                    &:first-child{
                        padding-left:rem(25);
                        padding-right:rem(10);
                        width:40%;
                        max-width:40%;
                    }
                }
                &--filter{
                    position:relative!important;
                    width: 33%;
                    max-width: 33%;
                    &.tlf-table__head__col--show{
                        &:first-child{
                            width: 33%;
                            max-width: 33%;
                        }
                    }
                }
                &--show-second{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(10);
                    width:40%;
                    max-width:40%;
                }
                &.headerSortDown{
                    background-position:97% rem(18);
                }
                &.headerSortUp{
                    background-position:97% rem(18);
                }
            }
        }
        &__body{
            &__row{
                position:relative;
                float:left;
                width:100%;
                cursor:pointer;
                &.collapsed{
                    border-bottom: 1px solid color(gray-30);
                }
                &:first-child{
                    .tlf-table__body__col{
                        border:none;
                    }
                }
                &:hover,&:focus{
                    .tlf-table__body__col{
                        background:none;
                        &--showMbl{
                            background-color: color(tabla);
                        }
                    }
                }
                &.collapsed{
                    &:after{
                        background: url("../assets/img/icons/tlf-arrowBottom--blue.png") no-repeat right center;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: rem(16);
                    right: 2%;
                    width: rem(18);
                    height: rem(10);
                    background: url("../assets/img/icons/tlf-arrowTop--blue.png") no-repeat right center;
                }
                &--simple{
                    border-bottom: 1px solid color(gray-30);
                    &:after{
                        display:none;
                    }
                }
            }
            &__col{
                display:none;
                &--show{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(25);
                    width:60%;
                    max-width:57%;
                    font-weight:bold;
                    color:color(gray-90);
                    background:none;
                    &:first-child{
                        padding-left:rem(25);
                        padding-right:rem(10);
                        width:40%;
                        max-width:40%;
                    }
                }
                &--filter{
                    position:relative!important;
                    width: 33%;
                    max-width: 33%;
                    &.tlf-table__body__col--show{
                        white-space: normal;
                        &:first-child{
                            width: 33%;
                            max-width: 33%;
                        }
                    }
                }
                &--normal{
                    white-space: normal;
                }
                &--show-second{
                    display:inline-block!important;
                    float:left!important;
                    position:inherit!important;
                    padding-left:rem(25);
                    padding-right:rem(10);
                    width:40%;
                    max-width:40%;
                    font-weight:bold;
                    color:color(gray-90);
                    background:none;
                }
                &--showMbl{
                    &.collapse.in{
                        display:block!important;
                        padding-left:rem(25);
                        padding-right:rem(25);
                        width:100%;
                        max-width: 100%;
                        background-color: color(tabla);
                    }
                }
            }
        }
        &__foot{
            &__col{
                padding:rem(64) 0 0;
                text-align: right;
            }
        }
        &:after{
            content:"";
            clear:both;
            display:block;
        }
        &__showMbl{
            &__text{
                display:block;
                margin-bottom:rem(13);
                font-family:salesforcesans;
                font-size: rem(16);
                font-weight: bold;
                color:color(gray-90);
                &:last-child{
                    margin-bottom:0;
                }
                &__filter{
                    position:relative;
                    padding-left:rem(58);
                    .tlf-table__filter{
                        top:0;
                        width:rem(42);
                        height:rem(42);
                    }
                }
            }
            &__sbText{
                display:block;
                margin-top:rem(4);
                font-family:salesforcesans;
                font-size: rem(16);
                color:color(gray-90);
            }
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
            margin-left:rem(25);
            margin-top: rem(-3);
        }
        &--simple{
            .tlf-table__body__col,.tlf-table__head__col{
                &:last-child{
                    padding-right:rem(25);
                    max-width:57%;
                }
            }
        }
    }
    .tlf-pagination{
        margin-right: rem(5);
        padding-left: rem(100);
        &__link,&__text{
            font-size: rem(15);
        }
    }
}
//end view mobile min

/*-------------------------------------------------------------
    #DFRONT: end table
-----------------------------------------------------------------*/