///*--------------------------------------------------------
//    #SETTINGS
//----------------------------------------------------------*/

@import "settings/_settings__config";
@import "settings/_settings__colors";
@import "settings/_settings__grid";
@import "settings/_settings__headings";
@import "settings/_settings__responsive";
@import "settings/_settings__z-index";






///*----------------------------------------------------------
//    #TOOLS
//----------------------------------------------------------*/

@import "tools/_tools__colors";
@import "tools/_tools__fonts";
@import "tools/_tools__percentaje";
@import "tools/_tools__pixel-to-em";
@import "tools/_tools__pixel-to-rem";
@import "tools/_tools__responsive";
@import "tools/_tools__z-index";
@import "tools/_tools__border";
@import "tools/_tools__box-shadow";
@import "tools/_tools__clearfix";





/*----------------------------------------------------------
    #GENERIC
----------------------------------------------------------*/

@import "generic/_generic__reset";
@import "generic/_generic__box-sizing";





/*----------------------------------------------------------
    #BASE
----------------------------------------------------------*/

@import "base/_base__fonts";
@import "base/_base__headings";
@import "base/_base__image";
@import "base/_base__lists";
@import "base/_base__html";





/*----------------------------------------------------------
    #OBJETCS
----------------------------------------------------------*/

@import "objects/_objects__grid--float";
@import "objects/_objects__buttons";
@import "objects/_objects__wrapper";





/*----------------------------------------------------------
    #COMPONENTS
----------------------------------------------------------*/

@import "components/_comp__buttons";
@import "components/_comp__header";
@import "components/_comp__news";
@import "components/_comp__carousel";
@import "components/_comp__footer";
@import "components/_comp__form";
@import "components/_comp__navigation";
@import "components/_comp__container";
@import "components/_comp__table";
@import "components/_comp__calendar";
@import "components/_comp__modal";
@import "components/_comp_description";
@import "components/_comp_tabs";
@import "components/_comp__form-container";
@import "components/_comp__login-box";
@import "components/_comp__modal-checkboxes";
@import "components/_comp__selectors";

/*----------------------------------------------------------
    #TRUMPS
----------------------------------------------------------*/

@import "trumps/_trumps__clearfix";
@import "trumps/_trumps__float";
@import "trumps/_trumps__headings-responsive";
@import "trumps/_trumps__hide";
@import "trumps/_trumps__text-align";
@import "trumps/_trumps__text-transform";
@import "trumps/_trumps__disabled";


/*Styles*/

.tlf-content{
    padding-right:0!important;
}

@include media-query(lg){
    .row{
        margin:0;
    }
}
@include media-query(md){
    .row{
        margin:0;
    }
}
@include media-query(sm){
    .row{
        margin:0;
    }
}

@include media-query(xs){
    .row{
        margin:0;
    }
}

